/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {color: #333333; border:0; margin:0; padding:0; font:inherit; font-size:100%; vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {font-size:13px; line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}

/* Web Font */
/*
@font-face {
 font-family: 'Nanum Barun Gothic';
 font-weight: 400;
 src: url(/fonts/Nanum Barun GothicR.eot);
 src: url(/fonts/Nanum Barun GothicR.eot?#iefix) format('embedded-opentype'),
      url(/fonts/Nanum Barun GothicR.woff) format('woff'),
      url(/fonts/Nanum Barun GothicR.ttf) format('truetype');
}
@font-face {
 font-family: 'Nanum Barun Gothic';
 font-weight: 700;
 src: url(/fonts/Nanum Barun GothicB.eot);
 src: url(/fonts/Nanum Barun GothicB.eot?#iefix) format('embedded-opentype'),
      url(/fonts/Nanum Barun GothicB.woff) format('woff'),
      url(/fonts/Nanum Barun GothicB.ttf) format('truetype');
}
@font-face {
 font-family: 'Nanum Barun Gothic';
 font-weight: 800;
 src: url(/fonts/Nanum Barun GothicEB.eot);
 src: url(/fonts/Nanum Barun GothicEB.eot?#iefix) format('embedded-opentype'),
      url(/fonts/Nanum Barun GothicEB.woff) format('woff'),
      url(/fonts/Nanum Barun GothicEB.ttf) format('truetype');
}
@font-face {
 font-family: 'Nanum Barun Gothic';
 font-weight: 300;
 src: url(/fonts/Nanum Barun GothicL.eot);
 src: url(/fonts/Nanum Barun GothicL.eot?#iefix) format('embedded-opentype'),
      url(/fonts/Nanum Barun GothicL.woff) format('woff'),
      url(/fonts/Nanum Barun GothicL.ttf) format('truetype');
}
*/

/*
 * Nanum Barun Gothic (Korean) http://hangeul.naver.com
 */

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/NanumBarunGothicUltraLight.eot);
  src: local('Nanum Barun Gothic UltraLight'),
       local('NanumBarunGothicUltraLight'),
       url(/fonts/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(/fonts/NanumBarunGothicUltraLight.woff2) format('woff2'),
       url(/fonts/NanumBarunGothicUltraLight.woff) format('woff'),
       url(/fonts/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NanumBarunGothicLight.eot);
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(/fonts/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(/fonts/NanumBarunGothicLight.woff2) format('woff2'),
       url(/fonts/NanumBarunGothicLight.woff) format('woff'),
       url(/fonts/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NanumBarunGothic.eot);
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url(/fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(/fonts/NanumBarunGothic.woff2) format('woff2'),
       url(/fonts/NanumBarunGothic.woff) format('woff'),
       url(/fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NanumBarunGothicBold.eot);
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url(/fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(/fonts/NanumBarunGothicBold.woff2) format('woff2'),
       url(/fonts/NanumBarunGothicBold.woff) format('woff'),
       url(/fonts/NanumBarunGothicBold.ttf) format('truetype');
}

/* common */
* {box-sizing:border-box;}
html, body {height:100%;}
body {font-family:"Nanum Barun Gothic", sans-serif;}
a {text-decoration:none;}
img {vertical-align:top;}
table {table-layout:fixed; border-collapse:collapse; width:100%;}
caption {overflow:hidden; height:0; text-indent:-1000em;}
legend {overflow:hidden; position:absolute; left:-1000%; height:0;}
select, button, input, textarea {background:none; border:none; font-family:"Nanum Barun Gothic", sans-serif; appearance:none; -webkit-appearance:none;}
button {background:none; border:0; margin:0; padding:0; text-align:left; cursor:pointer;}
select {cursor:pointer;}
select, button, input[type="text"], input[type="password"] {width:100%;}
select::-ms-expand {display:none;}
label {cursor:pointer;}
video {display:block; width:100%; height:100%;}
input::-ms-clear,
input::-ms-reveal {display:none;}

/* Align */
.ac {text-align:center !important;}
.ar {text-align:right !important;}
.al {text-align:left !important;}
.fl {float:left;}
.fr {float:right;}
.vt * {vertical-align:top;}
.vm,
.vm * {vertical-align:middle !important;}
.vb,
.vb * {vertical-align:bottom !important;}
.ps {position:static !important;}

.elemC {position:absolute !important; left:50%; top:50%; transform:translate(-50%, -50%);}

/* Gap */
.mt00 {margin-top:0 !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}

.ml20 {margin-left:20px !important;}

.mla {margin-left:auto !important;}

/* Hide & Show */
.pcView {display:none;}

@media only all and (min-width:1100px) {
	.mobileView {display:none;}
	.pcView {display:block;}
	a.pcView {display:inline;}
}

/* Temp */
.of, .elips {overflow:hidden;}
.clfix:after {content:""; display:block; height:0px; clear:both; visibility:hidden;}
* html .clfix {height:1%;} /* Hides from IE-mac */
.clfix {*zoom:1;} /*for IE 5.5-7*/
.blind {position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0;}