
/* Login */
	.loginPage {overflow-y:hidden; position:relative; height:100vh; padding:0 4.43vw 0 5%; background: url("../images/ibk-logo-bg.svg") right bottom no-repeat; background-size: 45%}
	.loginPage:before {content:""; position:absolute; left:0; top:15%; bottom:0; width:50%;}
	.loginPage:after {content:""; position:absolute; left:0; top:15%; bottom:0; width:50%;}
	.loginPage .loginParaWrap {position:absolute; left:0; top:15%; width:50%; padding-right:4.5vw; font-style:italic; text-align:right; color:white;}
	.loginPage .loginPara01 {font-size:2.5vw;}
	.loginPage .loginPara02 {margin-top:17px; font-size:2vw; font-weight:700;}
	.loginPage .loginFormWrap {z-index: 9999; position:absolute; top:45%; width:38.93vw; max-width:545px; padding-bottom:145px; transform:translate(0, -50%); color:#333;}
	.loginPage .login-field {padding-left:15%; width: 364px;}
	.loginPage img{margin-bottom: 36px;}
	.loginPage .login-field input[type="text"]{width: 80%; height: 40px; margin-bottom: 24px; background-color: white; font-size: 14px; line-height: 1.8; padding: 0px 16px; border-radius: 4px; border-width: 1px; border-style: solid; border-color: rgb(206, 211, 214); border-image: initial; outline: none;}
    .loginPage .login-field input[type="text"]:focus {border:solid 1px #3F68B8}
    .loginPage .login-field input[type="password"]{width: 80%; height: 40px; margin-bottom: 24px; background-color: white; font-size: 14px; line-height: 1.8; padding: 0px 16px; border-radius: 4px; border-width: 1px; border-style: solid; border-color: rgb(206, 211, 214); border-image: initial; outline: none;}
    .loginPage .login-field input[type="password"]:focus {border:solid 1px #3F68B8}
    .loginPage .login-field label{display:inline-block; font-size: 14px; line-height: 29px; color: rgb(135, 141, 145); font-weight: 500; padding: 7px 24px 7px 0px;}
    .loginPage .login-field label:first-child {padding-right:33px;}
    .loginPage .login-field input[type="checkbox"]{display: none;}
    .loginPage .login-field input[type="checkbox"] + label {display:inline-block; float: left; width: 100%; height: 32px; text-indent: 26px; background: url("../images/icon/checkbox.svg") no-repeat 0 12px;}
    .loginPage .login-field input[type="checkbox"] {clear: both; content: ""}
    .loginPage .login-field input[type="checkbox"]:checked + label {background: url("../images/icon/checkbox-checked.svg") no-repeat 0 12px;}
	.loginPage .login-field input[id="rememberId"] {display: none;}
	

	.loginPage .btnLogin {display:block; background:#E75A86; width:100%; margin-top:64px; padding:14px 0px; font-size:15px; text-align:center; color:white;}

	.loginPage .footer {position:fixed; left:5%; bottom:40px; width:542px; padding-right:4.43vw; font-size:14px; line-height:22px; color:#333;}
	.loginPage .footer p {width:520px; margin-top:19px;}
	.loginPage .footer p:first-child {margin-top:0;}


	@media only all and (min-width:1400px) {
		/*#loginPage {padding:0 0 0 769px;}
		#loginPage:before {width:703px;}
		#loginPage:after {width:703px;}*/
		.loginPage .loginParaWrap {width:703px; padding-right:63px;}
		.loginPage .loginPara01 {font-size:35px;}
		.loginPage .loginPara02 {margin-top:17px; font-size:28px;}
		.loginPage .loginFormWrap {width:545px;}

		.loginPage .footer {left:5%; padding-left:0;}
	}




/* Chagne PW */

	.pop_changPw p{padding-left:6%; margin-bottom: 24px;}
	.pop_changPw .changpwField {padding-left:6%; width: 364px;}
	.pop_changPw .changpwField input[type="text"]{width: 64%; height: 40px; margin-bottom: 16px; background-color: white; font-size: 14px; line-height: 1.8; padding: 0px 16px; border-radius: 4px; border-width: 1px; border-style: solid; border-color: rgb(206, 211, 214); border-image: initial; outline: none;}
    /* .chang-pw-pop .changpwField input[type="text"]:focus {border:solid 1px #3F68B8} */
    .pop_changPw .changpwField input[type="password"]{width: 64%; height: 40px; margin-bottom: 16px; background-color: white; font-size: 14px; line-height: 1.8; padding: 0px 16px; border-radius: 4px; border-width: 1px; border-style: solid; border-color: rgb(206, 211, 214); border-image: initial; outline: none;}
    .pop_changPw .changpwField input[type="password"]:focus {border:solid 1px #3F68B8}
	.pop_changPw .changpwField input[readonly]{color:#888888; background-color: #EEEEEE;}
	.pop_changPw .changpwField input:read-only{color:#888888; background-color: #EEEEEE;}
    .pop_changPw .changpwField input:-moz-read-only{color:#888888; background-color: #EEEEEE;}
    .pop_changPw .changpwField label{display:inline-block; width:32%; font-size: 14px; text-align: right; line-height: 29px; color: #333333; font-weight: 500; padding: 7px 4px 7px 0px;}
    .pop_changPw .changpwField input[type="checkbox"]{float: left; width: 20px; height: 20px; margin: 12px 8px 48px 48px; background-color: white; border-radius: 4px; border-width: 1px; border-style: solid; border-color: rgb(206, 211, 214); border-image: initial; outline: none;}
	
	.pop_changPw .btnPw {display:block; margin:auto; background:#3F68B8; width:120px; margin-top:15px; line-height:43px; font-size:15px; text-align:center; color:white;}

	.pop_changPw .msgP {}
	.confirmMsg {display: block; width: 72%; height: 40px; margin-bottom: 24px; margin-left: 12%; background-color: #f0f5ff; font-size: 14px; font-weight: bold; color:#325393; line-height: 2.58em; padding: 0px 16px; border-radius: 4px; border-width: 1px; border-style: solid; border-color: 1px #E75A86; border-image: initial; outline: none;}
    .checkError {display: block; width: 72%; height: 40px; margin-bottom: 24px; margin-left: 12%; background-color: #FFE5EA; font-size: 14px; font-weight: bold; color:#DF225D; line-height: 2.58em; padding: 0px 16px; border-radius: 4px; border-width: 1px; border-style: solid; border-color: 1px #E75A86; border-image: initial; outline: none;}
    .CharError {display: block; width: 72%; height: 40px; margin-bottom: 24px; margin-left: 12%; background-color: #FFE5EA; font-size: 14px; font-weight: bold; color:#DF225D; line-height: 0.89em; padding: 6px 16px; border-radius: 4px; border-width: 1px; border-style: solid; border-color: 1px #E75A86; border-image: initial; outline: none;}
    .loginPage .login-field input[type="text"]:focus {border:solid 1px #3F68B8}



/* Main */

	.containerWrap {width:100%; padding:1.1% 2%;}
	.mainLogo {display:inline-block; width: 30%; height: 48px; text-indent: -999999px; background: url("../images/ibk-logo.svg") no-repeat; background-size: 90%;}
	.subMenu {width:auto; float:right; margin-top: 16px;}
	.subMenu ul li {float: left; font-size: 16px; padding-left: 16px;}
	.subMenu li:first-child {font-size: 14px;}
	.subMenu li span {color:#3F68B8; font-weight: bold;}

	.sectionTitle {}
	.sectionTitle h2 {height:42px; width: 240px; font-size: 20px; margin-top: 2.7%; line-height: 2.1em; font-weight: bold; background:url("../images/icon/title-icon.svg") no-repeat 106px 0px; background-size: 12%}
	.sectionContent {margin-bottom: 2%;}
	.sectionContent .refreshBtn {display:block; float: right; margin:auto; background:#E75A86; width:120px; margin-top:-48px; height: 38px; font-size:15px; text-align:center; color:white; line-height:1.6em;}
	.sectionContent table {text-align: center; padding:1%;}
	.sectionContent table thead td,
	.sectionContent table tbody td {vertical-align: middle;}
	.sectionContent table thead tr {height:7vh; font-size: 0.95rem; font-weight: 700; border-top: 2px solid #3F68B8; border-bottom: 1px solid #E0E2E1; background-color: #f0f5ff;}
	.sectionContent table tbody tr {border-bottom: 1px solid #E0E2E1;}
	.sectionContent table thead tr td {color:#333; font-size: 0.95rem;}
	.sectionContent table tbody tr {height:6vh;}
	.sectionContent table tbody tr td.statusOn:before {content:"●"; padding-right:4px; color:#00A4E3; font-size: 9px;}
	.sectionContent table tbody tr td.statusWaiting:before {content:"●"; padding-right:4px; color:#FDD367; font-size: 9px;}
	.sectionContent table tbody tr td.statusDone{color:#B2B6C0;}
	.sectionContent table tbody tr td.statusDone:before {content:"●"; padding-right:4px; color:#B2B6C0; font-size: 9px;}
	.sectionContent table tbody tr td a {font-weight: 700; color:#00A4E3;}
	.sectionContent .pagingWrap {width:20vw; padding:2vh 0 0; margin: 0 auto;}
	.sectionContent .pagingWrap ul {display: flex;}
	.sectionContent .pagingWrap ul li {flex: 1;}
	.sectionContent .pagingWrap ul li a {color:#bdbdbd;}
	.sectionContent .pagingWrap ul li a.on {color:#3f68b8; font-weight: bold;}
	.sectionContent .pagingWrap ul li:nth-child(1) {height:12px; font-size: 0;}
	.sectionContent .pagingWrap ul li:nth-child(2) {height:12px; font-size: 0;}
	.sectionContent .pagingWrap ul li:nth-child(12) {height:12px; font-size: 0;}
	.sectionContent .pagingWrap ul li:nth-child(13) {height:12px; font-size: 0;}


	/* Footer */
	.footerWrap {position: absolute; bottom: 0; left: 0; width: 100vw; margin-top:2%; height: 8vh; background: #EEEEEE;}
	.footerWrap .footer {padding:0.5% 3%;}
	.footerWrap .footer div.footerMenu {height:16px; padding: 4px 8px; color:#888888;}
	.footerWrap .footer div.footerMenu a {float: left; padding-right: 8px; cursor:pointer;}
	.footerWrap .footer div.footerMenu a:last-child {padding-right: 0px;}
	
	.Copyright {}
	.Copyright span{display: block; padding-top:1%; padding-left: 6px; text-align:left; color:#888888;}
	.ibkLogogr {height: 60px; width:240px; float: right; margin-top:4px; font-size:0; background:url("../images/footer-logo.svg") no-repeat 0px 6px}

	