/* Division */
	body {height:100%;}
	#wrap {height:100%;}

	/*
		min-height:calc(100% - 111px - 122px);
		70px - Header Height
		126px - Footer Height
	*/
	#main {min-height:calc(100% - 111px - 122px);}
	#container {overflow:hidden; padding:52px 0;}
	#container .containerIn {background:white;}
	#container .lnbArea {float:left; width:220px;}
	#container .lnbTitle {border-bottom:4px solid #3f68b8; padding-bottom:12px; font-size:25px; font-weight:700; color:#3f68b8;}
	#container .lnbMenu {font-size:16px; font-weight:700; line-height:42px;}
	#container .lnbMenu li {border-bottom:1px solid #ddd; margin-top:7px;}
	#container .lnbMenu a {position:relative; display:block; color:#666;}
	#container .lnbMenu a:before {display:none; content:""; position:absolute; right:0; top:50%; background: url("/images/icon/icon_lnb.png") no-repeat; width:9px; height:16px; transform:translate(0, -50%);}
	#container .lnbMenu a:hover,
	#container .lnbMenu li.active a {color:#333;}
	#container .lnbMenu a:hover:before,
	#container .lnbMenu li.active a:before {display:block;}
	#contents {float:left; width:740px; margin-left:40px;}
	#contents .contentsIn {margin-top:32px;}
	#popContents {padding:23px 40px;}

	.elemMA {position:relative; width:1120px; margin:0 auto;}

/* Header */
	header {position:relative; z-index:20;}
	header .headerIn {background:white; border:1px solid #e7e8ea; height:111px;}
	header .headerTop {overflow:hidden; padding-top:13px;}
	header .headerLogo {float:left;}
	header .tblLayout {float:right; width:auto;}
	header .tblLayout > * {vertical-align:top;}
	header .headerSearch {position:relative;}
	header .headerSearch input {width:211px; padding-right:30px;}
	header .headerSearch .iconElem {position:absolute; right:9px; top:6px;}
	header .headerUserInfo {position:relative; padding-left:62px; line-height:30px;}
	header .headerUserInfo .thumbArea {left:26px; border-radius:50%; width:30px; height:30px;}
	header .headerUserInfo .headerUserName {font-weight:700; color:#333;}
	header .headerUserInfo .headerUserPos {color:#ababab;}
	header .headerAuthority {padding-left:19px;}
	header .headerAuthority .selectBox {width:145px;}
	header .headerBtn > * {width:auto; margin-left:19px; font-weight:700; line-height:27px; color:#888;}

	header .headerNav {margin-top:22px;}
	header .headerNavIn {height:39px;}
	header .headerNavIn > ul {display:table; width:1152px; margin-left:-12px; font-size:17px; font-weight:700; text-align:center;}
	header .headerNavIn > ul > li {display:table-cell;}
	header .headerNavIn > ul > li > a {color:black;}

	header .headerAllMenuWrap {display:none; position:absolute; left:0; top:111px; background:white; border-bottom:1px solid #dcdcdd; box-shadow:0 3px 5px rgba(0, 0, 0, .13); width:100%; padding:0 0 20px;}
	header .headerAllMenuWrap > .elemMA {display:table; width:1152px;}
	header .headerAllMenuEach {display:table-cell; border-left:1px solid #dcdcdd; margin-top:32px; padding:18px 18px 0; height:188px;}
	header .headerAllMenuEach:first-child {border-left:0;}
	header .headerAllMenuTitle {font-size:19px; font-weight:700; color:black;}
	header .headerAllMenu {font-size:16px; font-weight:700; line-height:30px;}
	header .headerAllMenu a {color:#666;}
	header .headerAllMenu a:hover {color:#3f68b8;}

	/* Active */
		header .headerAllMenuWrap.active {display:block;}

/* Header - Intern */
	.internHeader .headerNavIn > ul {overflow:hidden; display:inline-block; width:auto; margin-left:0; text-align:left;}
	.internHeader .headerNavIn > ul > li {float:left; padding-right:35px;}
	.internHeader .headerAllMenuIn {width:1152px; margin:0 auto;}

/* Footer */
	footer {background:#ececec; border-top:1px solid #e8e8e8; height:122px; padding-top:36px;}
	footer .footerMenu {overflow:hidden; font-size:14px; line-height:15px;}
	footer .footerMenu li {float:left; position:relative; padding:0 19px;}
	footer .footerMenu li:before {content:""; position:absolute; left:0; top:50%; background:#a6a6a6; width:1px; height:11px; transform:translate(0, -50%);}
	footer .footerMenu li:first-child {padding-left:0;}
	footer .footerMenu li:first-child:before {display:none;}
	footer .footerMenu a {color:#333;}
	footer .footerMenu a:hover {color:#3f68b8;}
	footer .footerCopy {margin-top:18px; font-size:14px; line-height:17px; color:#333;}
	footer .footerFamilySite {position:absolute; right:0; top:50%; width:220px; transform:translate(0, -50%);}

/* Page Info */
	.pageInfo {overflow:hidden;}
	.pageInfo .pageTitle {float:left; font-size:28px; font-weight:700; color:black;}

	.pageLocation {float:right; overflow:hidden; font-size:14px; padding:17px 0 0; line-height:18px;}
	.pageLocation li {float:left; position:relative; padding:0 14px;}
	.pageLocation li:before {content:""; position:absolute; left:0; top:50%; background: url("/images/icon/icon_pageLocation.png") no-repeat; width:7px; height:13px; transform:translate(0, -50%);}
	.pageLocation li:first-child {background: url("/images/icon/icon_home.png") left center no-repeat; width:21px; padding-left:0; text-indent:-1000em;}
	.pageLocation li:first-child:before {display:none;}
	.pageLocation a {color:#333;}

/* Quick Menu */
	#quickMenu {position:absolute; right:0; top:0; border:1px solid #e5e5e5; width:86px; padding-top:25px; text-align:center;}
	#quickMenu .quickTitle {position:absolute; right:-1px; top:-8px; background: url("/images/bg/bg_quickTitle.png") no-repeat; width:84px; height:33px; line-height:33px; color:white;}
	#quickMenu .quickMenu li {display:table; border-bottom:1px solid #e5e5e5; width:100%;}
	#quickMenu .quickMenu a {display:table-cell; position:relative; height:92px; font-size:13px; line-height:16px; vertical-align:middle; color:#404b64;}
	#quickMenu .quickMenu a:before {content:""; display:block; background-repeat:no-repeat; margin:0 auto 10px;}
	#quickMenu .quickMenu li:nth-child(1) a:before {background-image: url("/images/icon/icon_quickMenu01.png"); width:26px; height:32px;}
	#quickMenu .quickMenu li:nth-child(2) a:before {background-image: url("/images/icon/icon_quickMenu02.png"); width:29px; height:21px;}
	#quickMenu .quickMenu li:nth-child(3) a:before {background-image: url("/images/icon/icon_quickMenu03.png"); width:30px; height:30px;}
	#quickMenu .statNum {right:17px; top:15px; width:20px; font-size:10px; line-height:20px;}
	#quickMenu .quickSideMenu {padding:0 7px 9px;}
	#quickMenu .quickSideMenu a,
	#quickMenu .quickSideMenu button {display:block; border:1px solid #b8bfcd; border-radius:2px; margin-top:9px; line-height:34px; text-align:center; color:#2f4459;}
	#quickMenu .quickTop {display:table; border-top:1px solid #e5e5e5; width:100%;}
	#quickMenu .quickTop a {display:table-cell; background:#fafafa; height:40px; font-weight:700; vertical-align:middle; color:#333;}
	#quickMenu .quickTop a:before {content:""; display:block; background: url("/images/icon/icon_quickTop.png") no-repeat; margin:0 auto 6px; width:14px; height:8px;}