/* Box */
	.boxType01 {border-bottom:1px solid #d5d5d5; padding:30px 0; line-height:28px; text-align:center;}
	.boxType02 {position:relative; background: url("/images/bg/bg_boxType02.png") 27px center no-repeat; border:1px solid #dee5e7; min-height:110px; margin-top:34px; font-size:23px; font-weight:700;}
	.boxType02 .boxType02In {position:absolute; top:50%; width:100%; padding:0 20px 0 116px; line-height:42px; transform:translate(0, -50%);}
	.boxType03 {background:#fafafa; border:1px solid #e2e4e3; margin-top:20px; padding:20px;}
	.boxType04 {border-top:3px solid #333; margin-top:10px; padding-top:30px;}
	.boxType05 {border:1px solid #e0e2e1; margin-top:17px; padding:17px;}

/* Button */
	.btnElem {display:inline-block; width:auto; text-align:center;}
	label.btnElem input {position:absolute; left:-100%;}

	/* Button Box */
		.btnBox {margin-top:20px; text-align:center;}

	/* Button Width */
		.btnW100 {width:100%;}

		.btnWidth01 {padding:0 35px;}
		.btnWidth02 {padding:0 24px;}
		.btnWidth03 {padding:0 19px;}
		.btnWidth04 {padding:0 10px;}
		.btnWidth05 {padding:0 13px;}

	/* Button Height */
		.btnH100 {height:100%;}

		.btnHeight01 {height:46px; line-height:44px;}
		.btnHeight02 {height:40px; line-height:38px;}
		.btnHeight03 {height:36px; line-height:34px;}
		.btnHeight04 {height:33px; line-height:31px;}

	/* Button Font Size */
		.btnFont13 {font-size:13px;}
		.btnFont14 {font-size:14px;}
		.btnFont15 {font-size:15px;}

	/* Button Color */
		.btnBlue {background:#3f68b8; border:1px solid #3f68b8; font-weight:700; color:white;}
		.btnBlue:hover {background:#214894; border-color:#214894;}

		.btnDeepBlue {background:#404b64; border:1px solid #404b64; font-weight:700; color:white;}
		.btnDeepBlue:hover {background:#161e32; border-color:#161e32;}

		.btnLightGray {background:#fafafa; border:1px solid #e1e1e1; font-weight:700; color:#333;}
		.btnLightGray:hover {border-color:#ccc;}

		.btnWhite {background:white; border:1px solid #e1e1e1; font-weight:700; color:#333;}
		.btnWhite:hover {border-color:#ccc;}

		.btnWhiteDeepBlue {background:white; border:1px solid #e1e1e1; font-weight:700; color:#333;}
		.btnWhiteDeepBlue:hover {background:#404b64; border:1px solid #404b64; color:white;}

		.btnWhiteBlue {background:white; border:1px solid #e1e1e1; font-weight:700; color:#333;}
		.btnWhiteBlue:hover,
		.btnWhiteBlue.active {background:#3f68b8; border:1px solid #3f68b8; color:white;}

	/* Button Icon */
		.btnElem .iconRArr {margin-left:9px;}

/* First Child No Margin */
	.ps_uiPopup *:first-child {margin-top:0;}

/* Font */
	strong {font-weight:700;}
	em {color:#00a5e3;}

	/* Font Color */
		.fBlack {color:black !important;}
		.fGreen {color:#00907f;}
		.fPink {color:#e75a86;}
		.fBlue {color:#3f68b8 !important;}
		.fGray {color:#666;}

	/* Font Size */
		.fs13 {font-size:13px;}
		.fs18 {font-size:18px;}

	/* Font Weight */
		.fwn {font-weight:normal;}

	/* Font Style */
		.uLine {text-decoration:underline;}

/* Form */
	/* Checkbox & Radio */

		/*
			<elem class="chkRdo">
				<label><input type="checkbox" name=""><span>라벨</span></label>
			</elem>
		*/

		.chkRdo {overflow:hidden;}
		.chkRdo label {position:relative; cursor:pointer;}
		.chkRdo label + label {margin-left:50px;}
		.chkRdo label input {position:absolute; left:-1000%;}
		.chkRdo label span:before {content:""; display:inline-block; vertical-align:middle;}
		.chkRdo label span:after {content:"";}

		.chkRdo.chkRdoSingle span:before {margin:0;}

		/* Type01 */
			.chkRdo01 {font-size:14px; color:#333;}
			.chkRdo01 span:before {background: url("/images/icon/icon_checkType01.png") left top no-repeat; width:16px; height:16px; margin-right:9px;}
			.chkRdo01 input:checked + span:before {background-position:0 100%;}
			.chkRdo01 input:disabled + span:before {background-color:#dcdcdc;}

		/* Type02 */
			.chkRdo02 {font-size:16px; color:#333;}
			.chkRdo02 span {position:relative;}
			.chkRdo02 span:before {border:2px solid #ccc; border-radius:50%; width:14px; height:14px; margin-right:9px;}
			.chkRdo02 span:after {display:none; position:absolute; left:4px; top:5px; background:#3f68b8; border-radius:50%; width:10px; height:10px;}
			.chkRdo02 input:checked + span:before {border-color:#3f68b8;}
			.chkRdo02 input:checked + span:after {display:block;}
			.chkRdo02 input:disabled + span:before {border-color:#ccc;}
			.chkRdo02 input:checked:disabled + span:after {display:block; background:#ccc;}

	/* Datepicker */
		.datepicker {position:relative;}
		.datepicker .ui-datepicker-trigger {cursor:pointer;}

		/* Type 01 */
			.datepickerType01 .ui-datepicker-trigger {position:absolute; right:7px; top:50%; transform:translate(0, -50%);}
			.datepickerType01 input {padding-right:30px;}

		/* Calendar */
			.ui-datepicker {position:relative; background:white; width:100%; padding:0;}
			.ui-datepicker .ui-datepicker-title {font-size:17px; font-weight:700; line-height:38px; text-align:center;}
			.ui-datepicker .ui-datepicker-prev {position:absolute; background: url("/images/icon/icon_calendar_prev.png") center no-repeat; left:72px; top:0; width:42px; height:42px; cursor:pointer;}
			.ui-datepicker .ui-datepicker-next {position:absolute; background: url("/images/icon/icon_calendar_next.png") center no-repeat; right:72px; top:0; width:42px; height:42px; cursor:pointer;}
			.ui-datepicker .ui-datepicker-year {font-size:18px;}
			.ui-datepicker .ui-datepicker-month {font-size:28px;}
			.ui-datepicker .ui-datepicker-calendar thead {background:#f0f3f8; font-weight:700; text-transform:uppercase; color:#2f4459;}
			.ui-datepicker .ui-datepicker-calendar th {height:29px; padding:0 8px; text-align:center; vertical-align:middle;}
			.ui-datepicker .ui-datepicker-calendar th:first-child {width:59px; text-align:right;}
			.ui-datepicker .ui-datepicker-calendar th:last-child {width:59px; text-align:left;}
			.ui-datepicker .ui-datepicker-calendar td {height:29px; padding:0; font-family:"verdana"; text-align:center; vertical-align:middle;}
			.ui-datepicker .ui-datepicker-calendar td span,
			.ui-datepicker .ui-datepicker-calendar td a {display:inline-block; border:1px solid transparent; border-radius:50%; width:28px; padding:0; line-height:26px; text-align:center;}
			.ui-datepicker .ui-datepicker-calendar td span {color:#b9bfd7;}
			.ui-datepicker .ui-datepicker-calendar td a {color:#666;}
			.ui-datepicker .ui-datepicker-calendar td:first-child {text-align:right;}
			.ui-datepicker .ui-datepicker-calendar td:last-child {text-align:left;}
			.ui-datepicker .ui-datepicker-calendar tr:first-child td {padding-top:8px;}
			.ui-datepicker .ui-datepicker-calendar td a.ui-state-active {border:1px solid #00b3ba;}
			.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a {border:1px solid #d76081;}

			body > .ui-datepicker {background:white; border:1px solid #3f68b8; width:350px; padding:10px;}

	/* File */
		.fileAttach {display:inline-block; position:relative; width:100%; padding-right:121px;}
		.fileAttach input[type="file"] {position:absolute; left:-1000em;}
		.fileAttach input[type="text"] {position:relative; z-index:10;}
		.fileAttach .btnElem {position:absolute; right:0; top:0;}

	/* Input */
		.inputType01 {outline:0; background:white; border:1px solid #e1e1e1; height:36px; padding:7px;}
		.inputType01:focus {border-color:#3f68b8;}
		.inputType01:disabled {background:#f8f8f6;}

		.inputType02 {outline:0; background:white; border:1px solid #e7e7e7; height:27px; padding:7px;}
		.inputType02:focus {border-color:#3f68b8;}
		.inputType02:disabled {background:#f8f8f6;}

	/* Input Button */
		label input:checked + .btnElem {background:#3f68b8; border-color:#3f68b8; color:white;}

	/* Select */
		.selectBox {position:relative;}
		span.selectBox {display:inline-block;}
		.selectBox:before {content:""; position:absolute; top:50%; background-repeat:no-repeat; background-size:100% 100%; transform:translate(0, -50%); transition:transform .2s;}
		.selectBox:after {content:""; position:absolute; top:50%; background-repeat:no-repeat; background-size:100% 100%;}
		.selectBox.active:before {transform:translate(0, -50%) rotate(180deg);}
		.selectBox select {outline:0; height:100%;}

		.selectType01 {background:white; border:1px solid #e7e7e7; height:27px;}
		.selectType01:before {right:9px; background-image: url("/images/icon/icon_selectType01.png"); width:7px; height:5px;}
		.selectType01 select {padding:0 25px 0 8px; color:#333;}
		.selectType01 option:checked,
		.selectType01 option:hover {background:#f0f3f8;}

		.selectType02 {background:white; border:1px solid #cacaca; height:39px;}
		.selectType02:before {right:20px; background-image: url("/images/icon/icon_selectType02.png"); width:11px; height:6px;}
		.selectType02 select {padding:0 50px 0 18px; color:#333;}
		.selectType02 option:checked,
		.selectType02 option:hover {background:#f0f3f8;}

		.selectType03 {background:white; border:1px solid #cacaca; height:36px; font-size:16px; color:#666;}
		.selectType03:before {right:10px; background-image: url("/images/icon/icon_selectType03.png"); width:7px; height:4px;}
		.selectType03 select {padding:0 27px 0 8px; color:#333;}
		.selectType03 option:checked,
		.selectType03 option:hover {background:#f0f3f8;}

	/* Textarea */
		.textareaType01 {outline:0; background:white; border:1px solid #e1e1e1; width:100%; padding:7px; resize:none;}
		.textareaType01:focus {border-color:#3f68b8;}
		.textareaType01:disabled {background:#f8f8f6;}

/* Icon */
	.iconElem {position:relative; display:inline-block; background-repeat:no-repeat; background-size:cover; text-indent:-1000em; vertical-align:middle;}
	.iconElem:before,
	.iconElem:after {content:""; position:absolute;}
	.iconHover:hover .iconElem,
	.iconHover.active .iconElem,
	.iconElem.active {background-position:0 100%;}

	.iconClip {background-image: url("/images/icon/icon_clip.png"); width:18px; height:20px;}
	.iconMail {background-image: url("/images/icon/icon_mail.png"); width:31px; height:20px;}
	.iconMail.active {height:28px;}
	.iconMinus {background-image: url("/images/icon/icon_minus.png"); width:21px; height:2px;}
	.iconPlus {background-image: url("/images/icon/icon_plus.png"); width:21px; height:21px;}
	.iconRArr {background-image: url("/images/icon/icon_btnRArrow.png"); width:6px; height:11px;}
	.iconSearch {background-image: url("/images/icon/icon_search.png"); width:18px; height:18px;}
	.iconSearch02 {background-image: url("/images/icon/icon_search02.png"); width:18px; height:18px;}
	.iconX {background-image: url("../images/icon/icon_popup01Close.png"); width:25px; height:25px;}
	.iconLogout {background-image: url("../images/icon/log-out-icon.svg"); width:16px; height:16px;}
	.iconChangPw {background-image: url("../images/icon/change-pw-icon.svg"); width:16px; height:16px;}
	.iconRefresh {background-image: url("../images/icon/refrech-icon.svg"); width:16px; height:16px;}
	.iconNext {background-image: url("../images/icon/next.svg"); width:12px; height:12px;}
	.iconPrev {background-image: url("../images/icon/prev.svg"); width:12px; height:12px;}
	.iconFirstpg {background-image: url("../images/icon/first-pg.svg"); width:12px; height:12px;}
	.iconLastpg {background-image: url("../images/icon/last-pg.svg"); width:12px; height:12px;}

/* List */
	.listTop {overflow:hidden; margin-top:50px; font-size:17px; font-weight:700;}

	.listInfo {overflow:hidden; margin-top:13px; font-size:15px;}
	.listInfo div {overflow:hidden; line-height:24px;}
	.listInfo dt {float:left; color:#999;}
	.listInfo dd {float:left; position:relative; margin:0 6px; padding-right:10px; color:#333;}
	.listInfo dd:before {content:""; position:absolute; right:0; top:50%; background:#9da7a9; border-radius:50%; width:4px; height:4px; transform:translate(0, -50%);}
	.listInfo dd:last-child:before {display:none; padding-right:0; margin-right:0;}

	.listReply {position:relative; padding-left:36px !important;}
	.listReply:before {content:""; position:absolute; left:0; top:50%; background: url("/images/icon/icon_reply.png") no-repeat; background-size:100%; width:21px; height:13px; transform:translate(0, -50%);}

	.listType01 {margin-top:50px;}
	.listType01 .listButton {position:relative; border-bottom:1px solid #e0e2e1; height:57px; padding-left:28px; font-size:18px;}
	.listType01 .listButton:before {content:""; position:absolute; right:21px; top:50%; background:white; border:1px solid #cecece; border-radius:50%; width:28px; height:28px; transform:translate(0, -50%);}
	.listType01 .listButton:after {content:""; position:absolute; right:30.5px; top:50%; background: url("/images/icon/icon_listType01Btn.png") no-repeat; width:11px; height:6px; transform:translate(0, -50%); transition:transform .2s;}
	.listType01 .listButton:last-child {border-bottom:0;}
	.listType01 .listDetail {border-top:2px solid #333; border-bottom:1px solid #e0e2e1; margin-top:14px;}
	.listType01 .list {border-top:2px solid #333;}
	.listType01 .list .listDetail {display:none; border-top:none; margin-top:0;}
	.listType01 .listDetail > li {position:relative; border-top:1px solid #e0e2e1; padding:15px 20px;}
	.listType01 .listDetail > li:first-child {border-top:0;}
	.listType01 .thumbArea {left:20px; top:15px; width:100px; height:100px;}
	.listType01 .thumbArea + .listInfoWrap {padding-left:120px;}
	.listType01 .listTitle {font-size:18px; font-weight:700; color:black;}
	.listType01 .listMoreInfo {position:absolute; right:0; top:50%; width:390px; text-align:center; transform:translate(0, -50%);}
	.listType01 .listMoreInfo * {vertical-align:middle;}

	.listType01 .listDetail.type01 > li {padding:10px;}
	.listType01 .listDetail.type01 .txtList01 li:before {top:17px;}
	.listType01 .listDetail.type01 .listInfo {margin:10px 0 0 20px;}

	/* Active */
		.listType01 .listButton.active {background:#fffae7; border-bottom:1px solid #999;}
		.listType01 .listButton.active:after {transform:translate(0, -50%) rotate(180deg);}
		.listType01 .listDetail.active {display:block;}

	.listType02 .list {border-top:2px solid #333; border-bottom:1px solid #999; margin-top:14px;}
	.listType02 .list thead th {height:37px; font-size:14px; font-weight:700; vertical-align:middle; color:#333;}
	.listType02 .list td {position:relative; border-top:1px solid #e0e2e1; height:145px; padding:0 30px; font-size:16px; line-height:22px; vertical-align:middle;}
	.listType02 .list tr:hover {background:#fafafa;}
	.listType02 .list tr:hover .btnWhite {background:gray; border-color:gray; color:white;}
	.listType02 .listTitle {margin-top:13px; font-size:18px; font-weight:700; color:#010101;}
	.listType02 .listBtn {position:absolute; right:30px; top:50%; transform:translate(0, -50%);}
	.listType02 .btnElem {margin-top:5px;}
	.listType02 .btnElem:first-child {margin-top:0;}

	.listType0201 .list td {padding:0; text-align:center;}
	.listType0201 .statType01 > * {margin-top:5px;}
	.listType0201 .statType01 > *:first-child {margin-top:0;}
	.listType0201 .listTitle {margin-top:0;}

	.listType0202 .list td {height:auto; padding:10px;}
	.listType0202 .listTitle {margin-top:0;}

	.listType03 {margin-top:17px;}
	.listType03 .list {border-top:2px solid #333; border-bottom:1px solid #999; margin-top:14px;}
	.listType03 .list th {height:37px; font-size:14px; font-weight:700; vertical-align:middle; color:#333;}
	.listType03 .list td {position:relative; border-top:1px solid #e0e2e1; padding:17px 0; font-size:16px; line-height:22px; vertical-align:middle; color:#9f9f9f;}
	.listType03 .listTitle {font-size:16px; font-weight:700; color:#010101;}
	.listType03 .listBtnArea {margin-top:-56px; text-align:right;}

	.listType0301 .list td {color:black;}

	.listType0302 {margin-top:17px;}
	.listType0302 .list {border-top:2px solid #333; border-bottom:1px solid #999; margin-top:14px;}
	.listType0302 .list th {height:37px; font-size:14px; font-weight:700; vertical-align:middle; color:#333;}
	.listType0302 .list td {position:relative; border-top:1px solid #e0e2e1; padding:17px 0; font-size:15px; line-height:22px; vertical-align:middle; color:#9f9f9f;}
	.listType0302 .listTitle {font-size:16px; font-weight:700; color:#010101;}
	.listType0302 .listBtnArea {margin-top:-56px; text-align:right;}

	.listType04 .list {overflow:hidden; counter-reset:listnum; border-bottom:1px solid #999; margin-top:18px;}
	.listType04 .list dt {background:#f8f8f6; border-top:2px solid #333; padding:18px 20px; font-size:16px; font-weight:700; line-height:20px; color:#333;}
	.listType04 .list dt:before {counter-increment:listnum; content:counter(listnum)". ";}
	.listType04 .list dd {border-top:1px solid #d5d5d5; padding:18px 20px; font-size:16px; line-height:20px; color:#333;}
	.listType04 .list .chkRdo {margin-left:70px;}
	.listType04 .list .chkRdo:first-child {margin-left:0;}
	.listType04 .listBtnArea {margin-top:40px; text-align:center;}
	.listType04 .listLeft {float:left; width:70%;}
	.listType04 .listRight {float:right;width:30%;}
	.listType04 .listRight .list dt {text-align:center;}
	.listType04 .listRight .list dt:before {display:none;}
	.listType04 .listRight .list dd {padding:10px;}

	.listType0401 .of {border:2px solid #333; border-top:1px solid #333; margin-top:18px;}
	.listType0401 .listLeft {border-right:2px solid #333;}
	.listType0401 .list {margin-top:0;}
	.listType0401 .list dt {border-width:1px;}
	.listType0401 .list .chkRdo {margin-left:37px;}

	.listType0402 .of {margin-top:18px;}
	.listType0402 .listLeft {float:left; border:1px solid #ccc; width:69.7%;}
	.listType0402 .listRight {float:right; border:1px solid #ccc; width:29%;}
	.listType0402 .list {border-bottom:0; margin-top:0;}
	.listType0402 .list dt {border:0;}
	.listType0402 .list .chkRdo {margin:0; margin-top:14px;}
	.listType0402 .list .chkRdo:first-child {margin-top:0;}

	.listType05 .list {overflow:hidden; border-top:1px solid #e0e2e1; border-bottom:1px solid #e0e2e1; padding-bottom:50px;}
	.listType05 li {width:350px; margin-top:50px;}
	.listType05 li:nth-child(odd) {float:left;}
	.listType05 li:nth-child(even) {float:right;}
	.listType05 a {position:relative; display:block;}
	.listType05 .thumbArea {position:relative; width:100%; height:230px;}
	.listType05 .thumbArea:before {content:""; position:absolute; left:0; top:0; background:#335495; width:100%; height:100%; opacity:.25; z-index:1;}
	.listType05 .thumbArea:after {content:""; position:absolute; left:50%; top:50%; background: url("/images/icon/icon_play.png") no-repeat; width:27px; height:32px; transform:translate(-50%, -50%); z-index:2;}
	.listType05 .listTitle {margin-top:20px; font-size:18px; font-weight:700; color:#333;}
	.listType05 .listDesc {margin-top:15px; font-size:16px; line-height:26px; color:#333;}
	.listType05 .listDate {margin-top:20px; font-size:16px; color:#666;}

	.listType06 {border-top:2px solid #333; border-bottom:1px solid #333;}
	.listType06 .list {overflow:hidden;}
	.listType06 .list > li {float:left; position:relative; border-bottom:1px solid #e0e2e1; width:50%; height:179px; padding:20px 0 20px 160px;}
	.listType06 .thumbArea {left:0; width:140px; height:140px;}
	.listType06 .listName {margin-top:15px; font-size:18px; font-weight:700; color:#333;}
	.listType06 .listContact {margin-top:20px; font-size:16px; line-height:26px; color:#333;}

	.listFaq tr {display:none;}
	.listFaq tr.active {display:table-row;}
	.listFaq tr:nth-child(even) td {background:#f4f4f4; padding-left:108px; line-height:34px; text-align:left;}

	.listFaq01 tr:nth-child(odd) {display:table-row;}

/* Paging */
	.paging {margin-top:40px; font-size:16px; text-align:center;}
	.paging a {display:inline-block; width:33px; line-height:33px; vertical-align:top;}
	.paging > a {position:relative; border:1px solid #e1e1e1; border-radius:2px; text-indent:-1000em;}
	.paging > a:nth-child(1):before {content:""; position:absolute; left:50%; top:50%; background: url("/images/icon/icon_listFirst.png") no-repeat; width:12px; height:9px; transform:translate(-50%, -50%);}
	.paging > a:nth-child(2) {margin-right:53px;}
	.paging > a:nth-child(2):before {content:""; position:absolute; left:50%; top:50%; background: url("/images/icon/icon_listNext.png") no-repeat; width:6px; height:9px; transform:translate(-50%, -50%);}
	.paging > a:last-child:before {content:""; position:absolute; left:50%; top:50%; background: url("/images/icon/icon_listLast.png") no-repeat; width:12px; height:9px; transform:translate(-50%, -50%);}
	.paging > a:nth-last-child(2) {margin-left:53px;}
	.paging > a:nth-last-child(2):before {content:""; position:absolute; left:50%; top:50%; background: url("/images/icon/icon_listPrev.png") no-repeat; width:6px; height:9px; transform:translate(-50%, -50%);}
	.paging .pagingNum a {border-bottom:1px solid transparent; color:#999;}
	.paging .pagingNum a.active,
	.paging .pagingNum a:hover {border-bottom:1px solid #3f68b8; font-size:18px; color:#3f68b8;}
	.paging .pagingNum a.active {margin:0 20px;}

/* Paragraph */
	.para01 {margin-top:20px; font-size:13px; line-height:20px; color:#333;}
	.para02 {font-size:18px; color:#333;}
	.para03 {font-size:16px; line-height:20px; color:#333;}
	.para04 {margin-top:24px; font-size:14px; line-height:24px;}
	.para05 {padding:20px;  border: 1px solid #888888; font-size:16px; line-height:26px; color:#333;}
	.para05 dt {margin-top:20px;}
	.para05 dt:first-child {margin-top:0;}
	.para06 {font-size:16px; color:#666;}
	.para07 {font-size:15px; line-height:21px; color:#333;}
	.para08 {position:relative; padding-left:25px; font-size:14px; font-weight:700; line-height:24px; color:#333;}
	.para08:before {content:""; position:absolute; left:0; top:4px; background: url("/images/icon/icon_excMark.png") no-repeat; width:15px; height:15px;}

	.para01:first-child,
	.para02:first-child,
	.para03:first-child,
	.para04:first-child,
	.para05:first-child {margin-top:0;}

/* Reply */
	.replyType .write {background:#f9f9f9; border:1px solid #e0e0e0; margin-top:13px; padding:20px;}
	.replyType .writeIn {position:relative; height:72px; padding-right:74px;}
	.replyType .textareaType01 {position:relative; height:100%; z-index:10;}
	.replyType .btnReply {position:absolute; right:0; top:0; bottom:0; line-height:72px;}
	.replyType .replyByte {margin-top:6px; font-size:15px; color:#9e9e9e;}
	.replyType .list {font-size:16px;}
	.replyType .list li {position:relative; border-bottom:1px solid #e2e2e2; min-height:96px; padding:27px 225px 20px 80px;}
	.replyType .list li:last-child {padding-right:0;}
	.replyType .thumbArea {left:20px; top:22px; width:45px; height:45px;}
	.replyType .replyUser {font-weight:700;}
	.replyType .replyDate {font-size:14px; color:#999;}
	.replyType .replyContents {line-height:26px; color:#666;}
	.replyType .replyBtnArea {display:none; position:absolute; right:0; top:50%; transform:translate(0, -50%);}
	.replyType [data-control] .replyBtnArea {display:block;}
	.replyType .list .writeIn {margin-top:12px;}
	.replyType .replyModify {display:none;}
	.replyType .replyModify.active {display:block;}

/* Stat */
	.statType01 > * {display:inline-block; min-width:80px; font-size:14px; line-height:26px; text-align:center;}
	.statType01 .stat01 {border:2px solid #3f68b8; color:#3f68b8;}
	.statType01 .stat02 {border:2px solid #404b57; color:#404b57;}
	.statType01 .stat03 {border:2px solid #00907f; color:#00907f;}
	.statType01 .stat04 {border:2px solid #cc2133; color:#cc2133;}
	.statType01 .stat05 {border:2px solid #00a5e3; color:#00a5e3;}
	.statType01 .stat06 {border:2px solid #e75a86; color:#e75a86;}
	.statType01 .stat07 {border:2px solid #9673d6; color:#9673d6;}
	.statType01 .stat08 {border:2px solid #f67415; color:#f67415;}
	.statType01 .stat09 {border:2px solid #f9b600; color:#f9b600;}
	.statType01 .stat10 {border:2px solid #71655b; color:#71655b;}
	.statType01 .stat11 {border:2px solid #84b829; color:#84b829;}

	.statType02 > * {display:inline-block; border:2px solid transparent; width:25px; margin-right:5px; font-size:14px; line-height:21px; text-align:center;}
	.statType02 .stat01 {border:2px solid #3f68b8; color:#3f68b8;}
	.statType02 .stat02 {border:2px solid #e75a86; color:#e75a86;}
	.statType02 .stat03 {border:2px solid #84b829; color:#84b829;}

	.statType03 > * {display:inline-block; position:relative; border:1px solid #999; border-radius:50%; width:27px; height:27px; margin-right:3px; vertical-align:middle;}
	.statType03 > *:before {content:""; position:absolute; left:50%; top:50%; background-repeat:no-repeat; transform:translate(-50%, -50%);}

	.statType03 .stat01:before {background-image: url("/images/icon/icon_myStudySchedule01.png"); width:13px; height:13px;}
	.statType03 .stat02:before {background-image: url("/images/icon/icon_myStudySchedule02.png"); width:14px; height:14px;}
	.statType03 .stat03:before {background-image: url("/images/icon/icon_myStudySchedule03.png"); width:9px; height:12px;}
	.statType03 .stat04:before {background-image: url("/images/icon/icon_myStudySchedule04.png"); width:13px; height:9px;}
	.statType03 .stat05:before {background-image: url("/images/icon/icon_myStudySchedule05.png"); width:9px; height:9px;}

	.statNum {position:absolute; background:#f74a80; border-radius:50%; text-align:center; color:white;}

/* Super Script */
	.superScriptType01 {font-size:10px; vertical-align:super;}

/* Tab Menu */
	.tabMenu01 {display:table; table-layout:fixed; width:100%; margin-top:20px; font-size:16px; text-align:center;}
	.tabMenu01 li {display:table-cell;}
	.tabMenu01 a,
	.tabMenu01 button {display:block; background:#fafafa; border:1px solid #e4e4e6; border-bottom:1px solid #666; font-size:16px; font-weight:700; line-height:46px; text-align:center; color:#999;}
	.tabMenu01 li.active a,
	.tabMenu01 a:hover,
	.tabMenu01 li.active button,
	.tabMenu01 button:hover {background:white; border:1px solid #666; border-bottom:1px solid transparent; color:#333;}
	.tabMenu01:first-child {margin-top:0;}

	.tabMenu02 {overflow:hidden; border:1px solid #e0e2e1; padding:10px 20px 20px 10px;}
	.tabMenu02 li {float:left; width:131px; margin:10px 0 0 10px;}

	.tabCon {display:none;}
	.tabCon.active {display:block;}

/* Table */
	.tblData {border-top:2px solid #333; margin-top:15px;}
	.tblData > thead > tr > th {background:#f8f8f6; padding:15px 0; font-size:16px; font-weight:700; color:#333; vertical-align:middle;}
	.tblData > tbody > tr > th {background:#f8f8f6; padding:15px 0; font-size:16px; font-weight:700; color:#333; vertical-align:middle;}
	.tblData tbody > tr > td {background:white; padding:7px; font-size:16px; line-height:26px; vertical-align:middle; color:#666;}
	.tblData tbody > tr > td > span {display: block; font-weight: bold;}

	.tblData.type01 td {color:black;}

	.tblData.type02 thead th {background:none; border:none; border-bottom:1px solid #333; height:37px; font-size:14px; font-weight:700; vertical-align:middle; color:#333;}
	.tblData.type02 tbody td {vertical-align:top;}

	/* Table Font Size */
		/*.tblFont15 * {font-size:15px !important;}*/

	/* Table Horizontal Border */
		.tblHorizontalBorder thead > tr > th,
		.tblHorizontalBorder tbody > tr > th,
		.tblHorizontalBorder tbody > tr > td {border-bottom:1px solid #d5d5d5;}

	/* Table Horizontal & Vertical Border */
		.tblHorVerBorder th,
		.tblHorVerBorder td {border-left:1px solid #d0d0d0; border-right:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0;}
		.tblHorVerBorder th:first-child,
		.tblHorVerBorder td:first-child {border-left:0;}
		.tblHorVerBorder th:last-child,
		.tblHorVerBorder td:last-child {border-right:0;}
		.tblHorVerBorder tr:first-child th,
		.tblHorVerBorder tr:first-child td {border-top:1px solid #d0d0d0;}

	/* TD Padding */
		.tblTDPad > tbody > tr > td {padding:19px;}
		.tblTDPad02 > tbody > tr > td {padding:11px 23px;}

/* Table Layout */
	.tblLayout {table-layout:fixed; display:table; width:100%; height:100%;}
	.tblLayout > * {display:table-cell;}
	.tblLayout > * > * {margin:0;}
	.tblLayout > *:first-child {padding-left:0;}
	.tblLayout > *:last-child {padding-right:0;}


	.tblLayout1 {table-layout:fixed; display:table; width:100%; padding:10px}
	.tblLayout1 > * {display:table-cell;}
	.tblLayout1 > * > * {margin:0;}
	.tblLayout1 > *:first-child {padding-left:0;}
	.tblLayout1 > *:last-child {padding-right:0;}

	.tblLayoutPad01 > * {padding:0 5px;}
	.tblLayoutPad02 > * {padding:0 20px;}

	.tblLayout01 {width:auto;}
	.tblLayout01 > * {padding:0 5px; vertical-align:top;}

/* Table Layout Row */
	.tblLayoutRowPad01 > * {padding:3px 0;}
	.tblLayoutRowPad01 > *:first-child {padding-top:0;}
	.tblLayoutRowPad01 > *:last-child {padding-bottom:0;}

/* Text List */
	.txtListNumType01 {counter-reset:txtlistnum02;}
	.txtListNumType01 li:before {counter-increment:txtlistnum02; content:counter(txtlistnum02)") ";}

	.txtList01 {margin-top:15px; font-size:16px; line-height:26px; color:#333;}
	.txtList01 li {position:relative; padding-left:13px;}
	.txtList01 li:before {content:""; position:absolute; left:0; top:10px; background:#4069b8; border-radius:50%; width:3px; height:3px;}

	.txtList02 {margin-top:15px; font-size:14px; line-height:24px; color:#333;}

	.txtList03 {line-height:29px;}
	.txtList03 li {margin-top:10px;}
	.txtList03 li:first-child {margin-top:0;}
	.txtList03 a {position:relative; display:block; border:1px solid #e0e2e1; padding-left:54px; font-size:14px; color:#666;}
	.txtList03 a span {position:absolute; left:0; top:0; width:54px; text-align:center; font-size:13px;}

	.txtList04 {margin-top:25px; font-size:16px; line-height:26px;}
	.txtList04 dt {margin-top:25px;}
	.txtList04 dd {padding-left:14px;}

	.txtList05 {overflow:hidden; margin-top:20px;}
	.txtList05 li {float:left; position:relative; border:3px solid #6d7fa3; border-radius:50%; width:140px; height:140px; margin-left:50px; font-size:16px; font-weight:700; line-height:138px; text-align:center;}
	.txtList05 li:first-child {margin-left:0;}
	.txtList05 li:before {content:""; position:absolute; right:-35px; top:50%; background: url("/images/icon/icon_txtList05.png") no-repeat; width:13px; height:22px; transform:translate(0, -50%);}
	.txtList05 li:last-child:before {display:none;}

	.txtList06 > div {display:table; border:1px solid #e0e2e1; width:100%; min-height:109px; margin-top:20px;}
	.txtList06 dt, .txtList06 dd {display:table-cell; vertical-align:middle;}
	.txtList06 dt {position:relative; width:277px; padding:0 0 0 25px; font-size:20px; font-weight:700; line-height:26px; color:#3f68b8;}
	.txtList06 dt:before {content:""; position:absolute; right:0; top:50%; background:#ddd; width:1px; height:41px; transform:translate(0, -50%);}
	.txtList06 dd {padding-left:80px;}
	.txtList06 dd > *:first-child {margin:0;}

/* Title */
	.titleWrap {overflow:hidden;}
	.titleWrap > *:first-child {float:left;}
	.titleWrap .titleRight {float:right;}
	.titleWrap .title01 + .titleRight {margin-top:37px;}
	.titleWrap .title02 + .titleRight {margin-top:40px;}

	.title01 {margin-top:37px; font-size:18px; font-weight:700; line-height:26px; color:#333;}
	.title02 {margin-top:40px; font-size:23px; font-weight:700; color:#333;}
	.title03 {margin-top:35px; font-size:16px; color:#333;}

	.title02:first-child {margin-top:0;}

/* Thumb Area */
	.thumbArea {overflow:hidden; position:absolute; background-color:#eee; background-repeat:no-repeat; background-size:100% 100%;}
	.thumbArea img {position:absolute; left:50%; top:50%; min-width:100%; min-height:100%; max-width:100%; max-height:100%; transform:translate(-50%, -50%);}

	.thumbArea.thumbDefault01 {background-image: url("/images/img/img_thumbDefault01.png"); border-radius:50%;}
	.thumbArea.thumbDefault02 {background-image: url("/images/img/img_thumbDefault02.png");}
	.thumbArea.thumbDefault03 {background-image: url("/images/img/img_thumbDefault03.png"); border-radius:50%;}
	.thumbArea.thumbDefault04 {background-image: url("/images/img/img_thumbDefault04.png"); background-color:white; background-position:center; background-size:auto; border:1px solid #e1e3e2;}

/* View */
	.viewInfo {overflow:hidden; margin-top:13px; font-size:15px;}
	.viewInfo div {overflow:hidden; line-height:24px;}
	.viewInfo dt {float:left; color:#999;}
	.viewInfo dd {float:left; position:relative; margin:0 6px; padding-right:10px; color:#333;}
	.viewInfo dd:before {content:""; position:absolute; right:0; top:50%; background:#9da7a9; border-radius:50%; width:4px; height:4px; transform:translate(0, -50%);}
	.viewInfo dd:last-child:before {display:none; padding-right:0; margin-right:0;}

	.viewTitle {font-size:18px; font-weight:700; color:black;}

	.viewType01 .viewTop {position:relative; border:1px solid #dee5e7; height:112px; padding:32px 0 0 141px;}
	.viewType01 .thumbArea {left:0; top:0; width:112px; height:112px;}
	.viewType01 .viewBtnArea {position:absolute; right:28px; top:50%; transform:translate(0, -50%);}
	.viewType01 .viewBtnArea02 {margin-top:36px; text-align:center;}
	.viewType01 .viewBtnArea03 {margin-top:36px; text-align:right;}

	.viewType0101 .viewTop {height:auto; padding:32px;}

	.viewType02 {margin-top:17px;}
	.viewType02 .viewTop {border-top:2px solid #333; border-bottom:1px solid #d5d5d5; height:86px; padding:23px 20px 0;}
	.viewType02 .viewContents {border-bottom:1px solid #d5d5d5; padding:28px 31px;}
	.viewType02 .viewContentsIn {min-height:275px; font-size:16px; line-height:26px;}
	.viewType02 .viewFileList {background:#fafafa; margin-top:15px; padding:15px 22px 15px 0; font-size:16px; line-height:32px;}
	.viewType02 .viewFileList li {margin-left:22px;}
	.viewType02 .viewFileList a {color:#333;}
	.viewType02 .viewFileList .iconClip {margin-right:9px;}
	.viewType02 .viewFileList .iconDownload {margin-left:12px;}
	.viewType02 .viewBtnArea {margin-top:36px; text-align:right;}

/* Write */
	.writeBtnArea {margin-top:26px; text-align:center;}
	.writeBtnArea > * {margin-left:10px;}
	.writeBtnArea > *:first-child {margin-left:0;}