@charset 'utf-8';

html {
	font-family: 'S-CoreDream-4Regular';
	font-size: 16px;
}
body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: #101012;
	color:#fff;
}

p {
	line-height: 1.6;
}

a {
	color: rgb(29, 29, 31);
	text-decoration: none;
	background: #fff;
	padding: .5em;
}

.btn {
	background: rgb(255, 255, 255);
	color: rgb(29, 29, 31);
	font-size: 0;
}


.global-nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 44px;
	padding: 0 1rem;
}

.local-nav {
	position: absolute;
	top: 45px;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 52px;
	padding: 0 1rem;
	border-bottom: 1px solid #ddd;
}

.global-nav-links,
.local-nav-links {
	display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.global-nav-links {
	justify-content: space-between;
}

.product-name {
	margin-right: auto;
}

.local-nav-links a:not(.product-name) {
	margin-left: 2em;
}

.scroll-section {
	padding-top: 50vh;
}

#scroll-section-0 h1 {
	font-size: 3.5rem;
	text-align: center;
	word-break: keep-all;
}

.main-message {
	display: flex;
	margin: 5px 5px;
	align-items: center;
	justify-content: center;
	top: 35vh;
	height: 3em;
	font-size: 2.5rem;
	opacity: 0;
}
.main-message p {
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}

.main-message p span {
	display: inline-flex;
	width: 46vw;
	padding: 4px;
	text-align: center;
	background: rgb(29, 29, 31);
	font-size: 1.5rem;
	line-height: 2em;
}

.main-message small {
	display: block;
	margin-left: 0.5em;
	font-size: 1.2rem;
}

#scroll-section-2 .main-message {
	font-size: 3.5rem;
}
.description {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 1.2em;
	color: #888;
	height: 100vh;
}
.description strong {
	float: left;
	margin-right: 0.2em;
	font-size: 3rem;
	background: #fff;
	color: rgb(29, 29, 31);
}

.tracking-count.index {
	position: absolute;
	bottom: 6vh;
	left: 2vw;
	width: 50vw;
	z-index: 10;
}

.tracking-count p{
	display: inline;
	background: rgb(255, 255, 255);
	color: rgb(29, 29, 31);
	line-height: 2em;
	padding: 4px;
}

.desc-message {
	width: 50%;
	font-weight: bold;
	font-size: .5em;
	opacity: 0;
}
.pin {
	width: 1px;
	height: 100px;
	background: #fff;
}
#scroll-section-1 {
	position: relative;
}

#scroll-section-2 .phrases-b {
	top: 10%;
	left: 40%;

}

#scroll-section-2 .phrases-c {
	top: 15%;
	left: 45%;

}

#scroll-section-1 img 
{
	transform: translate(-5%, 0) scale(1.5);
}

.mid-message {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 2em;
	color: #888;
}

.canvas-caption {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 1.2rem;
	color: #888;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7rem;
}
.sticky-elem {
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
}

.sticky-elem-canvas {
	top: 0;
	height: 100vh;
}

.sticky-elem-canvas canvas {
	position: absolute;
	top: 50%;
	left: 50%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
	display: block;
}

.notice {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

@media (max-width: 500px) {

	.notice {
		display: block;
		z-index: 100;
		width: 100vw;
		height: 100vh;
		margin: auto 0;
		padding-top: 48vh;
		background: #101012;
		overflow: hidden;
		overflow-y: scroll;
	}

	.container {
		display: none;
	}
	
	#scroll-section-0 h1 {
		font-size: 9vw;
	}

	.main-message {
		font-size: 4vw;
	}

	.description {
		
		font-size: 2rem;
	}

	.description strong{
		font-size: 6rem;
	}

	#scroll-section-2 .main-message {
		font-size: 6vw;
	}

	#scroll-section-2 .phrases-b {
		top: 20%;
		left: 53%;
	}
	
	#scroll-section-2 .phrases-c {
		left: 55%;
	}

	.main-message small {
		font-size: 1.5vw;
	}

	.desc-message {
		width: 20%;
	}
	.mid-message {
		font-size: 4vw;
	}
	.canvas-caption {
		font-size: 2rem;
	}
}