@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 100;
    src: url(NotoSansKR/NotoSansKR-Thin.eot);
    src: url(NotoSansKR/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR/NotoSansKR-Thin.woff2) format('woff2'),
    url(NotoSansKR/NotoSansKR-Thin.woff) format('woff'),
    url(NotoSansKR/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 200;
    src: url(NotoSansKR/NotoSansKR-Light.eot);
    src: url(NotoSansKR/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR/NotoSansKR-Light.woff2) format('woff2'),
    url(NotoSansKR/NotoSansKR-Light.woff) format('woff'),
    url(NotoSansKR/NotoSansKR-Light.otf) format('opentype');
}


@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 300;
    src: url(NotoSansKR/NotoSansKR-DemiLight.eot);
    src: url(NotoSansKR/NotoSansKR-DemiLight.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR/NotoSansKR-DemiLight.woff2) format('woff2'),
    url(NotoSansKR/NotoSansKR-DemiLight.woff) format('woff'),
    url(NotoSansKR/NotoSansKR-DemiLight.otf) format('opentype');
}


@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url(NotoSansKR/NotoSansKR-Regular.eot);
    src: url(NotoSansKR/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR/NotoSansKR-Regular.woff2) format('woff2'),
    url(NotoSansKR/NotoSansKR-Regular.woff) format('woff'),
    url(NotoSansKR/NotoSansKR-Regular.otf) format('opentype');
}


@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 600;
    src: url(NotoSansKR/NotoSansKR-Medium.eot);
    src: url(NotoSansKR/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR/NotoSansKR-Medium.woff2) format('woff2'),
    url(NotoSansKR/NotoSansKR-Medium.woff) format('woff'),
    url(NotoSansKR/NotoSansKR-Medium.otf) format('opentype');
}


@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src: url(NotoSansKR/NotoSansKR-Bold.eot);
    src: url(NotoSansKR/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR/NotoSansKR-Bold.woff2) format('woff2'),
    url(NotoSansKR/NotoSansKR-Bold.woff) format('woff'),
    url(NotoSansKR/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 900;
    src: url(NotoSansKR/NotoSansKR-Black.eot);
    src: url(NotoSansKR/NotoSansKR-Black.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR/NotoSansKR-Black.woff2) format('woff2'),
    url(NotoSansKR/NotoSansKR-Black.woff) format('woff'),
    url(NotoSansKR/NotoSansKR-Black.otf) format('opentype');
}
