

/* Nav */
	.status {display: flex;}
	.status > ul, .status > p {flex: 1;}
	.status > p {line-height: 3em;}
	.status ul {flex: 1; text-align: right;} 
	.status ul li {display:inline-block; margin: 1em .05em; font-weight: bold; text-align: center;}
	.status ul li:first-child::after {content: '|'; padding: 4px 8px;}
	.add-ons {width: 262px; background: #ffffff;}
	.add-ons button {margin: 2em 0;}
	.add-ons select {margin-bottom: 2em;}
	.add-ons label {display: block; font-size: 1.5em; color:#000000; margin-bottom: 0.75em;}
	



/* Main */	
	.contents {position:relative; margin-top: 40px; margin-bottom: 24px;}
	.contents > p {font-size: 1.3em; margin-bottom:1vh; color: #868E96;}
	.contents > p > span {font-size: 1.6em; font-weight: 600;}
	.contents.refreshBtn {display:block; float: right; margin:auto; background:#E75A86; width:120px; margin-top:-48px; height: 38px; font-size:15px; text-align:center; color:white; line-height:1.6em;}
	.contents table {text-align: center; padding:1%; margin-top: 16px;}
	.contents table thead td,
	.contents table tbody td {vertical-align: middle;}
	.contents table tbody td .form-group {background:none;}
	.contents table thead tr {height:5vh; font-size: 0.85rem; font-weight: 700; border-top: 2px solid #3F68B8; border-bottom: 1px solid #E0E2E1; background-color: #f0f5ff; color:#333; font-size: 0.85rem;}
	.contents table thead tr td span {font-size:0;}
	.contents table tbody tr {height:6vh; border-bottom: 1px solid #E0E2E1; background:#ffffff;}
	.contents table tbody tr:nth-child(even) {background: #F8FAFF;}
	
	.contents table tbody tr td a {font-weight: 700; color:#364FC7;}
	.contents .paging-wrap {position:absolute; left:40%; bottom:-4vh; width:320px; padding:2vh 0 0; margin: 0 auto;}
	.contents .paging-wrap ul {display:flex;}
	.contents .paging-wrap ul li {flex:1;}
	.contents .paging-wrap ul li a {color:#bdbdbd;}
	.contents .paging-wrap ul li a.on {color:#364FC7; font-weight: bold;}
	.contents .paging-wrap ul li:nth-child(1) {height:12px; font-size: 0;}
	.contents .paging-wrap ul li:nth-child(2) {height:12px; font-size: 0;}
	.contents .paging-wrap ul li:nth-child(12) {height:12px; font-size: 0;}
	.contents .paging-wrap ul li:nth-child(13) {height:12px; font-size: 0;}
	
	.contents .table-wrap .inline-right {margin-top: -56px;}
	.contents .table-wrap .inline-right-mt {margin-top: 0; text-align: right;}
	.contents table.data-details thead tr {background-color: #ffffff;}
	.contents table.data-details thead tr:nth-child(2) {border-top: 1px solid #E0E2E1;}

	.contents .table-wrap.monthly .legend-tag {position: unset; height: 42px; display: table-cell; padding-left: 20px; vertical-align: middle;}
	.contents .table-wrap.monthly table tbody tr {height:120px;}
	.contents .table-wrap.monthly table tbody tr td {position: relative;}
	.contents .table-wrap.monthly table tbody tr td span {color: #868E96;}
	
	.contents .status {display: table-cell; text-align: left;}
	.contents .status.on:before {content:"●"; padding-right:4px; color:#364FC7; font-size: 12px;}
	.contents .status.waiting:before {content:"●"; padding-right:4px; color:#91A7FF; font-size: 12px;}
	.contents .status.done{color:#C4C4C4;}
	.contents .status.done:before {content:"●"; padding-right:4px; color:#C4C4C4; font-size: 12px;}
	.contents .legend-tag {position: absolute; top: 72px; left: 12px;}
	.contents .legend-tag ul {display: inline-block; width: 100%;}
	.contents .legend-tag ul li {float: left; padding-right: 1vw;}

	.contents .schedule {overflow: hidden; overflow-y: scroll; overflow-x: scroll;}
	/* .contents .schedule table thead tr {border-bottom: 1px solid #3F68B8;} */
	.contents .schedule table tbody tr {height: 52px;}
	.contents .schedule table tbody tr td{border-right: 1px solid #E5E5E5;}
	.contents .schedule table tbody tr td:first-child{border-right: 1px solid #ccc;}
	.contents .schedule table tbody tr td:last-child{border-right: none;}
	.contents .schedule table tbody tr td.meeting {position: relative;}
	.contents .schedule table span {position:absolute; top:10px; left:6px; color: #fff; text-align: left; padding: 8px 16px; border-radius: 8px;}
	.contents .schedule table .on {background-color:#364FC7;}
	.contents .schedule table .waiting {background-color:#91A7FF;}
	.contents .schedule table .done {background-color:#C4C4C4;}
	.contents .schedule table tbody tr td a {font-weight: 700; color:#ffffff;}

	
	
		
/* form */
	.form-row {display: block; border-bottom:1px solid #E5E5E5;}
	.form-row:first-child {border-top: 2px solid #4263EB;}
	.form-row.check .form-group:nth-child(even) {min-width:132px;}
	.form-row-min{display: block; margin-bottom: 4px; max-width: 56vw;}
	.form-row.add {display:block; margin-left: 12vw;}
	.form-row table {width: 50%;}
	.form-row table thead tr {height: 4vh;}
	.form-row table tbody tr {height: 4vh;}
	.form-row.add .form-group > p {width: 3vw; text-align: right; min-width: 64px;}
	.form-group {display: table-cell; position: relative; height:60px; padding: 8px 8px; vertical-align: middle;}
	.form-group:nth-child(odd) {background: #edf2ff;}
	.form-control {display: inline-block; width: auto; vertical-align: middle;}	  
	.form-control.calendar {font-size: 1.5em; margin: 0 2vw;}
	.form-control-static {display: inline-block; width: 9vw; line-height: 1.6em; margin-right:16px; font-weight:600; color:#495057; text-align:right; word-break: keep-all;}
	.input-group {display: inline-table; vertical-align: middle;}
	/* .form-group label {display: inline-block; margin: 1vh 0vh;} */
	.control-label {margin-bottom: 0;vertical-align: middle;}
	.form-bubble-wrap {position: absolute; top:36%; left: 1em; width:34vw; height:48px;}
	.form-bubble {background: #DBE4FF; border-radius: 14px; padding: .25em .75em .25em 2em;}

	.form-control-static.notice {width: auto; color:#F59F00; padding: 8px 12px;}
	.form-control-static.notice .icon-elem-left {display: unset; background-repeat: no-repeat; background-size: contain; text-indent: unset; color: #F59F00; text-align: left; padding-left: 26px;}

	.form-group .input-area {float:left; width: 71%; border-radius: 8px 0px 0px 8px; border-right: none;} 
	.form-group .input-icon {float: left; width: 29%; padding: 6px; border: 1px solid #cccccc; border-left:none; border-radius: 0px 8px 8px 0px; cursor: pointer;}
	.form-group .input-area.search {width: 76%;}
	.form-group .input-icon.search {width: 24%;}
	.form-group.largest .input-area {float:left; width: 92%; border-radius: 8px 0px 0px 8px; border-right: none;} 
	.form-group.largest .input-icon {float: left; width: 8%;}
	
	.filter.inline-right {max-width: 100vw;}
	.filter.inline-right .form-row {max-width: 100vw;}
	
	.search-area .form-row {border-bottom:none;}
	.search-area .form-row:first-child {border-top: none;}
	.search-area .form-row.check .form-group:nth-child(even) {min-width:unset;}
	.search-area .form-group {display: inline-block; height:auto; padding: 8px 2px; vertical-align: middle;}
	.search-area .form-group:nth-child(odd) {background:none;}
	.search-area .inline-right {position: absolute; top: 8px; right: 0;}
	.search-area label span {vertical-align: text-top;}
	
	.info {margin:2em 0; height: 102px;}
	.info ul {width:60vw;}
	.info ul li {float: left; width:calc(100% / 3); padding:12px 0;}
	.info dl {display:flex;}
	.info dl dt {flex:1;}
	.info dl dd {flex:2;}
	.info dl dt {text-align:right; padding-right:2vw; font-weight:600;}
	.info dl dd {color: #868E96;}
	.info dl dd span {font-weight:600;}
	
	.contents.addon {display: flex;}
	.contents.addon .organization-list {flex:.5; margin-right: 24px;}
	.contents.addon .table-wrap {flex:2;}
	.contents.addon .organization-list > ul {height: 400px; padding: 12px 8px; border:1px solid #E5E5E5; border-radius: 8px;}
	.contents.addon .organization-list > ul > li:first-child::before {content: ' '; display: inline-block; background: url("../images/icon/icon-company.svg") no-repeat 0px 2px; width: 20px; height: 20px; padding-right: 6px;}
	.contents.addon .organization-list > ul > li > ul {padding-left: 8px;}
	.contents.addon .organization-list > ul > li > ul li {padding: 4px 8px 12px 8px;}
	.contents.addon .organization-list > ul > li > ul li:first-child {margin-top: 8px;}
	.contents.addon .organization-list > ul > li > ul li::before {content: ' '; display: inline-block; background: url("../images/icon/list-bullet.svg") no-repeat 0px 2px; width: 20px; height: 20px; padding-left: 8px;}
	.contents.addon .organization-list > ul > li > ul li.on {border-radius: 8px; background-color:#DBE4FF;}
	.contents.addon .organization-list h5 {margin: 16px 12px; font-weight: 600; font-size: 1.25em;}
	.contents.addon .paging-wrap {right: calc(49% - 320px); left:unset;}


/* Icon */
	.icon-elem {position:relative; display:inline-block; background-repeat:no-repeat; background-size:cover; text-indent:-1000em; vertical-align:middle;}
	.icon-elem :before,
	.icon-elem :after {content:""; position:absolute;}
	.iconHover:hover .icon-elem ,
	.iconHover.active .icon-elem,
	.icon-elem.active {background-position:0 100%;}
	.icon-elem-left {background-repeat: no-repeat; background-size: contain; color: #ffffff; padding-left: 26px;}
	.icon-elem-left.icon-excel {color:#177848;}
	.icon-next {background-image: url("../images/icon/next.svg"); width:12px; height:12px;}
	.icon-prev {background-image: url("../images/icon/prev.svg"); width:12px; height:12px;}
	.icon-firstpg {background-image: url("../images/icon/first-pg.svg"); width:12px; height:12px;}
	.icon-lastpg {background-image: url("../images/icon/last-pg.svg"); width:12px; height:12px;}
	.icon-nav-arrow {background-image: url("../images/icon/nav-arrow.svg"); width:14px; height:14px; margin-left: 64px;}
	.icon-cal {background: url("../images/icon/cal-icon.svg")no-repeat 90% 0%; width:26px; height:26px;}
	.icon-search {background: url("../images/icon/search-icon.svg")no-repeat 1px 0px; width:26px; height:26px;}
	.icon-clock {background-image: url("../images/icon/clock-icon.svg"); width:26px; height:26px;}
	.icon-refresh {background-image: url("../images/icon/refresh.svg"); width:25px; height:26px;}
	.icon-bookmark {background-image: url("../images/icon/icon-bookmark-bl.svg"); width:24px; height:24px;}
	.icon-add {background-image: url("../images/icon/icon-add-bl.svg"); width:16px; height:16px;}
	.icon-msg {background-image: url("../images/icon/icon-msg.svg"); width:16px; height:16px;}
	.icon-trash {background-image: url("../images/icon/icon-trash-bl.svg"); width:20px; height:20px;}
	.icon-webview {background-image: url("../images/icon/icon-webview.svg"); width:20px; height:20px;}	
	.icon-soundless {background-image: url("../images/icon/icon-soundless.svg"); width:20px; height:20px;}	
	.icon-refresh-all {background-image: url("../images/icon/icon-refresh.svg"); width:25px; height:26px;}
	.icon-mic-on {background-image: url("../images/icon/icon-mic.svg"); width:25px; height:26px;}
	.icon-mic-off {background-image: url("../images/icon/icon-mic-gr.svg"); width:25px; height:26px;}
	.icon-camera-on {background-image: url("../images/icon/icon-camera.svg"); width:25px; height:26px;}
	.icon-link-on {background-image: url("../images/icon/icon-link.svg"); width:25px; height:26px;}
	.icon-link-off {background-image: url("../images/icon/icon-link-off-gr.svg"); width:25px; height:26px;}
	.icon-info-on {background-image: url("../images/icon/icon-info.svg"); width:25px; height:26px;}
	.icon-notice {background-image: url("../images/icon/icon-notice.svg"); width:24px; height:24px;}
	.icon-excel {background-image: url("../images/icon/icon-excel.svg"); width:24px; height:24px;}
	
	/* Nav Icon */
	.icon-elem-nav {width:24px; height:24px; padding-left: 36px; padding-top: 5px; background-size: cover; vertical-align: middle;}
	.icon-control {background: url("../images/icon/icon-reservationcontrol.svg")no-repeat 0 0;}
	.icon-adminrights {background: url("../images/icon/icon-adminrights.svg")no-repeat 0 0;}
	.icon-adminsettings {background: url("../images/icon/icon-control.svg")no-repeat 0 0;}
	.icon-dashboard {background: url("../images/icon/icon-dashboard.svg")no-repeat 0 0;}
	.icon-files {background: url("../images/icon/icon-files.svg")no-repeat 0 0;}
	.icon-ldap {background: url("../images/icon/icon-LDAP.svg")no-repeat 0 0;}
	.icon-meetingroom {background: url("../images/icon/icon-meetingroom.svg")no-repeat 0 0;}
	.icon-systemcontrol {background: url("../images/icon/icon-systemcontrol.svg")no-repeat 0 0;}
	.icon-systemlog {background: url("../images/icon/icon-systemlog.svg")no-repeat 0 0;}
	.icon-vrmeetingroom {background: url("../images/icon/icon-vrmeetingroom.svg")no-repeat 0 0;}
	.icon-chart {background: url("../images/icon/icon-chart.svg")no-repeat 0 0;}
	.icon-user {background: url("../images/icon/icon-user.svg")no-repeat 0 0;}

	.icon-meetings {background: url("../images/icon/icon-meetings.svg")no-repeat 0 0;}
	.icon-list {background: url("../images/icon/icon-list.svg")no-repeat 0 0;}
	.icon-main {background: url("../images/icon/icon-main.svg")no-repeat 0 0;}
	.icon-meetings {background: url("../images/icon/icon-meetings.svg")no-repeat 0 0;}
	.icon-reservation {background: url("../images/icon/icon-reservation.svg")no-repeat 0 0;}



/* button */
	.btn {height: 42px; text-align: center; box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; color: #ffffff; font-size: .95rem; font-weight: 600; line-height: 3em;}
	.primary {background: #4263EB;}
	.secondary {background: #91A7FF;}
	.tertiary {background: #22B8CF;}
	.alert {background: #F59F00;}
	.error {background: #F06595;}
	.cancel {background: #C4C4C4;}
	.excel {background: #177848;}
	.strong {color: #364FC7; font-weight: 600;}
	.primary-varient {padding-left: 16px; font-size: 1rem; box-shadow: 2px 4px 8px rgba(54, 79, 199, 0.1); color:#364FC7;}
	.secoondary-varient {padding-left: 16px; font-size: 1rem; box-shadow: 2px 4px 8px rgba(34, 183, 206, 0.1); color:#22B8CF;}
	.excel-varient {padding-left: 16px; font-size: 1rem; box-shadow: 2px 4px 8px rgba(23, 120, 72, 0.1); color:#177848;}
	

	/* button, input */
	.large-max {width:24vw;}
	.large {width:10vw; min-width: 196px;}
	.large-min {width:8vw; min-width: 142px;}
	.regular {width:6vw; min-width: 98px;}
	.regular-min {width:7vw; min-width: 108px;}
	.medium {width:9vw; min-width: 136px;}
	.small {width:3vw; min-width: 60px;}
	.small-min {width:2vw; min-width: 40px}
	.circle {width:32px; height:32px; border-radius: 16px;}
	.largest {width:40vw;}
	.close {background: url("../images/close-btn.svg")no-repeat 50% 50%; width: 40px; height: 40px;}
	.star {box-shadow: none;}

	.primary-color {color: #364FC7;}
	.alert-color {color: #F59F00;}
	.tertiary-tcolor {color:#868E96;}
	.strong {color:#495057; font-weight: 500;}

	.btn .icon-next {background-image: url("../images/icon/next-bl.svg"); width:24px; height:24px;}
	.btn .icon-prev {background-image: url("../images/icon/prev-bl.svg"); width:24px; height:24px;}
	.btn .icon-star-on{background-image: url("../images/icon/star-on.svg"); width:40%; height:40%;}
	.btn .icon-star-off{background-image: url("../images/icon/star-off.svg"); width:40%; height:40%;}

/* pop-up */
	
	.pop-up.regular .pop-up-left {flex: 1; padding-right: 24px;}
	.pop-up.regular .pop-up-right {flex: 2;}

	.pop-up.large .pop-up-list {flex: 0.5; margin: 6px 12px 6px 12px;}
	.pop-up.large .pop-up-left {flex: 1; margin: 6px 32px 6px 12px;}
	.pop-up.large .pop-up-right {flex: 1; margin: 6px 12px 6px 32px;}
	.pop-up.large h6 {margin: 16px 12px;}

	
	.pop-up dl {display: flex; position: relative;}
	.pop-up dl dt {flex: 1;}
	.pop-up dl dd {flex: 2;}
	.pop-up dl dt, .pop-up dl dd {padding: 1vh 0;}
	.pop-up dl dt {text-align: right; padding-right: 24px;}
	.pop-up dl dd {color: #868E96;}
	.pop-up .meeting-details {display:inline-block;}
	.pop-up .meeting-details dt,
	.pop-up .meeting-details dd {width: 100%; text-align: left;}
	.pop-up .meeting-details dt {flex: unset; padding-left: 18px;}
	.pop-up .meeting-details dd {flex: unset;}
	.pop-up .meeting-details dd textarea {height: 174px; width:234px;}
	.pop-up table.data-details {margin-top: 40px;}
	.pop-up table.data-details {position: relative;}
	.pop-up table.data-details caption {overflow: unset; display: inline-block; position: absolute; top: -24px; left: 0; font-size: 0.95em; color:#495057; font-weight: 500; text-indent: 0; height: auto;}
	.pop-up table.data-details tr {height: 4vh;}
	.pop-up table thead tr {background: #ffffff;}
	.pop-up table tbody tr {height:5vh;}
	.pop-up table tbody tr:nth-child(even) {background: #ffffff;}
	.pop-up table tbody tr:nth-child(odd) {background: #F8FAFF;}
	.pop-up .table-wrap {margin: 0px 20px;}

	.pop-up .form-row {border-bottom:none;}
	.pop-up .form-row:first-child {border-top: none;}
	.pop-up .form-row.check .form-group:nth-child(even) {min-width:unset;}
	.pop-up .form-group {display: inline-block;}
	.pop-up .form-group:nth-child(odd) {background:none;}
	
	.pop-up .pop-up-tab {display: inline-block; width: calc(100% - 60px); margin: 10px 32px; border-bottom: 1px solid #ccc;}
	.pop-up .pop-up-tab ul {display: flex; width: 240px;}
	.pop-up .pop-up-tab ul li {flex: 1; text-align: center; padding: 8px 0px;}
	.pop-up .pop-up-tab ul li.on {border-bottom:2px solid #364FC7;}
	.pop-up .pop-up-tab ul li.on a {font-weight: 600; color:#364FC7;}
	.pop-up.small .pop-up-contents {display: block;}
	.pop-up.small .pop-up-contents dl dt {padding: 4px 8px 0 0;}
	.pop-up.small .pop-up-contents dl dd {padding: 4px 0;}
	.pop-up.large .pop-up-contents.schedule {height: 600px;}

	.pop-up .pop-up-contents.schedule caption {display: none;}
	.pop-up .pop-up-contents.schedule table {margin-top: 0px;}

	.pop-up .half-addon .contents-control-btn {left: 57.6%;}
	.pop-up .contents-control-btn {position: absolute; top: 162px; left: 48%; width: 48px;}
	.pop-up .contents-control-btn button {margin: 6px 0;}
	.pop-up.large .form-control-static {width: 108px;}
	.pop-up.regular .form-control-static {width: 56px;}
	.pop-up .filter.add {position: absolute;}
	
	.pop-up .info {margin:1em 1em; height: 90px; border-radius: 8px; background:#DBE4FF;}
	.pop-up .info ul {width:100%;}
	.pop-up .info ul li {float: left; width:calc(100% / 4); padding:6px 0;}
	.pop-up .info dl {display:flex;}
	.pop-up .info dl dt {flex:1;}
	.pop-up .info dl dd {flex:2;}
	.pop-up .info dl dt {text-align:right; padding-right:1vw; font-weight:600;}
	.pop-up .info dl dd {color: #868E96;}
	.pop-up .info dl dd span {font-weight:600;}

	.pop-up .pop-up-list > ul {height: 400px; padding: 12px 8px; border:1px solid #E5E5E5; border-radius: 8px;}
	.pop-up .pop-up-list > ul > li:first-child::before {content: ' '; display: inline-block; background: url("../images/icon/icon-company.svg") no-repeat 0px 2px; width: 20px; height: 20px; padding-right: 6px;}
	.pop-up .pop-up-list > ul > li > ul {padding-left: 8px;}
	.pop-up .pop-up-list > ul > li > ul li {padding: 4px 8px 12px 8px;}
	.pop-up .pop-up-list > ul > li > ul li:first-child {margin-top: 8px;}
	.pop-up .pop-up-list > ul > li > ul li::before {content: ' '; display: inline-block; background: url("../images/icon/list-bullet.svg") no-repeat 0px 2px; width: 20px; height: 20px; padding-left: 8px;}
	.pop-up .pop-up-list > ul > li > ul li.on {border-radius: 8px; background-color:#DBE4FF;}
	.pop-up .form-row.add .form-group > p {margin-left: 40px; min-width: 66px;}
	.pop-up .form-row .form-group > p {min-width: 64px; width: auto; margin-right: 0;}
	
	.pop-up .filter.half-addon {position: absolute; bottom:0; right:64px;}
	.pop-up .scroll-height {margin-top: 0vh; overflow-y: scroll; max-height: 558px;}
	.pop-up .scroll-height-min {margin-top: 0vh; overflow-y: scroll; max-height: 438px;}
	.pop-up .scroll-height-small {margin-top: 0vh; overflow-y: scroll; max-height: 307px;}
	.pop-up .pop-up-contents .scroll-height-mini {overflow-y: scroll; max-height: 240px; margin-top: 200px;}
	.pop-up .pop-up-contents.schedule .scroll-height {overflow-y: scroll; max-height: 600px;}

	
	.favorite {position:fixed; top:140px; left:320px;}
	.favorite {width:364px; background: #FFFFFF; border: 1px solid #CCCCCC; box-sizing: border-box; box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15); border-radius: 0px 8px 8px 0px; border-left: 2px solid #ffffff;;}
	.favorite h5 {overflow-x: hidden; margin:12px 12px 16px 12px; padding-left: 48px; width: calc(100% - 24px); height: 40px; color: #ffffff; background: #4263EB; border-radius: 8px; font-size: 1.32em; font-weight: 600; line-height: 2.3em;}
	.favorite h5::after {display: block; content:" "; width: 40px; height: 40px; margin-left: -36px; margin-top: -42px; background: url("../images/popup-header.svg")no-repeat 0% 50%;}
	.favorite .pop-up-list > ul {height: 400px; padding: 0px 20px;}
	.favorite .pop-up-list > ul > li:first-child::before {content: ' '; display: inline-block; background: url("../images/icon/icon-bookmark.svg") no-repeat 0px 0px; width: 20px; height: 20px; padding-right: 6px;}
	
	/* .favorite .pop-up-list > ul > li:first-child::after {content: ' '; display: inline-block; background: url("../images/icon/icon-add.svg") no-repeat 0px 2px; width: 20px; height: 24px; padding-left: 8px;}
	 */
	.favorite .pop-up-list > ul > li > ul {padding-left: 8px;}
	.favorite .pop-up-list > ul > li > ul li {padding: 4px 8px 4px 8px;}
	.favorite .pop-up-list > ul > li > ul li:first-child {margin-top: 8px;}
	.favorite .pop-up-list > ul > li > ul li::before {content: ' '; display: inline-block; background: url("../images/icon/list-bullet.svg") no-repeat 0px 0px; width: 20px; height: 22px; padding-left: 8px;}
	.favorite .pop-up-list > ul > li > ul li.favorite .pop-up-list > ul > li > ul li.on {border-radius: 8px; background-color:#DBE4FF;}

	.favorite button {position: absolute; left: 372px; top: 20px;}

	.pop-up .inline-center{position: absolute; top: unset; bottom: 25px; right: 44%;}
	.pop-up .inline-right {position: absolute; top: unset; bottom: 25px; right: 0;}
	.pop-up .filter .inline-right {position: unset; padding:10px; width:100%;}
	.pop-up .inline-left{position: absolute; top: unset; bottom: 25px; left: 0; }
	
	.pop-up .close-control {position: absolute;	top: 13px; right: 20px;}
	.close {box-shadow: none;}