/* Division */
	#wrap {height:100%; display: flex;}

	/*
		min-height:calc(100% - 111px - 122px);
		70px - Header Height
		126px - Footer Height
	*/
	#container{height: auto; overflow: auto; width: 100%; min-height:100%; margin-left: 320px; padding: 62px 20px; background:#FDFDFD;}
	#container h2 {margin-top: 24px; font-size: 1.75em; font-weight: bold; color: #CCCCCC;}
	#container h2 span:first-child {color: #868E96;}
	#container h2 span:last-child {color: #495057;}

	#nav {position: fixed; min-width: 320px; height:100%; overflow: auto; box-shadow: 2px 0px 8px 1px rgba(0, 0, 0, .1); padding:1em 2em; color: #868E96;}
	#nav > ul {margin-top: 28px;}
	#nav > ul > li > a {display: block; font-size: 1.05em; font-weight: normal; color: #868E96;}
	#nav > ul > li > a.icon-elem-nav {vertical-align: middle; margin-bottom: 3px;}
	/* #nav > ul > li > a::before {content: " "; width:24px; height:24px; padding-left: 12px;}
	#nav > ul > li > a.*/


	#nav > ul li {padding: 16px 12px 12px 12px; padding-left:36px; margin: 0px 14px 14px 14px;}
	#nav > ul li.on {background: #DBE4FF; box-shadow: 2px 4px 8px rgba(54, 79, 199, 0.1); border-radius: 8px;}
	#nav ul > li > ul {margin-top:3vh;}
	#nav ul > li > ul > li {clear: both; box-shadow: none; color: #8290D2; padding: 0px 32px;}
	#nav ul > li > ul > li:last-child {margin-bottom: 0;}
	#nav ul > li > ul > li.on {box-shadow: none; color: #364FC7;}
	#nav > ul > li.on > a .icon-elem-nav {font-weight: bold; color: #364FC7; }
	#nav h1 {font-size: 3em; font-weight: 700; padding: .25em;}
	
	.inline-right {text-align:right;}
	.inline-left {text-align:left;}
	.align-right {width: 100%; text-align: right; margin-top: 5vh; padding-right: 12vw;}
	
	
	.pop-up {position: absolute; background:#FDFDFD; border: 1px solid #CCCCCC; box-sizing: border-box; box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15); border-radius: 8px;}
	.pop-up.large {width: 920px; height: 742px; left: 0vw; top: 0vh;} 
	.pop-up.regular {width: 768px; height: 724px; right: 0vw; top: 0vh;}
	.pop-up.small {width: 291px; height: 178px; left: 10vw; top: 9vh;}
	.pop-up.small-max {width: 612px; height: 232px; right: 0; top: 320px;}
	.pop-up .pop-up-contents {display: flex; width: 100%;padding: 4px 24px;}
	.pop-up.small-max .pop-up-contents {display: inline-block; padding: 0px 24px;}
	.pop-up.small-max dl dt {flex:.5;}
	.pop-up.small-max dl dt, .pop-up dl dd {padding: 4px 0;}
	.pop-up.large .pop-up-contents{height: 520px; position: relative;}
	.pop-up h5 {margin:12px 12px 16px 12px; padding-left: 48px; width: calc(100% - 24px); height: 40px; color: #ffffff; background: #4263EB; border-radius: 8px; font-size: 1.32em; font-weight: 600; line-height: 2.3em;}
	.pop-up h5::after {display: block; content:" "; width: 40px; height: 40px; margin-left: -36px; margin-top: -42px; background: url("../images/popup-header.svg")no-repeat 0% 50%;}
	.pop-up .inline-right {display: inline-block; width: 45%; padding-right: 24px; text-align:right;}
	.pop-up .inline-left {display: inline-block; width: 54%; padding-left: 24px; text-align:left;}