@charset "utf-8";

.wrap__theme--1-1-1 {
    width: 640px;
    margin-top: 20px;
}

.text__source {
    text-align: center;
}

.wrap__flex--1-2-3 {
    width: 1280px;
    padding: 0 10px 0 10px;
}

.wrap__flex--1-2-3 .wrap__flex--outer-ver.--width-390 {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
}