* {
  box-sizing: border-box;
  border: 0;
}
:focus {
  outline: 0;
}
a {
  text-decoration: none;
  color: inherit;
  border: 0;
  cursor: pointer;
}
a:focus {
  outline: 0;
}
a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  word-break: keep-all;
  color: #333;
  padding: 0;
  margin: 85.5px 0 0 0; /* 메뉴 고정시키고 싶은 높이 */
}

/* color */
.background--green {
  background-color: #e2f5e8;
}
.background--orange {
  background-color: #ffeddf;
}
.background--blue {
  background-color: #d9f5fb;
}
.background--wine {
  background-color: #f4e7ed;
}
.background--purple {
  background-color: #eceaff;
}
.background--mint {
  background-color: #e9f9f7;
}
.background--lemon {
  background-color: #fff9d9;
}
.background--pink {
  background-color: #fce9f5;
}
.background--grey {
  background-color: #f0f0f0;
}

.--hidden {
  display: none;
}
.--transparent {
  opacity: 0;
  cursor: none;
}
.--width-390 {
  width: 390px;
}

/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 85.5px;
  z-index: 20;
  border-bottom: 1px solid #3333334d;
}
.wrap__outer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 900px;
  width: 76vw;
  max-width: 1600px;
  height: 60px;
}
.wrap__header-l {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: auto;
  height: auto;
}
.wrap__header-r {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 360px;
  height: 100%;
}
.wrap__logo {
  width: auto;
  height: auto;
}
.img__main-logo {
  width: 116px;
  height: 60px;
}
.title__header {
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 0 20px;
}
.menu__outer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  width: auto;
  height: 100%;
}
.menu__outer:hover > text {
  opacity: 0.5;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 0 4px 0;
}
.dot--orange {
  background-color: #f5733c;
}
.dot--green {
  background-color: #70cb8b;
}
.dot--blue {
  background-color: #5096e6;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85px;
  padding: 20px 0;
  background-color: #333;
}
.wrap__footer {
  display: flex;
  justify-content: space-between;
  min-width: 900px;
  width: 76vw;
  max-width: 1600px;
}
.wrap--bottom {
  position: absolute;
  bottom: 0;
}
.img__footer-logo {
  width: 197.11px;
  height: auto;
  margin: 0 56px 0 0;
}
.text__footer {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: left;
}
.text__footer-policy {
  font-size: 16px;
  font-weight: 700;
  line-height: 2.7em;
  color: #fff;
  padding: 2px 0 0 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #fff;
}

/* nav - menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.wrap__main-menu {
  /* 상단 메뉴 wrap */
  display: flex;
  align-items: center;
  min-width: 900px;
  width: 76vw;
  max-width: 1600px;
  height: 60px;
  /* margin-bottom: 17px; */
}
.menu__main {
  flex: 1 0 auto;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.5);
}
.menu__main--mobile {
  display: none;
}
.arrow--l-r {
  display: none;
}
.main--select {
  color: rgba(51, 51, 51, 1);
}

.wrap__top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrap__sub-menu {
  display: flex;
  justify-content: space-between;
  width: 379px;
  margin: 24px 0 0 0;
}
.wrap__sub-menu--3 {
  display: flex;
  justify-content: space-between;
  width: 268px;
  margin: 24px 0 0 0;
}

.menu__sub {
  width: auto;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
  padding: 10px 16px 11px 16px;
  opacity: 0.4;
}
.menu__sub:hover {
  opacity: 1;
}
.sub--select {
  font-weight: 700;
  padding: 10px 19px 11px 19px;
  opacity: 1;
}

.wrap__main-text-img {
  display: flex;
  justify-content: space-between;
  min-width: 900px;
  width: 76vw;
  max-width: 1600px;
}
.wrap__main-text-img-ver {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.wrap__main-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.text--green {
  color: #70cb8b;
}
.block--green {
  background-color: #70cb8b;
}
.block--orange {
  background-color: #ffa65e;
}
.block--blue {
  background-color: #7ed1f4;
}
.block--lavender {
  background-color: #cfc8ff;
}
.block--lavender-2 {
  background-color: #cecaff;
}
.block--purple {
  background-color: #a294ff;
}
.block--wine {
  background-color: #d494b2;
}
.block--pink {
  background-color: #ff9acf;
}
.block--mint {
  background-color: #77d9c7;
}
.block--yellow {
  background-color: #ffd900;
}
.block--white {
  background-color: #fff;
}
.block--black {
  background-color: #333;
}

/* margin */
.row--100 {
  height: 100px;
  width: 100%;
}
.row--60 {
  height: 60px;
  width: 20px;
}
.row--20 {
  height: 20px;
  width: 100%;
}
.row--10 {
  height: 10px;
  width: 100%;
}
.col--20 {
  width: 20px;
  height: 100%;
}
.col--10 {
  width: 10px;
  height: 100%;
}
.row-col--20 {
  width: 20px;
  height: 20px;
}

/* main */

/* 공통 */

/* text box flex */
.single-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-text-box--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrap__grid {
  display: grid;
  grid-template-columns: auto 820px auto;
}

.container__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  width: 100%;
}
.title__main {
  text-align: left;
  font-weight: 700;
}
.t--max {
  font-size: 60px;
}
.t--max-2 {
  font-size: 45px;
}
.t--mid {
  font-size: 36px;
}
.title--0 {
  margin: 60px 0 71px 0;
}
.title--1-1-1 {
  margin: 72px 0 58px 0;
}
.title--1-1-2 {
  margin: 60px 0;
}
.title--1-2-1 {
  margin: 60px 0 58px 0;
}
.title--1-2-2 {
  text-align: center;
  font-size: 60px;
  margin: 71px 0 66px 0;
}
.title--4 {
  margin: 99px 0 60px 0;
}
.title--1-3-1 {
  margin: 66px 0 63px 0;
}
.title--1-3-1--sub {
  margin: 60px 0 60px 0;
}
.title--7 {
  margin: 60px 0 60px 0;
}
.title--1-3-2 {
  margin: 77px 0 250px 0;
}
.title--2-1 {
  margin: 100px 0 58px 0;
}
.title--10 {
  margin: 56px 0 50px 0;
}
.title--2-2 {
  margin: 100px 0 173px 0;
}
.title--3-1-1 {
  margin: 60px 0 60px 0;
}
.title--13 {
  margin: 60px 0 50px 0;
}
.title--3-2-0 {
  margin: 60px 0 58px 0;
}
.title--4-1-0 {
  margin: 100px 0 54px 0;
}
.title--4-1-0--sub {
  font-size: 36px;
  font-weight: 700;
  margin: 52px 0 65px 0;
}
.title--16 {
  margin: 80px 0 50px 0;
}
.title--3-2-1 {
  text-align: center;
  margin: 60px 0 62px 0;
}

.title__sub {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 15px 0;
}
.wrap__img--page-1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* overflow: hidden; */
  width: auto;
  height: auto;
}
.text__guide {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

button {
  align-self: center;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}
.--width-max {
  width: 800px;
}

.button--max--black {
  background-color: #333;
  color: #fff;
}
.button--max--white {
  background-color: #fff;
  color: #333;
}
.button--mid {
  width: 400px;
  color: #333;
}
.button--mid--black {
  width: 400px;
  color: #fff;
}
.btn-h--max {
  height: 80px;
  border-radius: 50px;
}
hr {
  width: 100%;
  border-top: 1px solid #3333334d;
}

/* virtual 0 */
.wrap__guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 653px;
}
.box__guide--short-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 100px;
  border-radius: 60px;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 64px;
}
.img__main--0 {
  width: 663.23px;
  height: auto;
}
.guide--0 {
  margin: 61px 0 60px 0;
}
#btn__start-virtual-report {
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 80px;

  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  border-radius: 50px;
  padding: 0 0 0 33.71px;
  margin: 0 auto;

  background-color: #70cb8b;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.icon__arrow {
  width: 13.71px;
  height: 24px;
  margin: 0 20px 0 0;
}
.area__bullet {
  border-top: 1px solid #3333334d;
  text-align: left;
  padding-top: 6px;
  margin: 100px 0 60px 0;
}
.text__bullet--14 {
  font-size: 14px;
  line-height: 22px;
}
hr.divider--0 {
  margin: 15px 0 6px 0;
}
.wrap__terminology {
  width: 800px;
  height: auto;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 150px;
}
.title__terminology {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  font-size: 16px;
  font-weight: 700;
  padding: 0 20px 0 20px;
}
.details-terminology {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  border-top: 1px solid #3333334d;
}
.arrow--up-down--green {
  width: 21px;
  height: 12px;
  margin: 4px 20px 0 0;
}
.wrap__bullet {
  text-align: left;
}

.img__title {
  width: 250px;
  height: auto;
}

/* virtual 1-1 */
.img__main--1-1-1 {
  width: 426.5px;
}
.guide--1-1-1 {
  width: 100%;
  margin: 0 0 68px 0;
}
.title__my-condition {
  font-size: 36px;
  margin: 60px 0 60px 0;
}

/* 카테고리 제목 */
.box__theme-title--short-round {
  justify-content: space-between;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  padding: 0 22px 0 15px;
}
.--margin-bottom-20 {
  margin-bottom: 20px;
}
.--margin-bottom-10 {
  margin-bottom: 10px;
}
.color--1-light-green {
  background-color: #d3da27;
}
.color--1-mint {
  background-color: #70cb8b;
}
.color--1-blue {
  background-color: #7bc0ff;
}
.wrap__condition-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 60px 0;
}
/* 몸의 상태만 different */
.--width-175 {
  width: 175px;
}
/* 아이콘 wrap */
.wrap__theme-icon {
  display: flex;
  justify-content: flex-end;
  width: 45px;
  margin-right: 10px;
}
.body-icon {
  height: 39px;
}
.mind-icon {
  height: 38px;
}
.life-icon {
  height: 38px;
}

/* 옵션 리스트 */
.box__option--long-round--1-1-1 {
  cursor: pointer;
  height: 50px;
  background-color: #fff;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  margin-bottom: 10px;
}
/* 눌렸을 때 */
.box__option--pressed.light-green.on {
  border: 2px solid #d3da27;
  background-color: #eaea86;
}
.box__option--pressed.mint.on {
  border: 2px solid #70cb8b;
  background-color: #b5eac3;
}
.box__option--pressed.blue.on {
  border: 2px solid #7bc0ff;
  background-color: #bbe2ff;
}
.wrap__button--1-1-1 {
  display: flex;
  flex-direction: column;
  margin: 0 0 150px 0;
}

/* 나의 상태 점검 결과 */
/* flex wrap */
.wrap__flex--1-1-2 {
  display: flex;
  /* gap: 20px; */
  margin: 10px 0 50px 0;
}
.wrap__img--page-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  overflow: hidden;
  width: auto;
  height: auto;
  padding: 0 20px 0 0;
}
.img__main--1-1-2 {
  width: 171.32px;
  height: auto;
}
.wrap__button--1-1-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
.row--1-1-2 {
  height: 60px;
  width: 20px;
}

/* 흰 박스 전체 - details 포함 영역 */
.box__theme--square--1-1-2 {
  display: flex;
  flex-direction: column;
  flex: 0 0 390px;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  /* margin-bottom: 20px; */
  margin: 0 10px 20px 10px;
}
/* 기본 콘텐츠 영역 */
.box__theme-contents {
  cursor: pointer;
  position: relative;
  height: 234px;
  padding: 20px 20px 0 20px;
}
/* details 영역 */
.box__theme-detail {
  display: flex;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 0 20px;
}
/* 볼드 텍스트 */
.box__text--bold {
  position: absolute;
  width: 305px;
  z-index: 2;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
/* 열기/닫기 아이콘 */
.icon--corner {
  position: absolute;
  right: 20px;
  width: 24px;
  height: 24px;
}
.divider--1 {
  width: 100%;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  margin: 20px 0 13px 0;
}
.details--1-1-2 {
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  padding: 0 0 20px 0;
}
span.--bold--orange {
  text-decoration: underline;
  font-weight: 700;
  color: #ffa65e;
}
.--default {
  font-weight: 400;
  color: #333;
}
.--bold--underline {
  text-decoration: underline;
}
.text__inner-sub-title--1-1-2 {
  color: #ffa65e;
  margin: 20px 0 0 0;
  font-weight: 700;
}
.text__detail--1-1-2 {
  font-size: 12px;
  line-height: 20px;
}
.--bold--underline {
  text-decoration: underline;
  font-weight: 700;
}

/* 주제별 이미지 */
.img__theme-contents--1-1-2 {
  position: absolute;
  width: auto;
  height: 160px;
  z-index: 1;
  bottom: 0;
  right: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul::marker {
  display: none;
}

/* virtual 1-2 */
.img__main--1-2-1 {
  max-width: 592.98px;
  width: 70vw;
  min-width: 500px;
}
.img__main--1-2-2 {
  width: 216.77px;
}
.img__main--1-2-3 {
  width: 381px;
  margin: 0 0 72px 0;
}
.guide--1-2-1 {
  min-width: 559px;
  margin: 0 0 83px 0;
}
.wrap__img--1-2-2-top {
  margin: 0 0 30px 0;
}
.wrap__img--1-2-2-form {
  flex-direction: row;
}

/* 신고서 예시 img */
.img__contents-form {
  width: 800px;
  margin: 61px 0 30px 0;
}
.text__source {
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: rgba(51, 51, 51, 0.5);
  padding: 0 0 0 2px;
}
.wrap__button--1-2-1 {
  display: flex;
  margin: 60px 0 300px 0;
}
.wrap__button--1-2-1 > * {
  margin: 0 20px 0 0;
}
.wrap__button--1-2-2 {
  display: flex;
  flex-direction: column;
  margin: 100px 0 150px 0;
  /* gap: 20px; */
}
.wrap__button--1-2-3 {
  display: flex;
  flex-direction: column;
  margin: 26px 0 100px 0;
  /* gap: 20px; */
}

/* 증거 확보 방법 */
.wrap__flex--1-2-3 {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}
.box__theme--square--1-2-3 {
  display: flex;
  position: relative;
  flex-direction: column;
  /* flex: 0 0 200px; */
  height: 234px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  margin: 0 0 20px 0;
}
.img__theme-contents--1-2-3 {
  position: absolute;
  width: 232.94px;
  bottom: 20px;
  right: 20px;
}
.text__bullet--16 {
  display: flex;
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  color: #333;
  padding: 0 4px 0 4px;
  margin: 0 0 50px 0;
}
.row--1-2-3 {
  height: 64px;
  width: 20px;
}

.wrap__flex--outer-ver {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.wrap__theme-detail--1-3-1 {
  background-color: rgba(200, 133, 164, 0.2);
  border-radius: 25px;
}
.box__option--mid-round--1-3-1 {
  cursor: pointer;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(200, 133, 164, 0.2);
  padding: 0 20px;
}
.box__option--long-round--1-3-1 {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 22px 0 20px;
}
/* 옵션 리스트 */
.box__detail--1-3-1 {
  opacity: 0;
  max-height: 0px;
  position: relative;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  -moz-transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  overflow: hidden;
  padding: 0;
}
.box__detail--1-3-1.show {
  opacity: 1;
  height: 100%;
  max-height: 600px;
  transition: max-height 0.6s ease-in;
  -webkit-transition: max-height 0.6s ease-in;
  -moz-transition: max-height 0.6s ease-in;
  margin: -3px 0 0 0;
}
.details--1-3-1 {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}
.box__option--inside {
  cursor: pointer;
  display: flex;
  width: 780px;
  min-height: 50px;
  background-color: rgba(200, 133, 164, 0.2);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  padding: 14px 20px 14px 20px;
  margin: 0 10px 10px 10px;
}
/* 눌렸을 때 */
.box__option--pressed.pink.on {
  border: 2px solid #c885a4;
  background-color: white;
}

.img__main--1-3-1 {
  width: 430.73px;
}
.guide--1-3-1 {
  width: 100%;
  margin: 0 0 104px 0;
}

.wrap__type-options {
  display: flex;
  /* gap: 20px; */
  border-bottom: 1px solid #3333334d;
  padding: 0 0 56px 0;
}
.wrap__type-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap__img--1-3-1 {
  width: auto;
  height: 234.78px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  margin: 0 0 20px 0;
}
.img__type-select {
  width: 180px;
  height: auto;
}
.wrap__theme--1-3-1 {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  margin: 0 0 16px 0;
}

.text__annotation--1-3-1 {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  padding: 0 2px 0 2px;
}
.wrap__button--1-3-1 {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  margin: 100px 0 150px 0;
}
.img__main--1-3-2 {
  width: 426px;
  height: auto;
}
.wrap__img--1-3-2 {
  width: 100%;
  padding: 0 0 60px 0;
  margin: 0 0 60px 0;
}

.box__option--long-round--1-3-2 {
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(200, 133, 164, 0.5);
  padding: 0 20px;
}
.wrap__description--1-3-2 {
  padding: 24px 0 0 0;
}
.text__inner-title--1-3-2 {
  color: #c885a4;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 21px 0;
}
.text__caption--1-3-2 {
  color: #c885a4;
  font-size: 14px;
}
.text__inner-sub-title--1-3-2 {
  color: #c885a4;
  font-size: 20px;
}
.text__tooltip-trigger--1-3-2 {
  color: #c885a4;
  text-decoration: underline;
}
.--margin-l--1-3-2 {
  margin-left: 20px;
}
details {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  padding: 1px 2px 0px 2px;
  transition: 0.15s background linear;
  -webkit-transition: 0.15s background linear;
  -moz-transition: 0.15s background linear;
}
details:hover {
  background: #f4e7ed;
}
summary {
  list-style: none;
  display: inline-block;
  margin: 0 -2px;
}
summary::-webkit-details-marker {
  display: none;
}
details p {
  cursor: auto;
  width: 250px;
  height: auto;
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 18px;
  right: 0;
  background: #333;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 20px;
  padding: 6px 8px;
  z-index: 20;
}
details[open] p {
  animation: appear 0.2s linear forwards;
  -webkit-animation: appear 0.2s linear forwards;
  -moz-animation: appear 0.2s linear forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translatey(-15px);
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    transform: translatey(-15px);
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
  }
}
@-moz-keyframes appear {
  0% {
    opacity: 0;
    transform: translatey(-15px);
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
  }
}

.wrap__theme--1-3-2 {
  margin: 60px 0 80px 0;
}
.box__description--1-3-2 {
  width: 100%;
  border-radius: 20px;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  margin: 0 0 20px 0;
}

.box__description--1-3-2 > ul > li {
  font-size: 16px;
  line-height: 25px;
}
.wrap__button--1-3-2 {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  width: 100%;
  border-bottom: 1px solid #3333334d;
  padding: 0 0 100px 0;
}
.title__more {
  display: flex;
  justify-self: flex-start;
  width: 100%;
  font-size: 16px;
  color: #333;
  margin: 10px 0 15px 0;
}
.wrap__more {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.wrap__button--small--1-3-2 {
  display: flex;
  /* gap: 10px; */
  margin: 0 0 150px 0;
}
.btn--shortest-round {
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  background-color: #fff;
  color: rgba(51, 51, 51, 0.5);
  margin: 0 10px 10px 0;
  padding: 10px 16px 11px 16px;
}
.btn--shortest-round:hover {
  background-color: rgba(200, 133, 164, 0.5);
  color: #333;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

/*  */
.img__main--2-1 {
  width: 466.12px;
  height: auto;
}
.guide--2-1 {
  width: 100%;
  margin: 0 0 74px 0;
}

.wrap__flex--2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  flex: 0 0 auto;
  width: 1640px;
  flex-wrap: wrap;
  margin: 0 0 52px 0;
}

.box__tile--round {
  cursor: pointer;
  display: flex;
  position: relative;
  width: 390px;
  height: 234px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
.box__tile--round:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

.box__tile--round--none-click {
  display: flex;
  position: relative;
  width: 390px;
  height: 234px;
  border-radius: 20px;
  padding: 20px;
}
.tile--purple {
  background-color: rgba(162, 148, 255, 0.2);
}
.tile--select.purple.on {
  background-color: #fff;
  border: 2px solid #a294ff;
}
.tile--mint {
  background-color: rgba(35, 198, 176, 0.15);
}
.tile--select.mint.on {
  background-color: #fff;
  border: 2px solid #00a395;
}
.img__tile {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 232.94px;
  height: 160px;
}
.wrap__button--2 {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  margin: 0 0 150px 0;
}

.img__main--2-2 {
  width: 600px;
}
.wrap__grid--2-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1100px;
  margin: 20px auto 0 auto;
}
.wrap__inner-grid--2-2 {
  width: auto;
  margin: 0 0 74px 0;
}

.row__grid {
  display: grid;
  grid-template-columns: 410px auto;
  max-width: 1100px;
  min-width: 780px;
  width: 80vw;
  padding: 20px 0;
  border-top: 1px solid #3333334d;
}
.grid__img {
  grid-column: 1 / 2;
}

.box--white {
  background-color: #fff;
}
.text__description--2-2 {
  grid-column: 2 / 3;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  padding: 0 0 0 20px;
}
.text__inner-sub-title--2-2 {
  color: #a294ff;
}
.inner--gap--2-2 {
  margin: 8px 0 0 0;
}
.inner--gap--2-2-s {
  margin: 2px 0 0 0;
}
.inner--gap--2-2-l {
  margin: 18px 0 0 0;
}
.text__inner-small--2-2 {
  color: #a294ff;
  font-size: 12px;
  margin: 0 8px 0 0;
}
.text__inner-detail--2-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.text__inner-caption--2-2 {
  color: rgba(51, 51, 51, 0.5);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 4px 0 0 0;
}

.guide--3-1-1 {
  margin: 0 0 100px 0;
}
.wrap__flex--3-1-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 20px; */
  flex: 0 0 auto;
  width: 1640px;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
}
.img__main--3-1-1 {
  width: 513.3px;
}

.img__main--3-1-2 {
  width: 355.34px;
}
.text__inner-detail--3-1-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.text__inner-sub-title--3-1-2 {
  color: #a294ff;
  font-weight: 700;
  text-decoration: underline;
}
.text__inner-small--3-1-2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.text__inner-small--purple {
  color: #a294ff;
  font-weight: 700;
  text-decoration: underline;
}

.img__main--3-2 {
  width: 350px;
  height: auto;
}
.guide--3-2-0 {
  margin: 0 0 94px 0;
}
.wrap__flex--3-2 {
  display: flex;
  justify-content: center;
  /* column-gap: 20px; */
  margin: 0 0 150px 0;
}
.wrap__img-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.btn--mint--3-2 {
  width: 350px;
  border-radius: 40px;
  margin: 20px 0 60px 0;
}
.wrap__grid--3-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 60px 0 0 0;
}
.wrap__grid--3-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 60px 0 0 0;
}
.grid--3-2 {
  display: grid;
  grid-template-columns: 320px auto;
  max-width: 1100px;
  min-width: 780px;
  width: 80vw;
}

.grid__details {
  grid-column: 2 / 3;
  padding: 20px 0 60px 0;
  border-top: 1px solid #3333334d;
  font-size: 16px;
  line-height: 25px;
}
.wrap__button--3-2 {
  display: flex;
  flex-direction: column;
  margin: 30px 0 150px 0;
  /* row-gap: 20px; */
}
.img__main--3-2-1 {
  width: 561.34px;
}
.img__main--3-2-2 {
  width: 622.22px;
  margin: 0;
}
.text__guide--3-2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 58px 0 0 0;
}
.grid__sub-title {
  grid-column: 1 / 2;
  padding: 20px 0 60px 0;
  border-top: 1px solid #3333334d;
  color: #2dc5b0;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}
.--width-260 {
  width: 260px;
}

.text__inner-sub-title--3-2 {
  color: #2dc5b0;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  margin: 0 3px 0 0;
}
.text__inner-caption--3-2 {
  font-size: 14px;
  line-height: 22px;
}
.text__inner-caption--3-2--mint {
  font-size: 14px;
  line-height: 22px;
  color: #2dc5b0;
}
.text--mint {
  color: #2dc5b0;
}

.wrap__grid--4-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 60px auto 0 auto;
}
.img__main--4-1 {
  width: 582.32px;
}
.btn--4-1 {
  width: 350px;
  border-radius: 40px;
  margin: 20px 0 60px 0;
}
.guide--4-1-0 {
  width: 360px;
  margin: 0 0 83px 0;
}

.img__main--4-2 {
  width: 622.22px;
}
.btn--lavender--4-2 {
  cursor: default;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  width: 800px;
  height: 60px;
  border-radius: 30px;
  margin: 0 0 14px 0;
}
.box__bullet {
  width: 800px;
  height: auto;
  border-radius: 20px;
  background-color: #fff;
  text-align: left;
  padding: 20px;
  font-size: 16px;
  line-height: 25px;
}
.wrap__arrow {
  display: flex;
  align-items: center;
  width: 100%;
  height: 54px;
  justify-content: center;
}
.arrow--4-2 {
  width: 22px;
  height: auto;
}
.wrap__button--4-2 {
  display: flex;
  flex-direction: column;
  margin: 60px 0 150px 0;
  /* row-gap: 20px; */
}
.text__l--4-2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.title--5 {
  margin: 100px 0 60px 0;
  text-align: center;
}
.img__main--5 {
  width: 643.15px;
}
.box__paragraph--bold {
  width: 800px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  background-color: #fff;
  padding: 24px 20px;
  margin: 60px 0 0 0;
}
.wrap__button--5 {
  display: flex;
  /* flex-direction: column; */
  margin: 0 0 150px 0;
  /* row-gap: 20px; */
}
.wrap__button--5 > * + * {
  margin: 0 0 0 20px;
}
.wrap__final-logo {
  width: auto;
  height: auto;
  padding: 80px 0;
}
.img__final-logo {
  width: 240px;
  height: auto;
}

@media (max-width: 1700px) {
  .wrap__button--1-2-3 {
    margin: 46px 0 150px 0;
  }
  .wrap__flex--1-2-3 {
    display: flex;
    width: 840px;
    flex-wrap: wrap;
    /* flex: 0 0 390px; */
    justify-content: center;
    /* gap: 20px; */
  }
  .wrap__flex--2-1 {
    width: 1230px;
    margin: 0 0 90px 0;
  }
  .wrap__flex--3-1-1 {
    width: 1230px;
  }
  .wrap__flex--3-2 {
    flex-wrap: wrap;
    width: 820px;
    /* row-gap: 60px; */
    /* column-gap: 20px; */
  }
}
@media (max-width: 1240px) {
  .wrap__flex--1-1-2 {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
  }
  .wrap__flex--2-1 {
    width: 820px;
    margin: 0 0 90px 0;
  }
  .wrap__flex--3-1-1 {
    width: 820px;
    margin: 0 0 90px 0;
  }
}
@media (max-width: 800px) {
  .container__main {
    width: 840px;
  }
  .wrap__grid {
    display: grid;
    grid-template-columns: 20px auto 20px;
  }

  /* 개별 */

  .wrap__flex--1-2-3 {
    display: flex;
    flex-wrap: wrap;
    /* flex: 0 0 390px; */
    justify-content: center;
    width: 100%;
    /* gap: 20px; */
  }
  .wrap__flex--2-1 {
    width: 375px;
    margin: 0 0 90px 0;
  }
  .wrap__flex--3-1-1 {
    width: 400px;
  }
  .wrap__flex--3-2 {
    flex-wrap: wrap;
    width: 390px;
    /* row-gap: 60px; */
  }
}

/* ANCHOR 모바일 */
@media (max-width: 414px) {
  header {
    height: 52px;
    width: 375px;
  }
  .dot {
    display: none;
  }
  .wrap__outer-header {
    display: flex;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
  .wrap__logo {
    width: auto;
    height: auto;
  }
  .img__main-logo {
    width: auto;
    height: 30px;
  }
  .title__header {
    display: none;
  }
  .wrap__header-r {
    display: flex;
    width: 200px;
    height: auto;
    align-items: flex-end;
    margin: 0;
    padding: 3px 0 0 0;
  }
  .menu__outer {
    font-size: 14px;
    margin: 0 20px 0 0;
  }
  .container__main {
    width: 90vw;
    /* NOTE wrap__grid와 sync */
  }
  body {
    margin: 52px 0 0 0;
  }

  footer {
    height: 105px;
    padding: 14px 0 15px 0;
  }

  .wrap__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }
  .img__footer-logo {
    width: 104px;
    height: auto;
    margin: 0 0 8px 0;
  }
  .text__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
  }
  .text__footer-policy {
    font-size: 9px;
    line-height: 14px;
    padding: 0;
    border-bottom: 0;
  }

  /* 메뉴 */
  .wrap__main-menu {
    width: 100%;
    height: 42px;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: #f0f0f0;
  }
  .menu__main {
    display: none;
  }
  .menu__main--mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
  }
  .arrow--l-r {
    display: block;
    width: 12px;
    height: 21px;
    margin: 0 20px;
  }

  .wrap__sub-menu {
    justify-content: center;
  }
  .wrap__sub-menu--3 {
    justify-content: center;
    margin: 17px 0 0 0;
  }
  .menu__sub {
    height: 36px;
    font-size: 12px;
    padding: 6px 12px 6px 12px;
    margin: 0 5px;
  }

  /* 그 외 공통 */
  .wrap__grid {
    display: grid;
    grid-template-columns: 5vw auto 5vw;
  }
  .--width-max {
    width: 335px;
  }
  .t--max {
    font-size: 36px;
  }
  .t--mid {
    font-size: 30px;
  }
  .title__sub {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px 0;
  }
  .img__main--1-1-2 {
    width: 171.32px;
    height: auto;
    position: relative;
    right: 0px;
  }
  .box__guide--short-round {
    max-width: 107px;
    height: 51px;
    border-radius: 30px;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 60px;
  }

  .button--mid {
    width: 336px;
    font-size: 20px;
  }
  .button--mid--black {
    width: 336px;
    font-size: 20px;
  }
  .btn-h--max {
    height: 50px;
    border-radius: 30px;
  }

  /* virtual_0 */
  .title--0 {
    margin: 36px 0 60px 0;
  }
  .guide--0 {
    margin: 73px 0 60px 0;
  }
  .wrap__guide {
    width: 100%;
  }
  .img__title {
    width: 180px;
  }
  .img__main--0 {
    width: 335px;
  }
  .text__bullet--14 {
    font-size: 12px;
    line-height: 20px;
  }
  .area__bullet {
    margin: 60px 0;
  }
  .wrap__terminology {
    width: 100%;
    margin-bottom: 100px;
  }
  #btn__start-virtual-report {
    width: 336px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
  }

  /* virtual 1-1-1 */
  .wrap__main-text-img {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }
  .wrap__main-text {
    padding: 0 19px 0 20px;
  }
  .title--1-1-1 {
    margin: 55px 0;
  }
  .img__main--1-1-1 {
    width: 335px;
    height: auto;
  }
  .guide--1-1-1 {
    font-size: 20px;
    line-height: 34px;
    margin: 0 0 55px 0;
    padding: 0;
  }
  .title__my-condition {
    width: 300px;
    font-size: 30px;
    line-height: 45px;
    margin: 60px 0 50px 0;
  }

  /* virtual 1-1-2 */
  .wrap__flex--1-1-2 {
    display: flex;
    justify-content: center;
    /* gap: 0; */
    margin: 10px 0 50px 0;
  }

  .--width-390 {
    width: 90vw;
  }
  .title--1-1-2 {
    margin: 60px 0 20px 20px;
  }
  .box__theme--square--1-1-2 {
    flex: 0 0 335px;
  }
  .box__option--long-round--1-1-1 {
    height: 40px;
  }
  .box__option--long-round--1-1-1 {
    height: 40px;
  }
  .wrap__condition-check {
    margin: 0 0 40px 0;
  }
  .wrap__button--1-1-1 {
    margin: 63px 0 50vw 0;
  }

  /* virtual 1-2-1 */
  .title--1-2-1 {
    margin: 60px 0 56px 0;
  }
  .guide--1-2-1 {
    font-size: 20px;
    line-height: 34px;
    min-width: 100%;
    margin: 0 0 55px 0;
  }
  .img__main--1-2-1 {
    width: 331.83px;
    min-width: 331.83px;
    max-width: 331.83px;
  }

  .wrap__button--1-2-1 {
    display: flex;
    flex-direction: column;
    margin: 60px 0 50vw 0;
  }
  .wrap__button--1-2-1 > * {
    margin: 0 0 20px 0;
  }

  /* virtual 1-2-2 */
  .title--1-2-2 {
    font-size: 36px;
    margin: 60px 0 29px 0;
  }
  .img__main--1-2-2 {
    width: 248.52px;
  }
  .img__contents-form {
    width: 90vw;
    margin: 61px 0 20px 0;
  }
  .wrap__button--1-2-2 {
    width: 90vw;
    margin: 60px 0 50vw 0;
  }

  /* virtual 1-2-3 */
  .title--4 {
    margin: 65px 0 31px 0;
  }
  .wrap__img--1-2-3 {
    width: 90vw;
    padding: 0 0 60px 0;
    margin: 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  }
  .img__main--1-2-3 {
    width: 236.05px;
    margin: 0;
  }
  .text__bullet--16 {
    margin: 0 0 40px 0;
  }

  .wrap__button--1-2-3 {
    margin: 26px 0 50vw 0;
  }
  .row--1-2-3 {
    height: 60px;
    width: 20px;
  }

  /* virtual 1-3-1 */
  .title--1-3-1 {
    margin: 60px 0 56px 0;
  }

  .img__main--1-3-1 {
    width: 286.29px;
    margin: 0;
  }
  .guide--1-3-1 {
    font-size: 20px;
    line-height: 34px;
    width: 100%;
    margin: 0 0 56px 0;
  }

  .wrap__type-options {
    width: 90vw;
    padding: 0 0 60px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  }
  .wrap__img--1-3-1 {
    height: 155.19px;
  }

  .img__type-select {
    width: 160px;
    height: auto;
  }
  .img__type-select {
    width: 108px;
  }
  .box__option--mid-round--1-3-1 {
    width: 160px;
    height: 40px;
    border-radius: 20px;
  }
  .wrap__theme--1-3-1 {
    width: 335px;
    margin: 0 0 20px 0;
  }
  .box__option--inside {
    width: 315px;
    min-height: 40px;
    border-radius: 20px;
    padding: 6px 20px;
  }
  .text__annotation--1-3-1 {
    margin: 0;
  }
  .wrap__button--1-3-1 {
    margin: 40px 0 50vw 0;
  }
  .col--20 {
    width: 10px;
  }

  /* 1-3-2 */
  details p {
    width: 140px;
  }
  .title--1-3-2 {
    margin: 65px 0 30px 0;
  }
  .img__main--1-3-2 {
    width: 226.19px;
  }
  .wrap__img--1-3-2 {
    margin: 0 0 60px 0;
    padding: 0 0 60px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  }
  .box__description--1-3-2 {
    width: 335px;
  }
  .wrap__description--1-3-2 {
    padding: 20px 0 0 0;
  }
  .--margin-l--1-3-2 {
    margin-left: 10px;
  }
  .wrap__theme--1-3-2 {
    margin: 60px 0 40px 0;
  }
  .box__option--long-round--1-3-2 {
    height: 50px;
    border-radius: 25px;
  }
  .wrap__button--1-3-2 {
    margin: 40px 0 0 0;
  }
  .wrap__button--small--1-3-2 {
    flex-wrap: wrap;
    margin: 0 0 50vw 0;
  }

  /* virtual 2-1 */
  .title--2-1 {
    margin: 60px 0 55px 0;
  }
  .img__main--2-1 {
    width: 331.41px;
    margin: 0;
  }
  .box__tile--round {
    width: 335px;
  }
  .box__tile--round--none-click {
    width: 335px;
  }
  .guide--2-1 {
    font-size: 20px;
    line-height: 34px;
    margin: 0;
    padding: 0 0 65px 0;
  }
  .title--10 {
    margin: 60px 0 50px 0;
  }
  .wrap__flex--2-1 {
    margin: 0 0 60px 0;
    /* width: 100%; */
  }
  .wrap__button--2 {
    margin: 0 0 50vw 0;
  }

  /* virtual 2-2 */
  .wrap__grid--2-2 {
    display: flex;
    justify-content: center;
  }
  .row__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90vw;
    width: 90vw;
    padding: 20px 0 36px 0;
    border-top: 1px solid #3333334d;
  }
  .img__main--2-2 {
    width: 335px;
  }
  .title--2-2 {
    margin: 60px 0 60px 20px;
  }
  .grid__img {
    display: flex;
  }
  .text__description--2-2 {
    display: flex;
    flex-direction: column;
    width: 335px;
    padding: 20px 10px 0 10px;
  }

  /* 3-1 */
  .img__main--3-1-1 {
    width: 335px;
  }
  .img__main--3-1-2 {
    width: 253.81px;
  }
  .guide--3-1-1 {
    font-size: 20px;
    line-height: 34px;
    margin: 0 0 65px 0;
  }
  .title--3-1-1 {
    margin: 60px 0 42px 0;
  }
  .wrap__flex--3-1-1 {
    justify-content: center;
    margin: 0 0 60px 0;
  }

  /* 3-2 */
  .title--3-2-0 {
    margin: 60px 0 62px 0;
  }
  .guide--3-2-0 {
    font-size: 20px;
    line-height: 34px;
    margin: 0 0 63px 0;
  }
  .wrap__flex--3-2 {
    flex-wrap: wrap;
    width: 90vw;
    /* row-gap: 60px; */
    margin-bottom: 50vw;
  }
  .img__main--3-2 {
    width: 315px;
  }
  .btn--mint--3-2 {
    width: 335px;
  }
  .img__main--3-2-1 {
    width: 334px;
  }
  .img__main--3-2-2 {
    width: 335px;
  }
  .title--3-2-1 {
    display: flex;
    align-self: center;
    width: 220px;
    margin: 60px 0 66px 0;
  }
  .wrap__grid--3-1 {
    width: 335px;
    margin: 21px 0 0 0;
  }
  .row--60 {
    height: 0px;
    width: 20px;
  }
  .wrap__grid--3-2 {
    width: 335px;
    margin: 58px 0 0 0;
  }
  .grid--3-2 {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  .grid__sub-title {
    padding: 20px 0 30px 0;
  }

  .grid__details {
    border: 0;
    padding: 10px 0 60px 0;
  }
  .--width-260 {
    width: 100%;
  }
  .text__guide--3-2 {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin: 62px 0 0 0;
  }
  .--indent {
    padding-left: 14px;
    text-indent: -14px;
  }

  /* 4-1 */
  .title--4-1-0 {
    margin: 43px 0 60px 0;
  }
  .img__main--4-1 {
    width: 335px;
  }
  .btn--4-1 {
    width: 335px;
  }
  .guide--4-1-0 {
    font-size: 20px;
    line-height: 34px;
    margin: 0 0 100px 0;
  }
  .title--4-1-0--sub {
    font-size: 30px;
    font-weight: 700;
    margin: 58px 0 60px 0;
  }

  /* 4-2 */
  .title--16 {
    margin: 43px 0 57px 0;
  }

  .img__main--4-2 {
    width: 335px;
    margin: 0 0 100px 0;
  }
  .btn--lavender--4-2 {
    width: 335px;
  }
  .box__bullet {
    width: 335px;
    height: auto;
  }

  .arrow--4-2 {
    width: 22px;
    height: auto;
  }
  .wrap__button--4-2 {
    margin: 65px 0 50vw 0;
  }

  .title--5 {
    margin: 43px 0 63px 0;
  }
  .img__main--5 {
    width: 335px;
  }
  .box__paragraph--bold {
    width: 90vw;
  }
  .wrap__button--5 {
    display: flex;
    flex-direction: column;
    margin: 0 0 50vw 0;
  }
  .wrap__button--5 > * + * {
    margin: 20px 0 0 0;
  }
  .wrap__final-logo {
    width: auto;
    height: auto;
    padding: 60px 0;
  }
  .img__final-logo {
    width: 150px;
    height: auto;
  }
  .top_btn {
    bottom: 4vh;
    right: 8vw;
  }
}

.li--1-1-2.text {
  opacity: 0;
  max-height: 20px;
  position: relative;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  -moz-transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  overflow: hidden;
}
.li--1-1-2.text.show {
  opacity: 1;
  height: 100%;
  max-height: 600px;
  transition: max-height 0.6s ease-in;
  -webkit-transition: max-height 0.6s ease-in;
  -moz-transition: max-height 0.6s ease-in;
}
.icon__open {
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  -moz-transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}
.icon__open.anime {
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.accIcon {
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  margin: 2px 5px 5px 0;
}

/* Accordion Item Icon  */

.accIcon.anime {
  margin: 10px 5px 0 0;
}

.icon--13 {
  width: 13px;
  height: 13px;
}
.icon--wine {
  border: 2px solid #c885a4;
  border-left: 0;
  border-top: 0;
}
.icon--wine.anime {
  border: 2px solid #c885a4;
  border-right: 0;
  border-bottom: 0;
}

.icon--green {
  border: 2px solid #70cb8b;
  border-left: 0;
  border-top: 0;
}
.icon--green.anime {
  border: 2px solid #70cb8b;
  border-right: 0;
  border-bottom: 0;
}

/* Text Content */
.accordion {
  position: relative;
}
.accordion .text {
  opacity: 0;
  height: 0;
  /* padding: 0px 20px; */
  position: relative;
  line-height: 24px;
  font-size: 16px;
  font-weight: 200;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  -moz-transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  overflow: hidden;
}

/* Text Content - Class for JS to hide and show */
.accordion .text.show {
  opacity: 1;
  height: auto;
  padding: 10px 20px 16px 20px;
  position: relative;
  z-index: 0;
  border-radius: 0px 0px 3px 3px;
}

.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  text-align: left;
  line-height: 25px;
  font-size: 1.3em;
  font-weight: 700;
}

.pop-layer .btn-r {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 272px;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 15px 20px 0 rgb(0 0 0 / 4%);
  border-radius: 15px;
  z-index: 10;
}
.sns-list {
  height: 64px;
  margin: 0 auto;
  margin-top: 8px;
}
.sns-list li {
  float: left;
  width: 56px;
  height: auto;
  margin-right: 24px;
}
.sns-list li:last-child {
  margin-right: 0px;
}

.social-btn {
  width: 100%;
}

.dim-layer {
  display: none;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  position: absolute;
  top: 10%;
  right: 7%;
  display: inline-block;
  height: 27px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 24px;
  border-radius: 12px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}
.top_btn {
  position: fixed;
  bottom: 108px;
  right: 120px;
  width: 64px;
  height: 64px;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff !important;
  background: #999999;
  border-radius: 32px;
  box-shadow: 2px 2px 4px rgba(185, 194, 248, 0.56);
}
a.top_btn:visited {
  color: #ffffff;
}

@media screen and (-ms-high-contrast: active), 
(-ms-high-contrast: none) { 
  .wrap__theme--1-1-1 {
    width: 640px;
    margin-top: 20px;
  }
  .box__option--long-round--1-1-1 {
    width: 100%;
  }
  .text__source {
      text-align: center;
  }

  .wrap__flex--1-2-3 {
      width: 1280px;
      padding: 0 10px 0 10px;
  }

  .wrap__flex--1-2-3 .wrap__flex--outer-ver.--width-390 {
      display: inline-block;
      width: 300px;
      margin-right: 20px;
  }

  .wrap__flex--outer-ver {
      width: calc(100% /4 - 20px)
  }
  .box__option--mid-round--1-3-1 {
    width: 100%;
  }
  .text__inner-title--1-3-2 .tooltip {
    display: none;
  }
 }