@media screen and (max-width: 1680px) {
    .inner1680 {
        width: 100%;
    }

    header {
        box-sizing: border-box;
        min-width: 1680px;
        padding: 0 20px;
    }

    header h1 {
        left: 20px;
    }

    header .sub_nav {
        right: 20px;
    }

    main > #content {
        min-width: 1680px;
        padding-top: 100px;
    }

    main > #content .main_visual .left {
        padding-top: 80px;
    }

    main > #content .main_visual .left .desc {
        margin-bottom: 90px;
    }

    footer {
        box-sizing: border-box;
        min-width: 1680px;
        padding: 0 20px;
    }

    /* sub common */
    .subvisual {
        min-width: 1680px;
    }

    .sub_container {
        min-width: 1680px;
    }
}

@media screen and (max-width: 1440px) {
    header {
        min-width: 1440px;
    }

    main > #content {
        min-width: 1440px;
    }

    main > #content .main_visual .left .desc .text {
        width: auto;
    }

    main > #content .main_visual .right {
        padding-left: 35px;
    }

    footer {
        min-width: 1440px;
    }

    footer .desc {
        display: flex;
        flex-direction: column;
    }

    footer .desc address::before {
        display: none;
    }
    footer nav .web_mark {
        padding-left: 20px;
    }

    /* sub common */
    .subvisual {
        min-width: 1440px;
    }

    .subvisual .area {
        margin-left: 70px;
    }

    .sub_container {
        min-width: 1440px;
    }
}

@media screen and (max-width: 1366px) {
    header {
        min-width: 1366px;
    }

    main > #content {
        min-width: 1366px;
    }

    main > #content .main_visual .left .desc h2 {
        font-size: 38px;
    }

    main > #content .main_visual .right {
        padding-left: 30px;
    }

    main > #content .main_visual .right .list li {
        margin-right: 10px;
    }

    footer {
        min-width: 1366px;
    }

    footer nav ul li {
        margin-right: 20px;
    }
    
    /* sub_common */
    .subvisual {
        min-width: 1366px;
    }

    .subvisual .tel_list {
        right: 10px;
    }

    .sub_container {
        min-width: 1366px;
    }

    .inner1400 {
        box-sizing: border-box;
        min-width: auto;
        width: 100%;
        padding: 0 10px;
    }

    footer nav .web_mark {
        padding-left: 10px;
    }

    /* 상담신청안내 */
    .info_guide_list li {
        height: 620px;
    }
}

@media screen and (max-width: 1200px) {
    /* 삭제지원신청 */
    .result_list .header .file_name {
        width: 300px;
    }
    
    .result_list .body > div .file_name {
        width: 300px;
    }
}

@media screen and (max-width: 1024px) {

    /* common */
    header {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 60px;
        transform: none;
        background: #fff;
        padding: 0;
        border-bottom: 1px solid #ddd;
    }

    .inner1680 {
        padding: 0 20px;
    }

    header h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 42px;
    }

    /* header h1 a::before {
    content: url("/images/icon_logo_black.png");
  } */

    header h1 img {
        width: 100%;
    }

    header .side {
        display: none;
        box-sizing: border-box;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        padding-top: 60px;
        background: #fff;
        z-index: 1;
    }

    header .side.on {
        display: block;
    }

    header .main_nav {
        margin-bottom: 60px;
    }

    header .main_nav ul {
        flex-direction: column;
        justify-content: center;
    }

    header .main_nav ul li {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    header .main_nav ul li a {
        font-size: 22px;
        color: #333;
    }

    header .main_nav ul li a:before:hover {
        display: none;
    }

    header .main_nav ul li.active a {
        color: #4177b3;
    }

    header .main_nav ul li a::before {
        bottom: 0;
        background: #4177b3;
    }

    header .main_nav ul li a:hover {
        color: #4177b3;
    }

    header .menu_btn {
        display: block;
    }

    header .sub_nav {
        display: flex;
        position: static;
        justify-content: center;
    }

    header .sub_nav ul li a {
        color: #333;
    }

    header .sub_nav ul li a::before {
        content: url("/images/icon_report_black.png");
    }

    header .sub_nav ul li:last-child a::before {
        content: url("/images/icon_search_black.png");
    }

    footer {
        min-width: 100%;
        height: auto;
        padding: 20px 10px 30px;
        text-align: center;
    }

    footer .inner1680 {
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
    }

    footer nav {
        flex-direction: column;
        position: static;
        transform: translate(0, 0);
        width: 100%;
        margin-left: 0;
    }

    footer nav ul {
        justify-content: center;
        margin-bottom: 15px;
    }

    footer nav .web_mark {
        margin-bottom: 20px;
        padding-left: 0;
        border-left: none;
    }

    footer .footer_logo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    footer .desc {
        width: auto;
        font-size: 13px;
    }

    footer .desc address {
        display: block;
        margin-right: 0;
    }

    footer .desc span {
        display: block;
    }

    footer .desc .privacy_btn {
        display: inline-block;
        position: static;
        margin-bottom: 15px;
    }

    .none1024 {
        display: none;
    }

    .quick_menu {
        bottom: 5%;
        right: 5%;
    }

    .tab_area.double .tab_button_list ul li {
        width: 100%;
    }

    /* 메인 */
    main > #content {
        min-width: 100%;
        height: auto;
        /* min-height: 600px; */
        padding-top: 60px;
        border-radius: 0;
        background-size: cover;
    }

    main > #content::after {
        content: "";
        display: block;
        clear: both;
    }

    main > #content .main_visual {
        margin-bottom: 100px;
    }

    main > #content .main_visual .left {
        float: none;
        width: 100%;
        padding: 100px 10px 0 10px;
        margin-bottom: 40px;
    }

    main > #content .main_visual .left .desc {
        margin-bottom: 40px;
    }

    main > #content .main_visual .left .desc .text {
        height: auto;
    }

    main > #content .main_visual .left .tel_list {
        margin: 0 auto;
    }

    main > #content .main_visual .right {
        float: none;
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
    }

    main > #content .main_visual .right .list {
        display: flex;
        justify-content: center;
        position: static;
    }

    /* sub common */
    .sub_container {
        padding-top: 60px;
    }

    .subvisual {
        min-width: 100%;
        height: 230px;
        border-radius: 0;
    }

    .subvisual .inner1400 {
        padding-top: 0;
    }

    .subvisual .area {
        margin-left: 40px;
    }

    .subvisual .tel_list {
        display: none;
    }

    .sub_container {
        min-width: 100%;
    }

    .sub_container .content {
        padding-top: 60px;
    }

    .sub_container .content.confirm {
        padding-top: 100px;
    }

    .inner1400 {
        width: 100%;
        padding: 0 10px;
    }

    /* 상담신청안내 */
    .info_guide_list li {
        height: 620px;
    }

    .divide_area .left {
        float: none;
        width: 100%;
        margin-bottom: 40px;
    }

    .divide_area .right {
        float: none;
        width: 100%;
    }

    /* 지원내용 */
    .support_list>li {
        padding: 35px;
    }

    /* 삭제방법안내 */
    .tab_area .tab_button_list .tab_title {
        display: block;
    }

    .tab_area .tab_button_list {
        width: 400px;
    }

    .tab_area .tab_button_list ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 8;
    }

    .tab_area .tab_button_list ul.on {
        display: block;
    }

    .tab_area .tab_button_list ul li {
        float: none;
        width: 100%;
        height: 50px;
        border-right: none;
        justify-content: flex-start;
    }

    .tab_area.view .tab_button_list ul li {
        width: 100%;
    }

    .tab_area .tab_button_list ul li br {
        display: none;
    }

    .tab_area.search .tab_button_list>ul>li {
        width: 100%;
    }

    .symbol_list>li .img img {
        max-width: 90%;
    }

    .tab_area.another_style .tab_button_list ul li {
        width: 100%;
        border-right: 1px solid #ddd;
    }

    /* Q & A */
    .qna_list ul li dl dt {
        padding: 15px 20px 15px 45px;
    }

    .qna_list ul li dl dt::before {
        left: 15px;
    }

    .qna_list ul li dl dt::after {
        right: 10px;
    }

    .qna_list ul li dl dd {
        padding: 25px 45px;
    }

    .qna_list ul li.selected dl dd::before {
        left: 15px;
    }

    /* 상담신청하기 */
    .report_area {
        width: 100%;
    }
    .agree_check .next label {
        width: 100%;
    }
    
    .agree_box .table table .fluid_width {
        width: 30%;
    }

    .agree_box table th,
    .agree_box table td {
        line-height: 1.4;
    }

    .custom_radio_area {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 0;
    }

    .custom_radio_area label {
        margin-bottom: 10px;
    }

    .custom_radio_area label:last-child {
        margin-bottom: 0;
    }

    /* input[radio] 높이값만큼 margin-top을 -값으로 설정 */
    .custom_radio_area input[type="radio"]+label {
        margin-top: -20px;
    }

    .form_area>.column .relationship .column2 {
        padding: 0;
    }

    .confirm_area {
        height: auto;
    }

    .g-recaptcha {
        text-align: center;
        /* margin-bottom: 30px; */
    }

    .agree_check .agree {
        display: flex;
        justify-content: center;
        margin: 0 auto 30px;
        float: none;
    }

    .agree_check .agree label:last-child {
        margin-right: 0;
    }

    .agree_check .next {
        float: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .confirm_area {
        width: auto;
        max-width: 810px;
        padding: 30px 60px;
    }

    .support_area {
        width: 100%;
    }

    /* 삭제지원신청 - 공통 */
    .support_del_header {
        width: 400px;
        margin: 0 0 45px;
    }

    .support_del_header .mobile_title {
        display: block;
    }

    .support_del_header > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 8;
    }

    .support_del_header > ul.on {
        display: block;
    }

    .support_del_header > ul > li {
        float: none;
        width: 100%;
        border-right: none;
        justify-content: flex-start;
    }

    .support_del_header > ul > li > a {
        height: 55px;
        justify-content: flex-start;
    }

    /* 삭제지원신청 - 본인인증 */
    .confirm_area.support .auth_list li a {
        padding: 0 20px;
    }

    /* 삭제지원신청 - 최초접수 */
    .myself_confirm .confirm_area.support {
        padding: 60px 40px;
    }

    .myself_confirm .confirm_area.support .auth_list li label {
        padding: 0 12px;
    }

    .agree_box .th_table td .agree_check .agree {
        width: 100%;
        margin: 0;
    }

    .agree_box .th_table td .agree_check .agree .custom_radio_area input[type="radio"]+label {
        margin-top: -22px;
    }

    /* 설문조사 */
    .survey_content .part {
        padding: 60px 40px;
    }

    /* 삭제지원확인 */
    .delete_report {
        position: relative;
        padding-top: 30px;
        overflow: auto;
    }
    
    .delete_report::before {
        content: "←→ 좌우로 스크롤해서 보세요.";
        position: absolute;
        top: 0;
        left: 0;
        color: #777;
        font-size: 13px;
    }

    .delete_report > table {
        width: 945px;   
    }

    .result_list .header {
        display: none;
    }
    
    .result_list .body > div {
        padding: 10px 0;
        flex-direction: column;
        border-bottom: 1px solid #ddd;
    }

    .result_list .body > div > div {
        border: none;
        min-height: auto;
        margin-bottom: 10px;
    }

    .result_list .body > div > div:last-child {
        margin-bottom: 0;
        border-right: none;
    }

    .result_list .body > div .num {
        display: none;
    }

    .result_list .body > div .file_name {
        width: 100%;
        font-size: 14px;
    }

    .result_list .body > div .size {
        font-size: 14px;
        color: #999;
    }

    /* 새로운 삭제방법안내 */
    .num_content .flex {
        display: block;
    }

    .num_content .flex .left, .num_content .flex .right {
        width: 100%;
        justify-content: center;
    }

    .num_content .flex .left {
        margin-bottom: 40px;
    }

    .num_content .flex .right {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    main > #content .main_visual .left .tel_list {
        border: none;
        width: 100%;
        height: auto;
    }

    main > #content .main_visual .left .tel_list ul li {
        float: none;
        width: 330px;
        margin: 0 auto 20px;
        border: 1px solid rgba(255, 255, 255, 0.6);
    }

    main > #content .main_visual .left .tel_list ul li:last-child {
        margin-bottom: 0;
    }

    main > #content .main_visual .left .tel_list ul li a {
        display: block;
        border-right: none;
    }

    .tel_list ul li a::before {
        display: none;
    }

    /* 상담신청안내 */
    .info_guide_list li {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    .info_guide_list li:last-child {
        margin-bottom: 0;
    }

    /* 지원내용 */
    .support_list>li {
        padding: 20px;
    }

    /* Q & A */
    .qna_list ul li .table {
        position: relative;
        padding-top: 30px;
        overflow: auto;
        height: 100%;
        /* box-shadow: 3px 0 3px -3px #333; */
    }

    .qna_list ul li .table::before {
        content: "←→ 좌우로 스크롤해서 보세요.";
        position: absolute;
        top: 0;
        left: 0;
        color: #777;
        font-size: 13px;
    }

    .qna_list ul li .table::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
    }

    .qna_list ul li .table table {
        width: 650px;
    }

    /* 상담신청하기 */
    .report_area {
        padding: 20px 20px 40px;
    }

    .form_area {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .form_area>dt {
        width: 100%;
        height: auto;
    }

    .form_area>dt::before {
        top: 50%;
        transform: translateY(-50%);
    }

    .form_area>dd {
        flex: none;
    }

    .form_area>.column {
        padding-left: 15px;
    }

    /* 상담신청확인 */
    .attached_file_list li {
        float: none;
        width: 100%;
    }

    .attached_file_list li:last-child {
        margin-bottom: 0;
    }

    /* 설문조사 */
    .survey_title h3 {
        font-size: 24px;
    }

    .survey_content .part {
        padding: 40px 20px;
    }

    .survey_content .part .title {
        padding-left: 0;
    }

    .survey_content .part .title .sequence {
        position: static;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .survey_content .part .questions>dl {
        padding: 20px;
    }

    /* 삭제 지원 */
    #message-container .sign_modal .show_smobile {
		display: block;
    }
    
    .register_list_horizontal li a {
        padding: 0 15px;
    }
}

@media screen and (max-width: 640px) {

    /* 메인 */
    main > #content .main_visual .right .list {
        flex-direction: column;
    }

    main > #content .main_visual .right .list li {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    main > #content .main_visual .right .list li:last-child {
        margin-bottom: 0;
    }

    main > #content .main_visual .right .list li a dl dd {
        height: auto;
        margin-bottom: 20px;
    }

    /* sub_common */

    .subvisual .area h2 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .subvisual .area .desc {
        line-height: 1.4;
        font-size: 15px;
    }

    .subvisual .area .location ul li {
        font-size: 13px;
    }

    /* 지원내용 */
    .support_list>li {
        width: 100%;
        height: auto;
        margin-right: 0;
        padding: 30px;
    }

    /* 삭제방법안내 */
    .content_box>.body {
        padding: 15px;
    }

    .content_box .detail_content {
        padding-left: 25px;
    }

    .sub_box {
        width: calc(100% - 25px);
    }

    .symbol_list>li .img img {
        max-width: 100%;
    }

    /* Q & A */
    .qna_list ul li dl dt {
        font-size: 16px;
    }

    .qna_list ul li dl dd {
        font-size: 14px;
    }

    /* 상담신청하기 */
    .agree_box {
        padding: 20px;
    }

    .agree_box .table {
        position: relative;
        padding-top: 30px;
        overflow: auto;
        height: 100%;
        /* box-shadow: 3px 0 3px -3px #333; */
    }

    .agree_box .table::before {
        content: "←→ 좌우로 스크롤해서 보세요.";
        position: absolute;
        top: 0;
        left: 0;
        color: #777;
        font-size: 13px;
    }

    .agree_box .table::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
    }

    .agree_box .table table {
        width: 650px;
    }

    .agree_check .agree {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }

    .agree_check .next {
        float: none;
        width: 100%;
        padding-top: 10px;
    }

    

    .modal_guide_area ul li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .modal_guide_area ul li:last-child {
        margin-bottom: 0;
    }

    /* 상담신청목록 */
    .report_list li a .img {
        width: 60px;
        height: 60px;
    }

    .report_list li a .content_area {
        max-width: calc(100% - 150px);
    }

    .report_list li a .content_area .title {
        font-size: 16px;
    }

    /* 상담신청보기 */
    .view_box .head {
        padding: 15px 20px;
    }

    .view_box .body {
        padding: 20px;
    }

    .view_box .head .info {
        max-width: calc(100% - 75px);
    }

    .support_del_button {
        position: static;
        margin-bottom: 35px;
    }

    .comment_box .write_comment {
        height: 110px;
        padding: 10px 15px;
    }

    .comment_box .write_comment button {
        width: 70px;
        height: 80px;
    }

    /* 로그인 */
    .confirm_area {
        width: 100%;
    }

    /* 삭제지원신청 - 본인인증 */
    .confirm_area.support .auth_list li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .confirm_area.support .auth_list li:last-child {
        margin-bottom: 0;
    }

    /* 삭제지원신청 - 신청 서류 접수 */
    .register_list {
        flex-direction: column;
    }
    .register_list li {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .register_list li a {
        flex-direction: row;
        padding: 20px 30px;
    }

    .register_list li a>img {
        margin-bottom: 0;
        width: 30%;
        margin-right: 30px;
    }

    .register_list li a dl {
        text-align: left;
        margin-bottom: 0;
    }

    .register_list li a .button {
        display: none;
    }

    .register_list_horizontal li a {
        flex-direction: column;
        padding: 30px 20px;
    }

    .register_list_horizontal li a > img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .register_list_horizontal li a dl {
        margin-bottom: 15px;
        text-align: center;
    }

    .register_list_horizontal li a .button {
        margin-left: 0;
    }

    /* 삭제지원신청 - 피해자료 업로드 */
    .sub_container .content.support .form_area {
        padding: 20px;
    }

    /* 삭제지원신청 - 최초접수 */
    .agree_box .th_table {
        position: relative;
    padding-top: 30px;
    overflow: auto;
    height: 100%;
    }

    .agree_box .th_table::before {
        content: "←→ 좌우로 스크롤해서 보세요.";
        position: absolute;
        top: 0;
        left: 0;
        color: #777;
        font-size: 13px;
    }
    .agree_box .th_table table {
        width: 650px;
    }

    .sub_container .content .agree_box .attach_guide {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {

    /* common */
    .quick_menu li a img {
        width: 60px;
    }

    footer .inner1680 {
        padding: 0;
    }

    footer nav ul li {
        margin-right: 5px;
    }

    footer nav ul li:last-child {
        margin-right: 0;
    }

    /* 메인 */
    main > #content .main_visual {
        margin-bottom: 50px;
    }

    main > #content .main_visual .left .desc .title {
        font-size: 18px;
    }

    main > #content .main_visual .left {
        padding: 50px 10px 0 10px;
    }

    main > #content .main_visual .left .desc h2 {
        margin-bottom: 20px;
        font-size: 32px;
    }

    main > #content .main_visual .left .desc .text {
        font-size: 16px;
    }

    .subvisual .area {
        margin-left: 20px;
    }

    .subvisual .area .desc br {
        display: none;
    }

    /* 삭제방법안내 */
    .tab_area .tab_button_list {
        width: 100%;
    }

    .simple_box {
        padding: 15px;
    }

    .content_box>.body {
        padding: 15px 5px;
    }

    /* qna */
    .custom_title span {
        padding-right: 5px;
    }

    .content_box .text {
        font-size: 14px;
    }

    .content_box .text strong {
        font-size: 14px;
    }

    .symbol_list>li {
        font-size: 14px;
    }

    .content_box .text p {
        font-size: 14px;
    }

    /* 상담신청목록 */
    .report_area {
        padding: 10px 10px 30px;
    }

    .report_list li a {
        padding: 15px 10px;
    }

    .report_list li a .img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .report_list li a .content_area {
        max-width: calc(100% - 120px);
    }

    .report_list li a .content_area .title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .report_list li a .content_area .etc {
        flex-direction: column;
    }

    .report_list li a .content_area .etc p {
        margin-bottom: 5px;
    }

    .report_list li a .content_area .etc p::before {
        display: none;
    }

    .report_list li a .content_area .etc p:last-child {
        margin-bottom: 0;
    }

    /* 상담신청확인 */
    .confirm_title {
        font-size: 24px;
    }

    .confirm_desc {
        line-height: 1.6;
    }

    .view_box .head {
        padding: 15px 5px;
    }

    .view_box .body {
        padding: 20px 5px;
    }

    .view_box .head .info .title {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .view_box .head .info .etc {
        flex-direction: column;
    }

    .view_box .head .info .etc p {
        margin-bottom: 5px;
    }

    .view_box .head .info .etc p:last-child {
        margin-bottom: 0;
    }

    .view_box .head .info .etc p::before {
        display: none;
    }

    .form_area>dt {
        font-size: 15px;
    }

    .form_area>dd {
        min-height: 40px;
        font-size: 15px;
    }

    .comment_box .comment_list li {
        padding: 30px 0;
    }

    .comment_box .comment_list li .img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .comment_box .comment_list li .group .info {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .comment_box .comment_list li .group .info>div {
        margin-bottom: 10px;
    }

    .comment_box .comment_list li .group .info>div::before {
        display: none;
    }

    .attached_file_list li {
        margin-bottom: 40px;
    }

    .attached_file_list li .table {
        overflow-x: auto;
        padding-top: 30px;
    }

    .attached_file_list li .table::before {
        content: "←→ 좌우로 스크롤해서 보세요.";
        position: absolute;
        top: 0;
        left: 0;
        color: #777;
        font-size: 13px;
    }

    .attached_file_list li .table table {
        width: 500px;
    }

    /* 로그인 */
    .confirm_area {
        width: auto;
        max-width: 810px;
        padding: 30px 20px;
    }

    .confirm_form label span {
        width: 125px;
    }

    /* 삭제지원신청 - 본인인증 */
    .confirm_area.support {
        padding: 30px 20px;
    }

    /* 삭제지원신청 - 최초신청 - 본인인증 */
    .myself_confirm .confirm_area.support {
        padding: 30px 20px;
    }

    .sub_container .content .agree_box .attach_guide .title {
        font-size: 16px;
    }

    .sub_container .content .agree_box .attach_guide .guide_list li {
        font-size: 14px;
    }
    
    /* 설문 조사 */
    .survey_title {
        margin-bottom: 40px;
    }

    .survey_content .part {
        padding: 30px 10px;
    }

    .survey_content .part .questions>dl {
        padding: 10px;
    }
}

@media screen and (max-width: 420px) {

    /* common */
    footer nav ul li a img {
        max-width: 90%;
    }

    .sub_title {
        font-size: 24px;
    }

    /* 상담신청안내 */
    .info_guide_list li .head .img img {
        width: 55px;
    }

    .info_guide_list li .head {
        min-height: 100px;
    }

    .info_guide_list li .head dl dt {
        font-size: 18px;
    }

    .info_guide_list li .head dl dd {
        font-size: 14px;
    }

    .info_guide_list li .body {
        padding: 15px;
    }

    .info_guide_list li .body .group .box {
        padding: 10px;
    }

    /* 지원내용 */
    .support_list>li {
        padding: 20px;
    }

    .support_list>li .top {
        padding-bottom: 0;
    }

    .support_list>li .bottom {
        background-size: 50px !important;
    }

    /* Q & A */
    .qna_list ul li dl dt {
        padding: 15px 20px 15px 25px;
    }

    .qna_list ul li dl dd {
        padding: 15px 25px;
    }

    .qna_list ul li dl dt::before {
        left: 5px;
    }

    .qna_list ul li.selected dl dd::before {
        top: 10px;
        left: 5px;
    }

    .swal2-icon {
        margin: 0 auto !important;
    }

    .modal_guide .swal2-popup {
        padding: 20px !important;
    }

    /* 상담신청 */
    .agree_check .next label input[type="text"] {
        width: 150px;
    }

    /* 상담신청조회 */
    .comment_box .total_comment {
        position: static;
        margin-bottom: 20px;
        text-align: right;
    }

    /* 로그인 */
    .confirm_area {
        width: auto;
        max-width: 810px;
        padding: 30px 5px;
    }

    /* 삭제지원신청 - 공통 */
    .support_del_header {
        width: 100%;
    }

    /* 삭제지원신청 - 신청서류접수 */
    .register_list li a {
        padding: 20px 15px;
    }

    .register_list li a>img {
        margin-right: 15px;
    }

    /* 삭제지원신청 - 피해자료 업로드 */
    .form_area>dd .file_list li button {
        padding: 0;
        padding-left: 10px;
    }
    
    .form_area>dd .file_list li button span {
        display: none;
    }

    .form_area>dd .file_list li button img {
        margin-right: 0;
    }

    .sub_container .content.support .form_area {
        padding: 20px 10px;
    }
    
}

@media screen and (max-width: 360px) {

    /* common */
    footer nav ul li {
        margin-right: 5px;
    }

    /* 메인 */
    main > #content .main_visual .left .tel_list ul li {
        width: 100%;
    }

    .tel_list ul li a > div {
        padding: 15px;
    }

    .tel_list ul li a .tel_desc .title {
        font-size: 16px;
    }

    .tel_list ul li a .tel_desc .tel {
        font-size: 16px;
    }

    /* 상담신청하기 */
    .custom_radio_area input[type="radio"]+label {
        font-size: 14px;
    }

    .modal_guide_area ul li a .tel_desc .title {
        font-size: 15px;
    }

    .agree_box {
        padding: 10px;
    }

    .g-recaptcha>div {
        width: 290px !important;
    }

    .g-recaptcha>div>div>iframe {
        width: 100%;
    }

    /* 상담신청 목록 */
    .report_list li a .content_area .title {
        font-size: 15px;
    }

    .modal_guide_area ul li a .tel_desc .tel {
        font-size: 15px;
    }

    /* 상담신청보기 */
    .view_box .head .info .title {
        font-size: 15px;
    }

    /* 삭제 지원 */
    .agree_box .th_table td .agree_check .agree .custom_radio_area input[type="radio"]+label {
        margin-top: -20px;
    }
    
    .sigPad {
		width: 100% !important;
		margin-bottom: 20px!important;
	}
	.sigPad .pad {
		width: 100% !important;
		height: 160px !important;
	}
}