@charset "utf-8";

body {height: auto;}

.main .tit_area h4.sectit1 > span{
	display: inline-block;
	width:124px;
}

@media all and (min-width:320px) and (max-width:400px){ /* 최소모바일 */
	
}

@media all and (min-width:770px){
	.main .sub_mgt1 ~ .sub_mgt1{
		margin-top:20px;
	}
	.gal_trns:first-child .sub_mgt2:first-child{
		margin-top: 6px;
	}
	.main .tit_area [class*="colboxs"]{
		position: relative;
		width: 259px;
	}	
}

@media all and (min-width:770px) and (max-width:1100px){ /* 테블릿적용 */
	.main .txt_desc1.info_address{
		height: 220px
	}
}

@media all and (min-width:1100px){
	.main .contents .gal_trns:first-child {
		margin-top: -25px; position: relative; z-index:2;
	}
	.gal_trns:first-child .sub_mgt2:first-child{
		margin-top: 0;
	}
	.gal_trns:first-child .splitbox:first-child .tit_area:first-child .sectit1{
		margin-top: 0; font-family: 'Apercu-Medium','notokr-bold';
	}
	.main .tit_area h4.sectit1 > span{
		width:142px;
	}
	.main .gal_trns  .tit_area [class*="colboxs"]{
		width: auto;
	}	
}

.gal_trns .no-txt{ background-color:transparent;line-height:1.6;font-size:19px;}
.gal_trns .no-txt.bgclr_bon{ color:#ff50ff;}
.gal_trns .no-txt.bgclr_buk{ color:#3aa0ff;}
.gal_trns .no-txt.bgclr_nam{ color:#00be00;}
.gal_trns .no-txt.bgclr_nan{ color:#00dcff;}
.gal_trns .no-txt.bgclr_cang{ color:#ff7800;}
.gal_trns .no-txt.bgclr_back{ color:#00f56e;}
.gal_trns .no-txt.bgclr_bung{ color:#b47dff;}
.gal_trns .no-txt.bgclr_atr{ color:#ffbe00;}


/* m_news */
/* .m_news{ position:relative; padding:10px 30px 0 28px; margin:0; font-size:13px; z-index:4; background-color:#fff;color:#ff0000} */
.m_news{ position:relative; padding:10px 30px 0 28px; margin:0; font-size:13px; z-index:4; background-color:#fff}
.m_news:before{ content:""; top:0; left:30px; right:30px; height:1px; width:auto; background-color:#7f7f7f;}
.m_news strong{ display:block; font-family:'Apercu-Medium','notokr-bold'; font-weight:400; color:#333;}
.m_news .bt_z{ margin-top:5px;}
.m_news .bt_z a{ display:inline-block; font-size:12px; color:#919191;}
.m_news .bt_z a:after{ content:"/"; display:inline-block; margin-left:5px;}
.m_news .bt_z a.bt-clo:after{ display:none;}

/* .mobi_news{ padding:0; margin:45px 12px; font-size:15px;color:#ff0000;} */
.mobi_news{ padding:0; margin:45px 12px; font-size:15px}
.mobi_news strong{ display:block; font-weight:400; color:#333;}
.mobi_news .bt_z{ margin-top:5px;}
.mobi_news .bt_z a{ display:inline-block; font-size:14px; color:#919191;}
.mobi_news .bt_z a:after{ content:"/"; display:inline-block; margin-left:5px;}
.mobi_news .bt_z a.bt-clo:after{ display:none;}

.main-intro{ box-sizing:border-box;}
.main-intro *{ box-sizing:border-box;}
.main-intro .inner{ display:block; margin:0; padding:0 50px;}
.main-intro .hd-txt{ display:block; font-size:5.5vw; padding:20px; line-height:1; text-align:justify; white-space:keep-all;}
.main-intro .hd-txt em{ display:inline-block; white-space:nowrap; line-height:1;}
.main-intro .pic{ display:block; background-size:cover; background-position:center top; background-repeat:no-repeat; text-indent:-9999px;}
.main .lstRange .colboxs1 > a{display: block}

/* webforall */
.main-desc img {position: relative; width: 100%; }
.main-desc span {position:absolute; left: calc(50% - 320px); bottom: 10vh; color: #ffffff; font-size: 1.5rem;}
.main-intro .pic-desc {width: 100%; height: 100%;}
.manual-desc {padding: 1vh;}
.manual-desc h2 {font-size: 1.25rem; color: #333; word-break: break-all;}
.how-to-use {display: flex; padding: 1vh;}
.how-to-use li {flex: 1;}
.how-to-use li h3 {font-size: 1.05rem; margin-bottom:1vh;}
.how-to-use li p {line-height: 1.85;}
.next-link {display: inline-block; background-color: #00dcff; color: #000; border: 1px solid #000; box-sizing: border-box; padding: 1vh 1vh; font-size: 1.5rem; font-family: 'Apercu-Medium','notokr-bold'; text-align: center; margin-bottom: 2px; line-height: 1.2em; letter-spacing: 1px;}
.collection-box.hard-of-hearing {display: none;}
.collection-box.small-line-height {line-height: 10%;}
/* .collection-box .collection_on {line-height: 50%;} */
.collection-box.white-text {color: #eee;}
.heading-text .collection_contsTtl.colboxs2 {position:absolute; bottom:-8vh; left: 300px;} 
.collection_artistTtl {position:absolute; bottom:-10vh; left: 300px;}
.alt-link {background-color: coral; width: 214px; float: none; position: absolute; top: auto; left: 4vw;}

.header {position: fixed; width: 100%;}
.notice {font-size: 1.25em; padding: 0.5em 1.5em;}

.main .contents {padding: 48px 0 20px 293px;}
.footer-area {position: absolute; bottom: 2vh; left: calc(50% - 200px);}
.footer-area .copyright {display: block; width: 320px; text-align: center; border: 1px solid #000; box-sizing: border-box; padding: 1vh 1vh;}

@media all and (min-width:770px){
	.mobi_news{ display:none;}
}
@media all and (min-width:1025px) and (max-width:1480px){
	.main-intro .hd-txt{ font-size:5.4vw;}
}
@media all and (min-width:480px) and (max-width:1024px){
	.m_news .bt_z a.bt-go{ display:block;}
	.main-intro{ position:absolute; top:0; width:100%; z-index:99; }
	.main-intro .inner{margin:0; padding:0 28px;}
	.main-intro .hd-txt{ font-size:9vw; padding:20px 0 45px; line-height:1.2; border-bottom: 1px solid #000;}
	.main-intro .hd-txt em{ display:block; line-height:1.2;;}
	.main-intro img{ width:100%;}
}

@media only screen and (min-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2){
	.fix_menu_wrap .m_news,
	.fix_menu_wrap .m_news.on_menu{ display:none !important;}
	.main-intro{ position:absolute; top:0; width:100%; z-index:99; }
	.main-intro .inner{ margin:0; padding:0;}
	.main-intro .hd-txt{ font-size:4.4vw; padding:10px 10px 15px; line-height:1.2; border-bottom: 1px solid #000;}
	.main-intro .hd-txt em{ display:inline-block; line-height:1.2;}
	.main-desc {position: relative; color: #ffffff;}
	.main-desc img{ height: 100vh;}
	.main-desc span {position:absolute; left: 10vw; bottom: calc(20% - 80px); font-size: 1.5rem;}
	.manual-desc {margin-top: 9vh;}
	.how-to-use {display: block;}
	.how-to-use li {padding: 1vh 0;}
	
}

@media all and (max-width:479px){
	.fix_menu_wrap .m_news,
	.fix_menu_wrap .m_news.on_menu{ display:none !important;}	
	.main-intro.header-bg{position:absolute; top:0; width:100%; z-index:99;}
	.main-intro .inner{ margin:0; padding:0;}
	.main-intro .hd-txt{ font-size:7.7vw; padding:10px 10px 15px; line-height:1.2; border-bottom: 1px solid #000;}
	.main-intro .hd-txt em{ display:block; line-height:1.2;}
	.main-desc {position: relative; color: #ffffff;}
	.main-desc img{ height: 100vh;}
	.main-desc span {position:absolute; left: 10vw; bottom: 16vh; font-size: 1.5rem;}
	.how-to-use {display: block;}
	.manual-des h2 {font-size: 4vw; color: #333;}
	.how-to-use li {padding: 1vh 0;}
	.next-link {width: 100%;}
	.alt-link {background-color: coral; width: 100%;}
	.main .contents {padding: 0;}
	.footer-area {position: unset; margin-left: calc(50% - 160px);	margin-top: 20px; width: auto;}
	.footer-area.footer-bg {position: absolute; bottom:2vh; left:calc(50% - 160px); margin: 0;}
}

@media all and (max-width:768px){
	.m_news{padding:10px 12px;}
	.mobi_news{margin:20px 12px;}
	#contents{margin-top:0}
}