@charset "utf-8";

body {height: auto;}

.main .tit_area h4.sectit1 > span{
	display: inline-block;
	width:124px;
}

@media all and (min-width:320px) and (max-width:400px){ /* 최소모바일 */
	
}

@media all and (min-width:770px){
	.main .sub_mgt1 ~ .sub_mgt1{
		margin-top:20px;
	}
	.gal_trns:first-child .sub_mgt2:first-child{
		margin-top: 6px;
	}
	.main .tit_area [class*="colboxs"]{
		position: relative;
		width: 259px;
	}	
}

@media all and (min-width:770px) and (max-width:1100px){ /* 테블릿적용 */
	.main .txt_desc1.info_address{
		height: 220px
	}
}

@media all and (min-width:1100px){
	.main .contents .gal_trns:first-child {
		margin-top: -25px; position: relative; z-index:2;
	}
	.gal_trns:first-child .sub_mgt2:first-child{
		margin-top: 0;
	}
	.gal_trns:first-child .splitbox:first-child .tit_area:first-child .sectit1{
		margin-top: 0; font-family: 'Apercu-Medium','notokr-bold';
	}
	.main .tit_area h4.sectit1 > span{
		width:142px;
	}
	.main .gal_trns  .tit_area [class*="colboxs"]{
		width: auto;
	}	
}

.gal_trns .no-txt{ background-color:transparent;line-height:1.6;font-size:19px;}
.gal_trns .no-txt.bgclr_bon{ color:#ff50ff;}
.gal_trns .no-txt.bgclr_buk{ color:#3aa0ff;}
.gal_trns .no-txt.bgclr_nam{ color:#00be00;}
.gal_trns .no-txt.bgclr_nan{ color:#00dcff;}
.gal_trns .no-txt.bgclr_cang{ color:#ff7800;}
.gal_trns .no-txt.bgclr_back{ color:#00f56e;}
.gal_trns .no-txt.bgclr_bung{ color:#b47dff;}
.gal_trns .no-txt.bgclr_atr{ color:#ffbe00;}


/* m_news */
/* .m_news{ position:relative; padding:10px 30px 0 28px; margin:0; font-size:13px; z-index:4; background-color:#fff;color:#ff0000} */
.m_news{ position:relative; padding:10px 30px 0 28px; margin:0; font-size:13px; z-index:4; background-color:#fff}
.m_news:before{ content:""; top:0; left:30px; right:30px; height:1px; width:auto; background-color:#7f7f7f;}
.m_news strong{ display:block; font-family:'Apercu-Medium','notokr-bold'; font-weight:400; color:#333;}
.m_news .bt_z{ margin-top:5px;}
.m_news .bt_z a{ display:inline-block; font-size:12px; color:#919191;}
.m_news .bt_z a:after{ content:"/"; display:inline-block; margin-left:5px;}
.m_news .bt_z a.bt-clo:after{ display:none;}

/* .mobi_news{ padding:0; margin:45px 12px; font-size:15px;color:#ff0000;} */
.mobi_news{ padding:0; margin:45px 12px; font-size:15px}
.mobi_news strong{ display:block; font-weight:400; color:#333;}
.mobi_news .bt_z{ margin-top:5px;}
.mobi_news .bt_z a{ display:inline-block; font-size:14px; color:#919191;}
.mobi_news .bt_z a:after{ content:"/"; display:inline-block; margin-left:5px;}
.mobi_news .bt_z a.bt-clo:after{ display:none;}

.main-intro{ box-sizing:border-box;}
.main-intro *{ box-sizing:border-box;}
.main-intro .inner{ display:block; margin:0; padding:0 50px;}
.main-intro .hd-txt{ display:block; font-size:5.5vw; padding:20px; line-height:1; text-align:justify; white-space:keep-all;}
.main-intro .hd-txt em{ display:inline-block; white-space:nowrap; line-height:1;}
.main-intro .pic{ display:block; background-size:cover; background-position:center top; background-repeat:no-repeat; text-indent:-9999px;}
.main .lstRange .colboxs1 > a{display: block}

/* webforall */
.main-desc img {position: relative; width: 100%; }
.main-desc span {position:absolute; left: calc(50% - 468px); bottom: 3vh; color: #ffffff; font-size: 1.5rem; text-align: center;}
.main-intro .pic-desc {width: 100%; height: 100%;}
.manual-desc {padding: 1vh;}
.manual-desc h2 {font-size: 1.25rem; color: #333; word-break: break-all;}
.how-to-use {display: flex; padding: 4vh 1vh 1vh 1vh;}
.how-to-use li {flex: 1;}
.how-to-use li h3 {display: inline-block; font-size: 1.4rem; margin-bottom:1vh; font-weight: 600; border-bottom: 1px solid #333333;}
.how-to-use li p {line-height: 1.85;}
.how-to-use li p span {font-size: 1.15rem; line-height: 2; font-weight: 600; border-bottom: 1px solid #333333;}
.next-link {display: inline-block; height: 56px; width: auto; margin: 20px 0; background-color: #00dcff; color: #000; border: 1px solid #000; box-sizing: border-box; padding: 1vh 1vh; font-size: 1.5rem; font-family: 'Apercu-Medium','notokr-bold'; text-align: center; margin-bottom: 2px; line-height: 1.5em; letter-spacing: 1px;}
a.next-link:hover {background-color:#000000; color:#ffffff}
a.next-link:focus {background-color:#000000; color:#ffffff}

.heading-text .collection_contsTtl.colboxs2 {position:absolute; bottom:-8vh; left: 300px;} 
/* .collection_artistTtl {position:absolute; bottom:-10vh; left: 300px;} */
.alt-link {position: fixed; top: 120px; background-color: coral; width: 230px; float: none; left: 2.2vw; padding: 12px;}
.alt-link p {padding-top: 10px; display: inline-block;}
/* 
.bgclr_black {    display: flex;
    width: 100%;
}
.bgclr_black li {width: 28px;} */
.bgclr_black li a {width:28px; overflow: hidden; white-space: nowrap;}
.bgclr_black li .category {font-size: 1.25rem; margin-bottom: 0;}
.bgclr_black li .category.add-space {margin-right: 28px;}
.bgclr_black li .category.list-top {border-bottom: 0;}
.bgclr_black li .category.list-middle {border-right: 0;}
.bgclr_black li .category.list-center {border-top: 0; border-right: 0;}
.bgclr_black li .category.list-middle.edge {border-right: 1px solid #000;}
.bgclr_black li .category.border-edge {border-top:0; border-right: 0;}
.bgclr_black li .category.border-edge.edge {border-right: 1px solid #000;}
.bgclr_black li .category.list-bottom{border-top:0;}
.bgclr_black li .category.collaboration {padding: 5px 5.5px 5px;}
.bgclr_black li .category.on {background-color: #000; color: #fff;}
.lang_wrap {top: 64px; left: auto; right: 2vw;}
.collection-box {display: flex; max-width: 756px;}
.how-to-use-box {position: absolute; top:120px; right:calc(7vw + 234px); width: 400px; height: 500px; background-color: #91a7ff;}
.how-to-use-box li:last-child {display: none;}
.alt-link p.desc-menu-m {display: none;}
.alt-link .bgclr_black::after{display: block; content: '*시각보조도구를 활성화한 후 tab키로 상자를 선택하면 작가이름을 들을 수 있습니다. 엔터(enter)키를 누르면 작품페이지로 이동합니다.';}
.artwork-info {flex: 1;}
.artwork-desc {flex: 2;}
.artwork-content {position: relative;
    clear: both;
    width: 777px;}
.artwork-list{font-size: 36px;
    font-weight: 600;
    padding: 5px 70px 10px 10px;
    box-sizing: border-box;}
.artwork-tit {    font-size: 19px;
    font-weight: 600;
    padding: 5px 10px 0px;
    box-sizing: border-box;}
.artist-name {
	float: none;
	display: block;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 5px 10px 0px;
    box-sizing: border-box;
	background-color: #fff;}
.artwork-info {float: none; box-sizing: border-box; padding: 10px 12px 30px 12px;}
.artwork-info .artwork-style-desc{padding: 0 0 30px 0;}
.artwork-info dt {border-bottom: 1px solid #000; display: inline-block; margin-bottom: 3px;}
.artwork-info dd {padding-bottom: 16px;}
.artwork-desc {float: none; box-sizing: border-box; padding: 0 12px; background: #fff;}
.artwork-pic {padding: 24px 0;}
.artwork-pic img {width: 320px;}
.caution {padding-top: 1.5vh; display: inline-block;}
.footer {z-index: 3;}
.marquee-text {overflow: hidden; padding: 12px 0px; white-space: nowrap;}
.marquee-text h1 { display: inline-block; padding-left: 100%; animation: marquee 20s linear infinite;}
@keyframes marquee{0%{transform:translate(0)}to{transform:translate(-100%)}}


/* .artwork-desc-wrap.hard-of-hearing {display: none;} */
.artwork-desc-wrap {position: relative; line-height: 160%;}
.artwork-desc-wrap.small-line-height {line-height: 10%;}
.artwork-desc-wrap.small-line-height .artwork-desc {line-height: 70%;}
/* .collection-box .collection_on {line-height: 50%;} */
.artwork-desc-wrap.white-text .artwork-content::before {display: block; margin: 1vw; content: '정안인들을 위한 보조 텍스트입니다. 색대비가 지켜지지 않은 화면입니다.'; background: blue;}
.artwork-desc-wrap.small-line-height .artwork-content::before {display: block; margin: 1vw; line-height: 200%; content: '정안인들을 위한 보조 텍스트입니다. 줄간격을 좁힌 화면입니다. 시각보조도구를 활성화 하면 내용을 들을 수 있습니다.'; background: cyan;}
.artwork-desc-wrap.heading-text .artwork-content::before {display: block; margin: 1vw; content: '정안인들을 위한 보조 텍스트입니다. 작품명과 작가명을 미적인 이유로 이동시켰습니다. 시각보조도구를 활성화 하면 제목-내용순으로 탐색 할 수 있습니다.'; background: yellowgreen;}
.artwork-desc-wrap.style-none .artwork-content::before {display: block; margin: 1vw; content: '사실 시각장애인들은 이런 보조텍스트가 필요없습니다. 시각보조도구가 있으니까요. 어떤 시각장애인들은 이 기능을 10배속으로 듣고 웹을 빠르게 탐색하기도 합니다.'; background: #fcc419;}
.artwork-desc-wrap.white-text {color: #eee;}
.artwork-desc-wrap.heading-text h3 {position: absolute; bottom: 64vh;}
.artwork-desc-wrap.heading-text .artwork-pic {position: absolute; bottom: 20vh;}
.sub_mgt1 .how-to-use {padding: .5vw 1vw;}
.header {width: 100%;}
.notice {font-size: 1.25em; padding: 0.5em 1.5em;}

.intro-desc {margin-top: 2vh;}
.main .contents {padding: 48px 0 20px 293px;}
.footer-area {margin:1vw; margin-left: calc(50% - 200px);}
.footer-area .copyright {display: inline-block; width: 320px; text-align: center; border: 1px solid #000; box-sizing: border-box; padding: 1vh 1vh;}

@media all and (min-width:770px){
	.mobi_news{ display:none;}
}
@media all and (min-width:1025px) and (max-width:1480px){
	.main-intro .hd-txt{ font-size:5.4vw;}
}
@media all and (min-width:480px) and (max-width:1024px){
	.m_news .bt_z a.bt-go{ display:block;}
	.how-to-use li {margin: 8px;}
	.main-intro .inner{margin:0; padding:0 28px;}
	.main-intro .hd-txt{ font-size:8.5vw; padding:12px; line-height:1.2; border-bottom: 1px solid #000; }
	.main-intro .hd-txt em{ display:block; line-height:1.2;;}
	.main-intro img{ width:100%;}
	.collection-box {display: block;}
	.btntop {background-color: #000000;}
	.btntop button::before {content: ''; background: ;}
	.btntop button {padding:4px; text-align: center; color: #ffffff;}
	.sub_mgt1 .how-to-use-box .how-to-use {padding:2vh 1vh 1vh 1vh;;}
	.how-to-use-box {position: unset; width: 96%; height: auto;}
	.how-to-use-box .how-to-use {display: block}
	.how-to-use-box ul li:first-child {display: none;}
	.how-to-use-box ul li:last-child {display: block;}
}

@media only screen and (min-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2){
	.fix_menu_wrap .m_news,
	.fix_menu_wrap .m_news.on_menu{ display:none !important;}
	.main-intro{ position:absolute; top:0; width:100%; z-index:99; }
	.main-intro .inner{ margin:0; padding:0;}
	.main-intro .hd-txt{ font-size:4.4vw; padding:10px 10px 15px; line-height:1.2; border-bottom: 1px solid #000;}
	.main-intro .hd-txt em{ display:inline-block; line-height:1.2;}
	.main-desc {position: relative; color: #ffffff;}
	.main-desc img{ height: 100vh;}
	.main-desc span {position:absolute; left: 10vw; bottom: calc(20% - 80px); font-size: 1.5rem;}
	.manual-desc {margin-top: 14vh;}
	.how-to-use li {padding: 1vh 0;}
}

@media all and (max-width:479px){
	.fix_menu_wrap .m_news,
	.fix_menu_wrap .m_news.on_menu{ display:none !important;}	
	.main-intro.header-bg{position:absolute; top:0; width:100%; z-index:99;}
	.main-intro .inner{ margin:0; padding:0;}
	.main-intro .hd-txt{ font-size:7.7vw; padding:10px 10px 15px; line-height:1.2; border-bottom: 1px solid #000;}
	.main-intro .hd-txt em{ display:block; line-height:1.2;}
	.main-desc {position: relative; color: #ffffff;}
	.main-desc img{ height: 100vh;}
	.main-desc span {position:absolute; left: 10vw; bottom: 16vh; font-size: 1.5rem;}
	.collection-box {display: block;}
	.how-to-use {display: block;}
	.manual-des h2 {font-size: 4vw; color: #333;}
	.how-to-use li {padding: 1vh 0;}
	.next-link {width: 100%;}
	.alt-link {position: absolute; top: 48px; left: 0; width: 100%; background-color: coral;}
	.next-link {line-height: 1.9em;}
	.bgclr_black {width: 244px;}
	.sub_mgt1 .how-to-use-box .how-to-use {padding:2vh 1vh 1vh 1vh;}
	.how-to-use-box {position: unset; width: 96%; height: auto;}
	.how-to-use-box .how-to-use {display: block}
	.how-to-use-box ul li:first-child {display: none;}
	.how-to-use-box ul li:last-child {display: block;}
	.desc-menu-m {display: block;}
	.alt-link p.desc-menu-pc {display: none;}
	.alt-link .bgclr_black::after{display: block; content: '*시각보조도구를 활성화한 후 상자를 터치하면 작가이름을 들을 수 있습니다.';}
	.artwork-desc-wrap.heading-text .artwork-content::before {display: block; margin: 1vw; content: ''; background: yellowgreen;}
	.main .contents {padding: 0;}


	#contents {margin-top: 33vw;}
	.artwork-pic img {width: 100vw;}
	.footer-area {position: unset; margin-left: calc(50% - 160px);	margin-top: 20px; width: auto;}
	.footer-area.footer-bg {position: absolute; bottom:2vh; left:calc(50% - 160px); margin: 0;}
	/* moblie none */
	.artwork-desc-wrap.heading-text h3 {position: unset;}
	.artwork-desc-wrap.heading-text .artwork-pic {position: unset;}
	.artwork-content {width: auto;}
	.btntop {background-color: #000000;}
	.btntop button::before {content: ''; background: ;}
	.btntop button {padding:4px; text-align: center; color: #ffffff;}

}

@media all and (max-width:768px){
	.m_news{padding:10px 12px;}
	.mobi_news{margin:20px 12px;}
	/* #contents{margin-top:0} */
}