@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; /*vertical-align:baseline;*/}

body, th, td, input, select, textarea, button{font-size: 100%; line-height: 1.3; font-family: 'Apercu-Light', 'notokr-regular'; color: #000;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block}

body{word-break:keep-all;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: 500}
ol, ul, li ,dl, dt, dd{list-style:none outside none; padding:0; margin:0}
hr{display:none}
span{margin:0; padding:0; outline:0}
fieldset, img, table, caption, tbody, tfoot, thead, tr, th, td, button, hr{border:0}
address, caption, cite, code, dfn, em, strong, th, var{font-style: normal}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content: none}
table{border-collapse:separate; border-spacing:0}
img{vertical-align:middle}
a {text-decoration:none; cursor:pointer; color: #222}
a:active, a:hover{text-decoration: none}
input, select, label{vertical-align:middle}
input, select, textarea, button{font-size: 100%; vertical-align: middle; padding: 0; margin: 0}
input, textarea{/*border-radius: 0; appearance:none; -webkit-appearance:none;*/ font-family: 'Apercu-Light', 'notokr-regular';}
button,input[type='text'],input[type='password'],input[type='tel'],input[type='num'],input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
textarea{resize:none; border:1px solid #000;}
button{border: 0 none; background-color: transparent; cursor: pointer; vertical-align: middle}
b, strong{font-weight: 600}

html, body, #wrap{
	height:100%;
}

fieldset{
    min-width: 0;
    text-overflow: ellipsis
}
@-moz-document url-prefix() {
	fieldset{
		display: table-cell;
	}
}