<footer>
  &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.

  <a id="create-kakao-link-btn" href="javascript:;">
    <img
      src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
    />
  </a>
  <script type="text/javascript">
   //<![CDATA[
    Kakao.init('10a683c6cbb8d50f9cea81b577ad12e4');
    Kakao.Link.createDefaultButton({
      container: '#create-kakao-link-btn',
      objectType: 'feed',
      content: {
        title: '#스쿨위드유',
        description: '작업소개',
        imageUrl:
          'https://sen.go.kr/schoolwithyou/img/logo.png',
        link: {
          mobileWebUrl: 'https://youneon.github.io/',
          webUrl: 'https://youneon.github.io/',
        },
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: 'https://youneon.github.io/',
            webUrl: 'https://youneon.github.io/',
          },
        },
        {
          title: '앱으로 보기',
          link: {
            mobileWebUrl: 'https://youneon.github.io/',
            webUrl: 'https://youneon.github.io/',
          },
        },
      ],
    });
     //]]>
  </script>

  <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your share button code -->
<div class="fb-share-button" 
data-href="https://youneon.github.io/" 
data-layout="button_count">
</div>

</footer>
