<footer>
  &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.

  <a id="create-kakao-link-btn" href="javascript:;">
    <img
      src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
    />
  </a>
  <script type="text/javascript">
   //<![CDATA[
    Kakao.init('10a683c6cbb8d50f9cea81b577ad12e4');
    Kakao.Link.createDefaultButton({
      container: '#create-kakao-link-btn',
      objectType: 'feed',
      content: {
        title: '정혜윤',
        description: '작업소개',
        imageUrl:
          'https://sen.go.kr/schoolwithyou/img/logo.png',
        link: {
          mobileWebUrl: 'https://youneon.github.io/',
          webUrl: 'https://youneon.github.io/',
        },
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: 'https://youneon.github.io/',
            webUrl: 'https://youneon.github.io/',
          },
        },
        {
          title: '앱으로 보기',
          link: {
            mobileWebUrl: 'https://youneon.github.io/',
            webUrl: 'https://youneon.github.io/',
          },
        },
      ],
    });
     //]]>
  </script>
</footer>
