a {
  display: inline-block;
}

b {
  font-weight: 700;
}

header {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  /* background: #fff; */
  z-index: 2;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 262px;
  height: 48px;
}

header h1 img {
  max-width: 100%;
  max-height: 100%;
}

header h1 a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

header h1 a picture {
  width: 100%;
}

/* header h1 a::before {
  content: url("/images/icon_logo.png");
  display: block;
  max-width: 100%;
  max-height: 100%;
} */

header .menu_btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

header .menu_btn::before {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 28px;
  color: #333;
}

header .menu_btn.close::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 28px;
  color: #333;
}

header .main_nav ul {
  display: flex;
  justify-content: space-between;
}

header .main_nav ul li {
  margin-right: 55px;
}

header .main_nav ul li:last-child {
  margin-right: 0;
}

header .main_nav ul li a {
  position: relative;
  display: inline-block;
  padding: 5px;
  line-height: 1.29;
  letter-spacing: -0.68px;
  font-size: 19px;
  color: #fff;
}

header .main_nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -43px;
  left: 2px;
  width: 0;
  height: 1px;
  background: #9aedff;
  transition: width 0.2s;
}

header .main_nav ul li a:hover {
  color: #9aedff;
}

header .main_nav ul li a:hover::before {
  width: 100%;
}

header .main_nav ul li.active a {
  color: #9aedff;
}

header .main_nav ul li.active a:before {
  width: 100%;
}

header .sub_nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

header .sub_nav ul {
  display: flex;
}

header .sub_nav ul li {
  position: relative;
  margin-right: 40px;
}

header .sub_nav ul li:last-child {
  margin-right: 0;
}

header .sub_nav ul li::before {
  content: "|";
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translateY(-60%);
  opacity: 0.3;
  font-size: 12px;
  color: #fff;
}

header .sub_nav ul li:last-child::before {
  display: none;
}

header .sub_nav ul li a {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff;
}

header .sub_nav ul li a::before {
  content: url("/images/icon_report.png");
  margin-top: 3px;
  margin-right: 7px;
}

header .sub_nav ul li:last-child a::before {
  content: url("/images/icon_search.png");
}

/* header .sub_nav ul li a img {
  margin-top: 3px;
  margin-right: 7px;
} */

footer {
  display: flex;
  align-items: center;
  position: relative;
  height: 100px;
  margin: 0 auto;
  border-top: 1px solid #eaeaea;
}

footer .inner1680 {
  justify-content: flex-start;
}

footer .footer_logo {
  margin-right: 35px;
}

footer .desc {
  position: relative;
  width: 630px;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: -0.56px;
  color: #a5a5a5;
}

footer .desc .privacy_btn {
  position: absolute;
  bottom: -1px;
  right: 135px;
  font-size: 14px;
  color: #4177b3;
  text-decoration: underline;
}

footer .desc .privacy_btn::before {
  content: url("/images/icon_plus.png");
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

footer .desc address {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

footer .desc address::before {
  content: "|";
  position: absolute;
  top: 0;
  right: -18px;
  color: #ddd;
  font-weight: 300;
}

footer nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  /* width: 380px; */
  margin-left: auto;
}

footer nav ul {
  display: flex;
  /* width: 380px; */
}

footer nav ul li {
  /* width: 30%; */
  margin-right: 35px;
}

footer nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

footer nav .web_mark {
  
  padding-left: 30px;
  border-left: 1px solid #ddd;
}

footer nav .web_mark a {
  display: block;
  width: 81px;
  height: 100%;
  
}

footer nav .web_mark a img {
  width: 100%;
}

.quick_menu {
  position: fixed;
  bottom: 13%;
  right: 6%;
  z-index: 1;
}

.quick_menu li {
  position: relative;
}

.quick_menu li .message {
  display: none;
  position: absolute;
  right: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 20px;
  background-color: #4177b3;
  border-radius: 26px;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.quick_menu li .message::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
  border-left: 5px solid #4177b3;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.quick_menu li:hover .message {
  display: block;
}

.blind {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.blind.on {
  display: block;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.inner1400 {
  width: 1400px;
  margin: 0 auto;
}

.inner1400::after {
  content: "";
  display: block;
  clear: both;
}

.inner1680 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1680px;
  height: 100%;
  margin: 0 auto;
}

button {
  border: none;
  font-family: "Noto Sans KR";
  cursor: pointer;
  outline: none;
}

/* button:focus {
  outline: none;
}

input {
  outline: none;
}

textarea:focus {
  outline: none;
} */

.red {
  font-style: normal;
  color: #ff0000;
}

.hidden {
  display: none !important;
}

.progress-bar {
  -webkit-transition: initial !important;
  -o-transition: initial !important;
  transition: initial !important;
}

.progress-bar.active,
.progress.active .progress-bar {
  -webkit-animation: initial !important;
  -o-animation: initial !important;
  animation: initial !important;
}

.small {
  font-size: 80%;
}

.skip_nav {
  position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

.skip_nav a {
  position: absolute;
  left: 0;
  z-index: -20;
}

.skip_nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 40px;
  background: #ee3990;
  color: #fff;
  z-index: 3;
}

.blind {
  position: absolute;
  top: -99999px;
  left: -999999px;
  width: 1px;
  height: 1px;
  color: transparent;
}