@charset "UTF-8";


#message-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
}

#message-container .message-backdrop {
    background-color: rgba(115,115,115, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
}

#message-container .message-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

#message-container .message-box.size-l {
	max-width: 840px;
}

#message-container .message-header {
    padding: 35px 30px 25px;
    
}

#message-container .message-header .message-title {
	position: relative;
	padding-left: 30px;
	line-height: 1.5;
	font-weight: 500;
    font-size: 19px;
    color: #0c2b5a;
}

#message-container .message-header .message-title::before {
	content:"!";
	display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #0c2b5a;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 800;
    color: #fff;
}

#message-container .message-body {
    max-height: 100%;
    overflow-y: auto;
    font-size: 13px;
    line-height: 1.6;
    color: #6c757d;
}

#message-container .message-content {
    
    padding: 0 30px;
    font-size: 16px;
}

#message-container .message-footer {
    padding: 30px;
    text-align: center;
}

#message-container .btn-message {
    box-sizing: border-box;
    min-width: 110px;
    min-height: 40px;
    padding: 0 10px;
    margin: 0 0.1rem;
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
}

#message-container .message-footer .btn-danger, #message-container .message-footer .btn-default {
	background:#9a9da0;
	color: #fff;
}

#message-container .message-footer .btn + .btn { margin-left: .4rem; }

#message-container textarea {
    width: 100%;
    resize: none;
    border: 1px solid #dee2e6;
    padding: 10px;
}

#message-container .message-content .box {
	border: 1px solid #ddd;
	padding: 15px;
	font-size: 15px;
}

/* 주소 검색 */
#message-container .btn-message.btn-primary {
    background: #0c2b5a;
    color: #fff;
}

#message-container .search-container {
    position: relative;
    margin-bottom: 10px;
    
}

#message-container .search-container input[type="text"] {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}

#message-container .search-container button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    background: url("/asset/images/icon_search.png") no-repeat center center;
    vertical-align: 0;
    
}

#message-container .pagenation_number {
    vertical-align: middle;
}

#message-container .message-content .search-table tbody tr {
    cursor: pointer;
}

#message-container .search-table thead th {
    height: 45px;
    padding: 0;
    background: #f9f9f9;
    border-top: 1px solid #858585;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
}

#message-container .search-table tbody td {
	padding-left: 10px;
    font-size: 14px;
}

#message-container .search-table tbody td:last-child {
    text-align: center;
    vertical-align: middle;
}

#message-container .search-table thead th:last-child {
    width: 90px;
    border-right: none;
}

/* 긴급신고 */
#message-container .message-box.urgent_modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-height: 12rem;
	max-width: 360px;
	background-color: #eef1f5;
}

#message-container .message-box.urgent_modal .message-header {
	padding: 0;
}

#message-container .message-box.urgent_modal .message-body {
	padding: 0;
}

#message-container .message-box.urgent_modal .message-content {
	max-height: none;
	padding: 60px 40px;
	text-align: center;
}

#message-container .message-box.urgent_modal .message-content .img {
	margin-bottom: 20px;
}

#message-container .message-box.urgent_modal .message-content .img.step2_img img
	{
	padding-left: 15%;
}

#message-container .message-box.urgent_modal .message-content .title {
	margin-bottom: 15px;
	line-height: 1.6;
	font-size: 20px;
	font-weight: 500;
	color: #353535;
}

#message-container .message-box.urgent_modal .message-content .title span
	{
	font-weight: 700;
	color: #0c2b5a;
}

#message-container .message-box.urgent_modal .message-content .desc {
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 500;
	color: #656565;
}

#message-container .message-box.urgent_modal .message-content .btn_group button
	{
	width: 49%;
	margin-right: 2%;
	margin-bottom: 5px;
	padding: 12px 0;
	background-color: #0c2b5a;
	font-family: "Noto Sans KR";
	font-size: 15px;
	font-weight: 500;
	color: #fff;
}

#message-container .message-box.urgent_modal .message-content .btn_group button:nth-child(2)
	{
	margin-right: 0;
}

#message-container .message-box.urgent_modal .message-content .btn_group button:last-child
	{
	width: 100%;
	margin-right: 0;
	margin-bottom: 0;
}

#message-container .message-box.urgent_modal .message-footer {
	display: none;
}

#message-container .message-box.urgent_modal .message-content .close_btn
	{
	position: absolute;
	bottom: 100%;
	right: 0;
	background-color: transparent;
	border: none;
}

/* 파일 첨부 */
#message-container .file_button {
	padding: 5px 10px;
	background: #fff;
	border: 1px solid #0c2b5a;
	font-size: 14px;
	color: #0c2b5a;
}

#message-container .file_button i {
	margin-right: 3px;
}


/* 선택 확인 */

#message-container .confirm_modal .message-header .message-title::before {
	content: "?";
}

/* 서명 모달 */
#message-container .sign_modal {
	max-width: 665px;
}

#message-container .sign_modal .show_smobile {
	display: none;
	/*
	position: absolute;
	bottom: 70px;
	left: 0;
	*/
	width:100%;
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 5px 0;
	text-align: center;
	font-size: 14px;
}

#message-container .sign_modal .show_smobile i {
	display: inline-block;
	margin: 0 10px;
	animation: udInfinity 1s infinite;
}

/* 신고, 상담, 제보하기  모달 */
#message-container .application_modal {
	max-width: 1200px;
}

#message-container .application_modal .box .title {
	position: relative;
	margin-bottom: 20px;
	padding-left: 10px;
	font-size: 17px;
	color: #252525;
}

#message-container .application_modal .box .img img {
	max-width: 100%;
}

#message-container .application_modal .box .title:before {
	content:"";
	position: absolute;
	top: 13px;
	left: 0;
	width: 3px;
	height: 3px;
	background: #252525;
}

#message-container .application_modal .message-content {
	max-height: none;
}

@media screen and (max-width: 768px) {
	#message-container .message-box { 
	max-height: 80%;
	max-width: 90%;
	}

	#message-container .message-box.sign_modal {
		height: 80%;
	}

	.sigPad {
		display: block !important;
		width: 302px !important;
		margin-bottom: 20px !important;
	}
}

@media screen and (max-width: 640px) {
	
	#message-container .message-header {
		padding: 15px 10px;
	}
	
	#message-container .message-header .message-title {
		font-size: 16px;
	}
	
	#message-container .message-header .message-title::before {
		width: 21px;
		height: 21px;
	}
	
	#message-container .message-content {
		padding: 15px;
	}
	
	#message-container .message-content .box {
		padding: 10px;
		font-size: 14px;
	}
	
	#message-container .message-footer {
		padding: 15px;
	}
	
	#message-container .btn-message {
		min-width: 85px;
	}
}


@media screen and (max-width: 360px) {
	#message-container .message-box.urgent_modal {
		height: 80%;
	}

	#message-container .sign_modal .show_smobile{
		display: block;	
	}
}

@keyframes udInfinity {
	0% {
	   transform: translateY(-15%);
	}
	50% {
		transform: translateY(15%);
	}
	100% {
	   transform: translateY(-15%);
	}
  }
  
